EJBServer/components/Workflow/xsd/Workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
  
  Copyright IBM Corporation 2012. All Rights Reserved.
 
  US Government Users Restricted Rights - Use, duplication or disclosure 
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->  
<!--
Copyright 2004-2011 Curam Software Ltd.
All rights reserved.

This software is the confidential and proprietary information of Curam
Software, Ltd. ("Confidential Information"). You shall not disclose
such Confidential Information and shall use it only in accordance with the
terms of the license agreement you entered into with Curam Software.
-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:redefine schemaLocation="./WorkflowDataObject.xsd"/>
  <xs:element name="workflow-process">
    <xs:annotation>
      <xs:documentation>The definition of a workflow
      process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="process-display-name" minOccurs="0"/>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element ref="documentation" minOccurs="0"/>
        <xs:element ref="web-service" minOccurs="0"/>
        <xs:element ref="failure-allocation-strategy" minOccurs="0"/>
        <xs:element ref="enactment-mappings" minOccurs="0"/>
        <xs:element ref="wdos" minOccurs="0"/>
        <xs:element ref="activities"/>
        <xs:element ref="transitions"/>
      </xs:sequence>
      <xs:attribute ref="id" use="required"/>
      <xs:attribute name="category" type="xs:string" use="required"/>
      <xs:attribute name="released" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>A flag indicating whether or not this process
          definition has been released for use by the workflow
          engine.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="process-version" type="xs:positiveInteger" use="required">
        <xs:annotation>
          <xs:documentation>The version of this process
          definition.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="language-version" type="xs:string" use="required" fixed="1.0">
        <xs:annotation>
          <xs:documentation>The version of the process definition language
          used to define this process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="createdBy" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the user who created the workflow process definition.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="creationDate" type="iso-date-type" use="optional">
        <xs:annotation>
          <xs:documentation>The date and time that the workflow process definition was created on.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
    <xs:key name="transition-id-key">
      <xs:annotation>
        <xs:documentation>Transition IDs are unique keys to transitions within
        a workflow process' transitions set.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="transitions/transition"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="activity-id-key">
      <xs:annotation>
        <xs:documentation>Activity IDs are unique keys to activities within a
        workflow process' activities set.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="activities/*"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="to-activity-ref" refer="activity-id-key">
      <xs:annotation>
        <xs:documentation>The "to" activity ID must be a reference to an
        existing activity.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="transitions/transition"/>
      <xs:field xpath="@to-activity-idref"/>
    </xs:keyref>
    <xs:keyref name="from-activity-ref" refer="activity-id-key">
      <xs:annotation>
        <xs:documentation>The "from" activity ID must be a reference to an
        existing activity.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="transitions/transition"/>
      <xs:field xpath="@from-activity-idref"/>
    </xs:keyref>
    <xs:keyref name="transition-id-ref" refer="transition-id-key">
      <xs:annotation>
        <xs:documentation>A transition ID must refer to an existing
        transition.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="activities/*/split/xor/transition-id"/>
      <xs:field xpath="@idref"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="activities">
    <xs:annotation>
      <xs:documentation>The set of activities in this workflow
      process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="start-process-activity"/>
          <xs:element ref="automatic-activity"/>
          <xs:element ref="manual-activity"/>
          <xs:element ref="decision-activity"/>
          <xs:element ref="subflow-activity"/>
          <xs:element ref="route-activity"/>
          <xs:element ref="loop-begin-activity"/>
          <xs:element ref="loop-end-activity"/>
          <xs:element ref="event-wait-activity"/>
          <xs:element ref="parallel-activity"/>
          <xs:element ref="end-process-activity"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="automatic-activity">
    <xs:annotation>
      <xs:documentation>The definition of an automatic
      activity</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="bpo-mapping"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="manual-activity">
    <xs:annotation>
      <xs:documentation>The definition of an manual
      activity</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="task"/>
            <xs:element ref="allocation-strategy"/>
            <xs:element ref="event-wait"/>
            <xs:element ref="biz-object-associations" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="decision-activity">
    <xs:annotation>
      <xs:documentation>The definition of an decision
      activity</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="allocation-strategy"/>
            <xs:element ref="message"/>
            <xs:element ref="decision-action"/>
            <xs:element ref="secondary-actions" minOccurs="0"/>
            <xs:element ref="question"/>
            <xs:element ref="deadline" minOccurs="0"/>
            <xs:element ref="reminders" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="question">
    <xs:annotation>
      <xs:documentation>The question for a decision activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message"/>
        <xs:choice>
          <xs:element name="free-text">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="wdo-attribute" minOccurs="0"/>
              </xs:sequence>
              <xs:attribute name="type" type="domain-type" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element ref="answers"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="answers">
    <xs:annotation>
      <xs:documentation>The list of answers for multiple choice question for a decision activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="answer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="answer-text">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="localized-text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element ref="choice-output-mapping" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="multiple-selection" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice-output-mapping">
    <xs:annotation>
      <xs:documentation>The metadata that describes how the answers will be persisted.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wdo-attribute" minOccurs="1"/>
        <xs:element name="selected-value" type="xs:string" minOccurs="0"/>
        <xs:element name="not-selected-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="input-mappings">
    <xs:annotation>
      <xs:documentation>The mappings between a parent and it's subflow.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="mapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-mappings">
    <xs:annotation>
      <xs:documentation>The mappings between a subflow and it's parent.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="mapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subflow-activity">
    <xs:annotation>
      <xs:documentation>Elements that define a subflow
      activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="subflow"/>
            <xs:element ref="input-mappings" minOccurs="0"/>
            <xs:element ref="output-mappings" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="route-activity">
    <xs:annotation>
      <xs:documentation>Elements that define a route
      activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="loop-begin-activity">
    <xs:annotation>
      <xs:documentation>The definition of an activity that begins a loop block.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="loop-type"/>
            <xs:element ref="condition"/>
            <xs:element ref="block-endpoint-ref"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="loop-end-activity">
    <xs:annotation>
      <xs:documentation>The definition of an activity that ends a loop block.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="block-endpoint-ref"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="event-wait-activity">
    <xs:annotation>
      <xs:documentation>The definition of an event wait
      activity</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
            <xs:element ref="split"/>
            <xs:element ref="event-wait"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiple-occurring-action">
    <xs:annotation>
      <xs:documentation>The multiple occurring action element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="list-wdo-name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parallel-activity">
    <xs:annotation>
      <xs:documentation>Elements that define a parallel 
      activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="list-wdo-name"/>
        <xs:choice>
          <xs:element ref="manual-activity"/>
          <xs:element ref="decision-activity"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute ref="id" use="required"/>
      <xs:attribute name="category" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-process-activity">
    <xs:annotation>
      <xs:documentation>Elements that define an the start of the
      workflow process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="split"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="end-process-activity">
    <xs:annotation>
      <xs:documentation>Elements that define an end process
      activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="activity-type">
          <xs:sequence>
            <xs:element ref="join"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="transitions">
    <xs:annotation>
      <xs:documentation>The set of transitions between activities in this
      workflow process..</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="transition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transition">
    <xs:annotation>
      <xs:documentation>The definition of the path from one activity to
      another.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="condition"/>
      </xs:sequence>
      <xs:attribute ref="id" use="required"/>
      <xs:attribute name="to-activity-idref" type="identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>A reference to the activity to which this
          transition goes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="from-activity-idref" type="identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>A reference to the activity from which this
          transition comes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="process-name-type">
    <xs:annotation>
      <xs:documentation>The name of a workflow process definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="process-display-name">
    <xs:annotation>
      <xs:documentation>The display name for the workflow process definition.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="localized-text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="description">
    <xs:annotation>
      <xs:documentation>A description of a workflow process definition.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="localized-text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-text">
    <xs:annotation>
      <xs:documentation>The text associated with a message.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="localized-text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentation" type="xs:string">
    <xs:annotation>
      <xs:documentation>A reference to documentation for a workflow
      process.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation>A parameterized text message.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Not all messages need to have parameters.</xs:documentation>
        </xs:annotation>
        <xs:element ref="message-text"/>
        <xs:element ref="message-parameters" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-parameters">
    <xs:annotation>
      <xs:documentation>An ordered list of WDO attributes that replace the
      place-holders in a message.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="parameters-type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="parameters-type">
    <xs:annotation>
      <xs:documentation>An ordered list of WDO attributes..</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded">
      <xs:element ref="wdo-attribute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actions">
    <xs:annotation>
      <xs:documentation>A list of action elements.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="action"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="action">
    <xs:annotation>
      <xs:documentation>The definition of a hyperlink to a page on which a
      task can be performed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>The message element defines the hyperlink text.
          Optional link parameters can added to the action.</xs:documentation>
        </xs:annotation>
        <xs:element ref="message"/>
        <xs:element ref="link-parameter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="multiple-occurring-action" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="page-id" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>The ID of the target page on which a user can
          begin to perform the required action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="principal-action" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>
            An optional flag indicating whether the action is classified as
            a principal action.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="open-modal" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>
            An optional flag indicating whether or not the link specified 
            for this action will open in a modal window. If set to true, then 
            the link will open in a modal; if set to false (the default) 
            then the infrastructure will decide how to open it, just like any
            other link - i.e. if the page is part of a tab configuration, 
            then it should open the appropriate tab - if not then it will 
            just replace the home page in the content area of 
            the current tab. 
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>      
    </xs:complexType>
  </xs:element>
  <xs:element name="decision-action">
    <xs:annotation>
      <xs:documentation>The action for a decision activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="secondary-actions">
    <xs:annotation>
      <xs:documentation>A list of secondary actions elements for decision activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="secondary-action"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="secondary-action">
    <xs:annotation>
      <xs:documentation>The definition of a hyperlink to a page on which to retrieve supplimentary information
      on how to perform the primary action of a decision activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>The message element defines the hyperlink text.
          Optional link parameters can added to the action.</xs:documentation>
        </xs:annotation>
        <xs:element ref="message"/>
        <xs:element ref="link-parameter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="multiple-occurring-action" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="page-id" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>The ID of a page on which a user can
          obtain information on how to perform the required action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="open-modal" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>
            An optional flag indicating whether or not the link specified 
            for this action will open in a modal window. If set to true, then 
            the link will open in a modal; if set to false (the default) 
            then the infrastructure will decide how to open it, just like any
            other link - i.e. if the page is part of a tab configuration, 
            then it should open the appropriate tab - if not then it will 
            just replace the home page in the content area of 
            the current tab. 
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>      
    </xs:complexType>
  </xs:element>
  <xs:element name="link-parameter">
    <xs:annotation>
      <xs:documentation>A name/value pair where the name attribute is the name
      of a link parameter and the value is provided by a WDO
      attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wdo-attribute"/>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>The name of the link parameter.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="biz-object-associations">
    <xs:annotation>
      <xs:documentation>A list of business object
      associations.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="biz-object-association"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="biz-object-association">
    <xs:annotation>
      <xs:documentation>An association between a manual activity and a
      business object. A WDO attribute supplies the unique ID of the business
      object.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wdo-attribute"/>
      </xs:sequence>
      <xs:attribute ref="biz-object-type" use="required">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="expression">
    <xs:annotation>
      <xs:documentation>A term or operator in a condition.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute ref="id" use="required"/>
      <xs:attribute name="data-item-lhs" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the data item to use on the left-hand
          side of the condition.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="data-item-rhs" use="required">
        <xs:annotation>
          <xs:documentation>The name of the data item to use on the right-hand
          side of the condition.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="operation" use="optional">
        <xs:annotation>
          <xs:documentation>An identifier for a logical
          operation.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="=="/>
            <xs:enumeration value="!="/>
            <xs:enumeration value="&lt;="/>
            <xs:enumeration value="&gt;="/>
            <xs:enumeration value="&lt;"/>
            <xs:enumeration value="&gt;"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="conjunction" use="optional" default="and">
        <xs:annotation>
          <xs:documentation>An identifier for a logical
          conjunction.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="and"/>
            <xs:enumeration value="or"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="function" use="optional">
        <xs:annotation>
          <xs:documentation>An identifier for a function.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="not"/>
            <xs:enumeration value="isNothing"/>
            <xs:enumeration value="isZero"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="opening-brackets" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>The number of opening brackets to
          insert.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="closing-brackets" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>The number of closing brackets to
          insert.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="condition">
    <xs:annotation>
      <xs:documentation>Defines a conditional expression.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="expression"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="expression-id-key">
      <xs:annotation>
        <xs:documentation>The expression ID is a unique key in the context of
        a condition.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="expression"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
  <xs:element name="split">
    <xs:annotation>
      <xs:documentation>Outbound transition ordering.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="transition-id"/>
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation>The type of split for an activity.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="and"/>
            <xs:enumeration value="xor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    <xs:unique name="split-transition-id-refs">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="transition-id"/>
      <xs:field xpath="@idref"/>
    </xs:unique>
  </xs:element>
  <xs:element name="join">
    <xs:annotation>
      <xs:documentation>Inbound transition synchronization.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation>The type of join for an activity.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="and"/>
            <xs:enumeration value="xor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="loop-type">
    <xs:annotation>
      <xs:documentation>Information about the type of loop.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>The type of loop - while or do-while.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="while"/>
            <xs:enumeration value="do-while"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="transition-id">
    <xs:annotation>
      <xs:documentation>A reference to a transition.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="idref" type="identifier-type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="wdo-attribute">
    <xs:annotation>
      <xs:documentation>An attribute of a WDO that can be used as a source or
      target when mapping data values.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="wdo-attribute-type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="event-match-attribute">
    <xs:annotation>
      <xs:documentation>This attribute of a WDO is populated with data that is used in the event matching mechanism.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="wdo-attribute-type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="event-output-attribute">
    <xs:annotation>
      <xs:documentation>An attribute of a WDO that additional output mapping data in an event may be mapped into.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="wdo-attribute-type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="wdos">
    <xs:annotation>
      <xs:documentation>A list of WDO definitions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="wdo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bpo-mapping">
    <xs:annotation>
      <xs:documentation>Defines how an automatic activity calls a method on a
      BPO.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="formal-parameters" minOccurs="0"/>
        <xs:element name="return" minOccurs="0">
          <xs:complexType>
            <xs:group ref="output-mapping-group"/>
            <xs:attribute name="index" type="xs:nonNegativeInteger" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="interface-name" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>
            The name of the BPO interface.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="method-name" type="field-identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>
            The name of the BPO method.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="struct">
    <xs:annotation>
      <xs:documentation>A "struct".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="field"/>
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    <xs:unique name="field-names">
      <xs:annotation>
        <xs:documentation>Field names must be unique within a
        struct.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="field"/>
      <xs:field xpath="@name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="base-type">
    <xs:annotation>
      <xs:documentation>A base type consists of a WDO attribute
      element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="wdo-attribute"/>
      </xs:sequence>
      <xs:attribute name="type" type="domain-type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:annotation>
      <xs:documentation>A "field".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="input-mapping-group"/>
      <xs:attribute name="name" type="field-identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>The name of the field (a valid Java
          identifier).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="formal-parameter">
    <xs:annotation>
      <xs:documentation>An input mapping for a BPO method
      call.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="input-mapping-group"/>
      <xs:attribute name="index" type="xs:nonNegativeInteger" use="required">
        <xs:annotation>
          <xs:documentation>The index of this parameter in the method
          signature.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="return">
    <xs:annotation>
      <xs:documentation>An output mapping for a BPO method
      call.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="index" type="xs:nonNegativeInteger" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formal-parameters">
    <xs:annotation>
      <xs:documentation>The set of formal parameter
      mappings.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="formal-parameter"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="formal-parameter-indexes">
      <xs:annotation>
        <xs:documentation>The index attributes of the formal parameter
        elements must be unique in this context.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="formal-parameter"/>
      <xs:field xpath="@index">
        <xs:annotation>
          <xs:documentation>The index values on the formal parameters must be
          unique.</xs:documentation>
        </xs:annotation>
      </xs:field>
    </xs:unique>
  </xs:element>
  <xs:element name="event-wait">
    <xs:annotation>
      <xs:documentation>Defines the events on which an activity will
      wait. It also defines the optional deadline metadata.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="events"/>
        <xs:element ref="event-output-mappings" minOccurs="0"/>
        <xs:element ref="deadline" minOccurs="0"/>
        <xs:element ref="reminders" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="wait-on-all-events" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>
            A flag to indicate if the workflow engine should wait on all of the specified 
            events before completing the activity and progressing the workflow.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="events">
    <xs:annotation>
      <xs:documentation>Defines the list of events on which a process can wait.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:annotation>
      <xs:documentation>Defines an event on which a process can wait.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="event-match-attribute"/>
        <xs:element ref="multiple-occurring-event" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="event-class" use="required">
        <xs:annotation>
          <xs:documentation>The event class of the event.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="event-type" use="required">
        <xs:annotation>
          <xs:documentation>The type of the event.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="identifier" type="identifier-type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="reminders">
    <xs:annotation>
      <xs:documentation>A list of reminders.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="reminder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reminder">
    <xs:annotation>
      <xs:documentation>Defines a reminder.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="delivery-time"/>
        <xs:element ref="notification"/>
      </xs:sequence>
      <xs:attribute name="delivery-offset" use="required">
        <xs:annotation>
          <xs:documentation>The delivery offset codetable value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="identifier-type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="delivery-time">
    <xs:annotation>
      <xs:documentation>Defines the delivery time.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="seconds" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>The specified delivery time in seconds.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="mapped-delivery-time">
          <xs:annotation>
            <xs:documentation>The mapped delivery time in seconds.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="wdo-attribute"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiple-occurring-event">
    <xs:annotation>
      <xs:documentation>Defines if the event is a multiple occurring event or not. If a
      list workflow data object has been specified as the multiple occurring event, then
      the workflow engine will create one event wait record for each item in that list
      workflow data object.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="list-wdo-name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-wdo-name" type="wdo-name-type">
    <xs:annotation>
      <xs:documentation>The name of a list workflow data object. The use of this may be in specifying multiple occurring events or multiple occurring actions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="event-output-mappings">
    <xs:annotation>
      <xs:documentation>Defines the mapping of the fields of the raised event to WDO attributes.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event-type" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="output-data" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="raised-by" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="time-raised" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deadline">
    <xs:annotation>
      <xs:documentation>
        Defines the deadline parameters and a handler.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="duration"/>
        <xs:element ref="deadline-handler" minOccurs="0"/>
        <xs:element ref="deadline-output-mappings" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="complete-activity" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="deadline-handler">
    <xs:annotation>
      <xs:documentation>
        Details of the deadline handler, including a BPO method reference
        and a list of WDO attribute mapped to the input parameters of this
        method.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="formal-parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="interface-name" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>
            The name of the BPO interface.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="method-name" type="field-identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>
            The name of the BPO method.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="deadline-output-mappings">
    <xs:annotation>
      <xs:documentation>The data that can be mapped when a deadline has expired.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="duration-expired" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="deadline-expiry-time" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="wdo-attribute-type"/>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allocation-strategy">
    <xs:annotation>
      <xs:documentation>
        Allocation strategy for a manual activity or notification.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ruleset-mappings" minOccurs="0"/>
        <xs:element ref="function-mappings" minOccurs="0"/>
        <xs:element ref="cer-set-mappings" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation>
            The type of allocation strategy for a manual activity or
            notification.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="function"/>
            <xs:enumeration value="rule"/>
            <xs:enumeration value="curam express rule"/>
            <xs:enumeration value="target"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="identifier" use="required">
        <xs:annotation>
          <xs:documentation>
            The allocation target identifier.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ruleset-mappings">
    <xs:annotation>
      <xs:documentation>
        Defines the WDO mappings to be passed to a ruleset.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="rdo-mapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdo-mapping">
    <xs:annotation>
      <xs:documentation>
        A mapping from an source wdo attribute to a target rdo attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="source-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="wdo-name" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="target-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="rdo-name" type="xs:Name" use="required"/>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cer-set-mappings">
    <xs:annotation>
      <xs:documentation>
        Defines the mappings between the WDO attributes and CER class
        attributes that will be used when a CER set is used as an 
        allocation strategy. The CER rule class that contains the 
        allocation targets is also defined in this class.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="cer-class-mapping" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="primary-class" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>
            The name of the CER class that contains the allocation
            targets when the associated allocation strategy is invoked
            at runtime.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="cer-class-mapping">
    <xs:annotation>
      <xs:documentation>
        A mapping from an source wdo attribute to a target CER 
        class attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="source-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="wdo-name" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="target-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="cer-class-name" type="xs:Name" use="required"/>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  <xs:element name="function-mappings">
    <xs:annotation>
      <xs:documentation>
        Defines the parameters that should be mapped to the allocation
        strategy function.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="formal-parameters"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subflow">
    <xs:annotation>
      <xs:documentation>Defines a subflow activity that starts a
      process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="workflow-process" type="process-name-type" use="required">
        <xs:annotation>
          <xs:documentation>A reference to another workflow
          process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="synchronous" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>Flag indicating if the activity will wait for the
          subflow to complete.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="block-endpoint-ref">
    <xs:annotation>
      <xs:documentation>References the ID of the activity that forms the opposite end of a block
      from the current activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="activity-id" type="identifier-type" use="required">
        <xs:annotation>
          <xs:documentation>A reference to another workflow activity.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:group name="input-mapping-group">
    <xs:annotation>
      <xs:documentation>Elements that define input mappings.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="struct"/>
      <xs:element ref="base-type"/>
    </xs:choice>
  </xs:group>
  <xs:group name="output-mapping-group">
    <xs:annotation>
      <xs:documentation>Elements that define output mappings.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="struct">
        <xs:annotation>
          <xs:documentation>A "struct".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="field">
              <xs:annotation>
                <xs:documentation>A "field".</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:group ref="output-mapping-group"/>
                <xs:attribute name="name" type="field-identifier-type" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="base-type">
        <xs:annotation>
          <xs:documentation>A base type consists of a WDO attribute
      element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="wdo-attribute"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:attribute name="biz-object-type">
    <xs:annotation>
      <xs:documentation>The type of a business object.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="id" type="identifier-type">
    <xs:annotation>
      <xs:documentation>A unique identifier.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:simpleType name="identifier-type">
    <xs:annotation>
      <xs:documentation>A numeric identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="process-name-type">
    <xs:annotation>
      <xs:documentation>Used to describe the name of a workflow process definition.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="254"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="description-type">
    <xs:annotation>
      <xs:documentation>A detailed description.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="field-identifier-type">
    <xs:annotation>
      <xs:documentation>An formal field name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[\w_$][\w\d_$]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="activity-type">
    <xs:annotation>
      <xs:documentation>A super type for all types of
      activity</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>The name of a workflow activity.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="localized-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element ref="notification" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="id" use="optional"/>
    <xs:attribute name="category" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:element name="enactment-mappings">
    <xs:annotation>
      <xs:documentation>The mappings that specify the enactment data for a process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="mapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="web-service">
    <xs:annotation>
      <xs:documentation>Indicates whether the process should be exposed as a web service.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="callback-service" type="xs:Name" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="expose" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="failure-allocation-strategy">
    <xs:annotation>
      <xs:documentation>An allocation strategy that may be specified and invoked if the invocation of the allocation strategy associated with a task results in no targets being returned.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="allocation-strategy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mapping">
    <xs:annotation>
      <xs:documentation>A mapping between a source WDO attribute or a struct attribute 
      and a target WDO attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="source-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="wdo-name" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="struct-name" type="xs:Name" use="optional"/>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="target-attribute">
          <xs:complexType mixed="false">
            <xs:attribute name="wdo-name" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initial-comment">
    <xs:annotation>
      <xs:documentation>A mapping to a workflow data object attribute that is used to create an initial comment for a manual activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wdo-attribute"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notification">
    <xs:annotation>
      <xs:documentation>The the details for associating a notification to an activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="subject"/>
        <xs:element ref="body"/>
        <xs:element ref="allocation-strategy"/>
        <xs:element ref="actions" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="delivery-mechanism" type="xs:Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject">
    <xs:annotation>
      <xs:documentation>The subject of a notification.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>The body of a notification.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="wdo-attribute-type">
    <xs:attribute name="name" type="wdo-name-type" use="required">
      <xs:annotation>
        <xs:documentation>The name of the WDO attribute.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wdo-name" type="wdo-name-type" use="required">
      <xs:annotation>
        <xs:documentation>Name of the WDO that contains this
        attribute.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="task">
    <xs:annotation>
      <xs:documentation>The details of the task associated with a manual activity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message"/>
        <xs:element ref="actions" minOccurs="0"/>
        <xs:element ref="task-priority" minOccurs="0"/>
        <xs:element ref="allow-deadline-override" minOccurs="0"/>
        <xs:element ref="allow-task-forwarding" minOccurs="0"/>
        <xs:element ref="administration-sid" minOccurs="0"/>
        <xs:element ref="initial-comment" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="task-priority">
    <xs:annotation>
      <xs:documentation>The priority of a manual activity task.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="priority" type="xs:string">
          <xs:annotation>
            <xs:documentation>The priority of a manual activity task as specified using a codetable value.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="mapped-priority">
          <xs:annotation>
            <xs:documentation>The priority of a manual activity task as specified using a workflow data object attribute mapping.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="wdo-attribute"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="allow-deadline-override" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>A flag to indicate if the deadline for the manual task may be overridden.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="allow-task-forwarding" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>A flag to indicate if the manual task may be forwarded.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="administration-sid" type="xs:string">
    <xs:annotation>
      <xs:documentation>A field to allow an administration security identifier to be specified for the manual task.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="iso-date-type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}[T][0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="duration">
    <xs:complexType>
      <xs:choice>
        <xs:element name="seconds" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>A span of time in seconds that specifies the length of time before the handler associated with the deadline is invoked. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="mapped-duration">
          <xs:annotation>
            <xs:documentation>The duration of time that must elapse before the handler associated with this deadline is invoked. In this instance, the duration is specified using a workflow data object attribute mapping.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="wdo-attribute"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
