EJBServer/components/CTMInfrastructure/axis/TransportService/TransportService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://remote.bs.publiclayer.ws.ctm.curam" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax21="http://exception.util.curam/xsd" xmlns:ax23="http://message.util.curam/xsd" xmlns:ax24="http://util.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax213="http://dom.w3c.org/xsd" xmlns:ax28="http://rmi.java/xsd" xmlns:ax29="http://io.java/xsd" targetNamespace="http://remote.bs.publiclayer.ws.ctm.curam">
    <wsdl:documentation>TransportService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax25="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://message.util.curam/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="CatEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="catalog" nillable="true" type="ax23:MessageCatalog"/>
                    <xs:element minOccurs="0" name="entry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageText" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageCatalog">
                <xs:sequence>
                    <xs:element minOccurs="0" name="catalog" nillable="true" type="ax25:ResourceBundle"/>
                    <xs:element minOccurs="0" name="catalogName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="ResourceBundle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="keys" nillable="true" type="ax24:Enumeration"/>
                    <xs:element minOccurs="0" name="locale" nillable="true" type="ax24:Locale"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Enumeration">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Locale">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ISO3Country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ISO3Language" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayLanguage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayVariant" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="variant" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax211="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax29:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://exception.util.curam/xsd" xmlns:ax212="http://rmi.java/xsd" xmlns:ax214="http://dom.w3c.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://remote.bs.publiclayer.ws.ctm.curam">
            <xs:import namespace="http://exception.util.curam/xsd"/>
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:import namespace="http://dom.w3c.org/xsd"/>
            <xs:element name="setSessionContext">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sc" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AppException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppException" nillable="true" type="ax27:AppException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax28:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SvrRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SvrRemoteException" nillable="true" type="ax27:SvrRemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="receiveChangeSet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xmlMessage" nillable="true" type="ax214:Document"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="receiveChangeSetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:Document"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dom.w3c.org/xsd">
            <xs:complexType name="Document">
                <xs:sequence>
                    <xs:element minOccurs="0" name="doctype" nillable="true" type="ax213:DocumentType"/>
                    <xs:element minOccurs="0" name="documentElement" nillable="true" type="ax213:Element"/>
                    <xs:element minOccurs="0" name="documentURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="domConfig" nillable="true" type="ax213:DOMConfiguration"/>
                    <xs:element minOccurs="0" name="implementation" nillable="true" type="ax213:DOMImplementation"/>
                    <xs:element minOccurs="0" name="inputEncoding" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="strictErrorChecking" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="xmlEncoding" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xmlStandalone" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="xmlVersion" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DocumentType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="entities" nillable="true" type="ax213:NamedNodeMap"/>
                    <xs:element minOccurs="0" name="internalSubset" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notations" nillable="true" type="ax213:NamedNodeMap"/>
                    <xs:element minOccurs="0" name="publicId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NamedNodeMap">
                <xs:sequence>
                    <xs:element minOccurs="0" name="length" type="xs:int"/>
                    <xs:element minOccurs="0" name="namedItem" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="namedItemNS" nillable="true" type="ax213:Node"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Node">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributes" nillable="true" type="ax213:NamedNodeMap"/>
                    <xs:element minOccurs="0" name="baseURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="childNodes" nillable="true" type="ax213:NodeList"/>
                    <xs:element minOccurs="0" name="firstChild" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="lastChild" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="localName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="namespaceURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nextSibling" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nodeType" type="xs:short"/>
                    <xs:element minOccurs="0" name="nodeValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ownerDocument" nillable="true" type="ax213:Document"/>
                    <xs:element minOccurs="0" name="parentNode" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="previousSibling" nillable="true" type="ax213:Node"/>
                    <xs:element minOccurs="0" name="textContent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NodeList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="length" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Element">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeNode" nillable="true" type="ax213:Attr"/>
                    <xs:element minOccurs="0" name="attributeNodeNS" nillable="true" type="ax213:Attr"/>
                    <xs:element minOccurs="0" name="schemaTypeInfo" nillable="true" type="ax213:TypeInfo"/>
                    <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Attr">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ownerElement" nillable="true" type="ax213:Element"/>
                    <xs:element minOccurs="0" name="schemaTypeInfo" nillable="true" type="ax213:TypeInfo"/>
                    <xs:element minOccurs="0" name="specified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TypeInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="typeNamespace" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DOMConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parameterNames" nillable="true" type="ax213:DOMStringList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DOMStringList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="length" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DOMImplementation">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax210="http://remote.bs.publiclayer.ws.ctm.curam" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:import namespace="http://remote.bs.publiclayer.ws.ctm.curam"/>
            <xs:complexType name="IOException">
                <xs:complexContent>
                    <xs:extension base="ax210:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://remote.bs.publiclayer.ws.ctm.curam" xmlns:ax26="http://message.util.curam/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.util.curam/xsd">
            <xs:import namespace="http://remote.bs.publiclayer.ws.ctm.curam"/>
            <xs:import namespace="http://message.util.curam/xsd"/>
            <xs:complexType name="AppException">
                <xs:complexContent>
                    <xs:extension base="ax22:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="arguments" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="catEntry" nillable="true" type="ax26:CatEntry"/>
                            <xs:element minOccurs="0" name="log" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="loggable" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="nestedThrowable" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="next" nillable="true" type="ax21:AppException"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="SvrRemoteException">
                <xs:complexContent>
                    <xs:extension base="ax22:Exception">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="exceptionDetails" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="numberOfContainedExceptions" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="receiveChangeSetRequest">
        <wsdl:part name="parameters" element="ns:receiveChangeSet"/>
    </wsdl:message>
    <wsdl:message name="receiveChangeSetResponse">
        <wsdl:part name="parameters" element="ns:receiveChangeSetResponse"/>
    </wsdl:message>
    <wsdl:message name="AppException">
        <wsdl:part name="parameters" element="ns:AppException"/>
    </wsdl:message>
    <wsdl:message name="RemoteException">
        <wsdl:part name="parameters" element="ns:RemoteException"/>
    </wsdl:message>
    <wsdl:message name="SvrRemoteException">
        <wsdl:part name="parameters" element="ns:SvrRemoteException"/>
    </wsdl:message>
    <wsdl:message name="setSessionContextRequest">
        <wsdl:part name="parameters" element="ns:setSessionContext"/>
    </wsdl:message>
    <wsdl:portType name="TransportServicePortType">
        <wsdl:operation name="receiveChangeSet">
            <wsdl:input message="ns:receiveChangeSetRequest" wsaw:Action="urn:receiveChangeSet"/>
            <wsdl:output message="ns:receiveChangeSetResponse" wsaw:Action="urn:receiveChangeSetResponse"/>
            <wsdl:fault message="ns:AppException" name="AppException" wsaw:Action="urn:receiveChangeSetAppException"/>
            <wsdl:fault message="ns:RemoteException" name="RemoteException" wsaw:Action="urn:receiveChangeSetRemoteException"/>
            <wsdl:fault message="ns:SvrRemoteException" name="SvrRemoteException" wsaw:Action="urn:receiveChangeSetSvrRemoteException"/>
        </wsdl:operation>
        <wsdl:operation name="setSessionContext">
            <wsdl:input message="ns:setSessionContextRequest" wsaw:Action="urn:setSessionContext"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TransportServiceSoap11Binding" type="ns:TransportServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="receiveChangeSet">
            <soap:operation soapAction="urn:receiveChangeSet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteException">
                <soap:fault use="literal" name="RemoteException"/>
            </wsdl:fault>
            <wsdl:fault name="SvrRemoteException">
                <soap:fault use="literal" name="SvrRemoteException"/>
            </wsdl:fault>
            <wsdl:fault name="AppException">
                <soap:fault use="literal" name="AppException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setSessionContext">
            <soap:operation soapAction="urn:setSessionContext" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportServiceSoap12Binding" type="ns:TransportServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="receiveChangeSet">
            <soap12:operation soapAction="urn:receiveChangeSet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteException">
                <soap12:fault use="literal" name="RemoteException"/>
            </wsdl:fault>
            <wsdl:fault name="SvrRemoteException">
                <soap12:fault use="literal" name="SvrRemoteException"/>
            </wsdl:fault>
            <wsdl:fault name="AppException">
                <soap12:fault use="literal" name="AppException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setSessionContext">
            <soap12:operation soapAction="urn:setSessionContext" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportServiceHttpBinding" type="ns:TransportServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="receiveChangeSet">
            <http:operation location="TransportService/receiveChangeSet"/>
            <wsdl:input>
                <mime:content type="text/xml" part="receiveChangeSet"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="receiveChangeSet"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setSessionContext">
            <http:operation location="TransportService/setSessionContext"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setSessionContext"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TransportService">
        <wsdl:port name="TransportServiceHttpSoap11Endpoint" binding="ns:TransportServiceSoap11Binding">
            <soap:address location="http://localhost:9082/CuramWS2/services/TransportService.TransportServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TransportServiceHttpSoap12Endpoint" binding="ns:TransportServiceSoap12Binding">
            <soap12:address location="http://localhost:9082/CuramWS2/services/TransportService.TransportServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TransportServiceHttpEndpoint" binding="ns:TransportServiceHttpBinding">
            <http:address location="http://localhost:9082/CuramWS2/services/TransportService.TransportServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
