CuramCDEJ/lib/curam/xml/schema/display-evidence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="evidence">
    <xs:annotation>
      <xs:documentation>Root element containing evidence data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:annotation>
      <xs:documentation>Element wchich groups evidence items</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="display-name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>Evidence item containing some value or optional list of values (as value elements) if more than one value is appropriate.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="initial-value" type="xs:string" use="required"/>
      <xs:attribute name="no-value" type="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="display-name" type="xs:string" use="required"/>
      <xs:attribute name="visible" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:annotation>
      <xs:documentation>Evidence item value element present in case where multiple values are relevant for single Item element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="position" type="xs:string" use="optional"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
