CuramCDEJ/lib/curam/xml/schema/dynamic-uim.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Copyright 2009-2011 Curam Software Ltd.
All rights reserved.

This software is the confidential and proprietary information of Curam
Software, Ltd. ("Confidential Information"). You shall not disclose
such Confidential Information and shall use it only in accordance with the
terms of the license agreement you entered into with Curam Software.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="INFORMATIONAL">
    <xs:annotation>
      <xs:documentation>Defines an output list field parameter of a server interface that contains informational messages to be displayed on the client</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="2">
        <xs:element ref="CONNECT"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE">
    <xs:annotation>
      <xs:documentation>This is the outer element in a page description within which everything
      else is nested. It also describes header like information regarding the
      HTML page, e.g. page ID and help ID.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="PAGE_TITLE"/>
          <xs:element ref="SERVER_INTERFACE"/>
          <xs:element ref="INFORMATIONAL"/>
          <xs:element ref="MENU"/>
          <xs:element ref="ACTION_SET"/>
          <xs:element ref="PAGE_PARAMETER"/>
          <xs:element ref="CONNECT"/>
          <xs:element ref="CLUSTER"/>
          <xs:element ref="LIST"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identifier for the page that is used to reference the page from links.
          The page id must match the filename of the user interface metadata
          file, e.g. page id xyz is in a file called xyz.uim. Furthermore, the page
          resource file associated with this page (containing externalised strings)
          must also match this name (i.e. xyz.properties in the example).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WINDOW_OPTIONS" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Sets the width and height of a modal
            dialog.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_TITLE">
    <xs:annotation>
      <xs:documentation>Used to display the title of the page using a specified style. The page title
can consist of an icon, static text and variable (context sensitive) text
retrieved from the server. The page title should always extend across the
full width of the page.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Description of the page functionality which is displayed on the page. This
string is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
        <xs:attribute name="STYLE" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
<xs:element name="CONDITION">
    <xs:annotation>
      <xs:documentation>Represents a conditional feature that is dependent on
        its context. An example is to conditionally display an Action Set when
        that Action Set is on a page that is displayed within a
        wizard.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="IS_TRUE" />
        <xs:element ref="IS_FALSE" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="IS_TRUE">
    <xs:annotation>
      <xs:documentation>Boolean test to evaluate if the parent "CONDITION"
        succeeds or fails. Evaluates to true when the property value
        is true.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>This has a value of "BROWSER" which allows access
            to properties that describe the runtime environment of the
            page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROPERTY" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the property being connected. It must
            be "inWizard" which evaluates to true when the page is used in the
            context of a wizard.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="EXTENDED_PATH" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Where the PROPERTY refers to a compound value (such
          as an XML document) from a SERVER_INTERFACE, the EXTENDED_PATH may
          be used to refer to an element of that compound value. The EXTENDED_PATH
          will be resolved using the domain marshal plug-in associated with the domain
          of the PROPERTY.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IS_FALSE">
    <xs:annotation>
      <xs:documentation>Boolean test to evaluate if the parent "CONDITION"
        succeeds or fails. Evaluates to true when the property value
        is false.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>This has a value of "CONTEXT" which allows access
            to properties that describe the runtime environment of the
            page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROPERTY" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the property being connected. It must
            be "inWizard" which evaluates to true when the page is used in the
            context of a wizard.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="EXTENDED_PATH" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Where the PROPERTY refers to a compound value (such
          as an XML document) from a SERVER_INTERFACE, the EXTENDED_PATH may
          be used to refer to an element of that compound value. The EXTENDED_PATH
          will be resolved using the domain marshal plug-in associated with the domain
          of the PROPERTY.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACTION_SET">
    <xs:annotation>
      <xs:documentation>Used to hold a group of action controls that can be associated with page,
list or cluster elements. The layout of the controls depends upon
attributes specified in this element and also on the type of element the
action set is nested within, e.g. if the action set is associated with a page,
the controls may be drawn at the top and the bottom of the page.
However, if they are associated with a cluster, they are drawn at the top
and bottom of the cluster and the location of the controls may be
affected depending on whether the cluster has a title or not.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ACTION_CONTROL" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="TOP" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if buttons are to be displayed at the top of the page/cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="BOTTOM" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if buttons are to be displayed at the bottom of the page/cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT" use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>Alignment of the action controls. The default value is DEFAULT which
equates to the same value as LEFT. The action set always uses up all
of the space available to it. The space available depends on the element
that the set is nested within. The gaps between the controls should be
consistent throughout the application and therefore should be defined in
the generator properties file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TYPE" type="ATT_AS_TYPE"
        use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>The ACTION_SET type. The default value is DEFAULT
            which renders a standard action set for a page, cluster or list.
            The value LIST_ROW_MENU indicates </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_PARAMETER">
    <xs:annotation>
      <xs:documentation>A declaration of a parameter on the current page. Once a parameter is
declared it can be used as the source of a connection by setting
the connection source bean name to "PAGE".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The parameter name.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENU">
    <xs:annotation>
      <xs:documentation>The element is used to describe a page specific menu. Action controls
       are added to the menu to represent individual menu items. The action
       control's label is used as the menu item text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ACTION_CONTROL" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CONNECT" minOccurs="0" />
      </xs:choice>
      <xs:attribute name="MODE" type="ATT_MENU_MODE" use="optional" default="STATIC"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOURCE">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data connection</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TARGET">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data connection</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONNECT">
    <xs:annotation>
      <xs:documentation>Defines a data connection between two connection end points such as
server interface bean properties, page parameters, screen controls etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="INITIAL"/>
          <xs:element ref="SOURCE" minOccurs="0"/>
          <xs:element ref="TARGET" minOccurs="0"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="SOURCE"/>
          <xs:element ref="TARGET" minOccurs="0"/>
        </xs:sequence>
        <xs:element ref="TARGET"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="SERVER_INTERFACE">
    <xs:annotation>
      <xs:documentation>A single server interface. A name must be specified that can be referred
to by other elements, e.g. source and target connection endpoints. The
Phase attribute defines when the server interface will be invoked, either
when the JSP is initiated or in response to an action control.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the bean.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CLASS" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the server interface class.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OPERATION" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the operation on the above class that the bean refers to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PHASE" type="ATT_PHASE" use="optional" default="DISPLAY">
        <xs:annotation>
          <xs:documentation>The callServer() method of any bean with a phase of DISPLAY is called
in order to render the UI when the JSP is initiated. The callServer()
method of any bean with a phase of ACTION is called in response to
a form submit operation.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ACTION_ID_PROPERTY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the bean property to be populated with
            the ID of the activated action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="INITIAL">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data connection</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION"/>
      <xs:attribute name="HIDDEN_PROPERTY" type="xs:string" use="optional"/>
      <xs:attribute name="HIDDEN_EXTENDED_PATH" type="xs:string"
                    use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LINK">
    <xs:annotation>
      <xs:documentation>Represents a page/hyperlink link.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>ID of the page that you want to link to. The special value "THIS" indicates
that the current page should be linked to without re-initialising the values of
any form fields. To link to the current page but with fields initialise, use the
page id of the current page rather than "THIS".</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OPEN_NEW" type="xs:boolean"
                             use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page should open in a new browser window
or not.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SAVE_LINK"  type="xs:boolean" 
                            use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Indicates if the current page is the new target for any action controls on the
target page that do not explicitly have a link specified.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
       <xs:attribute name="OPEN_MODAL" type="xs:boolean"
                             use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page
            should open in a modal dialog
            or not.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DISMISS_MODAL" type="xs:boolean"
                            use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page
            should remain in the currently opened modal dialog
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WINDOW_OPTIONS" type="xs:string"  use="optional">
        <xs:annotation>
          <xs:documentation>Sets options on the dialog window to be
            opened when the link is clicked.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Specifies a literal URI that the link leads to.
            This may be used for links to external sites (external to the
            application).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACTION_CONTROL">
    <xs:annotation>
      <xs:documentation>Represents a control, such as a button or hyperlink, that can be used to execute a command or link.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0"/>
        <xs:element ref="LINK" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The label used for the action control. Either this or the "image" attribute must be specified. The label attribute is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IMAGE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Pathname to a gif that is to be used for the action control. If this is specified
and the label is also specified, then the label is used as a tool tip for the gif.
The image attribute is a key into the image resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STYLE" type="xs:string" use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>This attribute defines the style in which the label and image are to be
displayed. This is changed from a fixed selection from an enumerated list of styles to simple string so that it could be overriden.
Default value is provided.
</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TYPE" type="ATT_CONTROL_TYPE" use="optional" default="ACTION">
        <xs:annotation>
          <xs:documentation>If the type is SUBMIT then the callServer() method of all of the texthelpers
with a phase of ACTION are executed.If the type is DISMISS, then the
POPUP_PAGE attribute of the PAGE element must be true.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="APPEND_ELLIPSIS" type="xs:boolean" use="optional"  
                            default="true">
        <xs:annotation>
           <xs:documentation>
                   Flag that  specifies whether or not to append the ellipsis character.
           </xs:documentation>
        </xs:annotation>
     </xs:attribute>
     <xs:attribute name="ALIGNMENT" type="ATT_AC_ALIGNMENT"
        use="optional" default="RIGHT">
        <xs:annotation>
          <xs:documentation>Alignment of the action controls. The default value
             is RIGHT. </xs:documentation>
        </xs:annotation>
     </xs:attribute>
     <xs:attribute name="ACTION_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Used for associating a custom identifier
            with this action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONTAINER">
    <xs:annotation>
      <xs:documentation>Used to group other fields, images, or action controls. This allows the developer
to combine sequences of these elements into a single cell in a cluster
or a list, e.g. a developer may want to combine first name and
surname properties of a server interface bean to be displayed in a
single "Full Name" field of a cluster.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="FIELD"/>
          <xs:element ref="ACTION_CONTROL"/>
          <xs:element ref="WIDGET"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Label associated with the container. This is a key into the page resource
file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT" use="optional" default="100%"/>
      <xs:attribute name="SEPARATOR" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Text used to separate items in the action control. The default is a single
space character.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT" use="optional"
                    default="DEFAULT" />
      <xs:attribute name="STYLE" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLUSTER">
    <xs:annotation>
      <xs:documentation>Used to define the layout for a group of logically related fields.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0"/>
        <xs:element ref="ACTION_SET" minOccurs="0"/>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="FIELD"/>
            <xs:element ref="CONTAINER"/>
            <xs:element ref="CLUSTER"/>
            <xs:element ref="LIST"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Title of the cluster. The generator may automatically add a separator such as ":" to the label. The title attribute is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SUMMARY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Summary of the cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NUM_COLS" type="xs:positiveInteger" use="optional" default="1">
        <xs:annotation>
          <xs:documentation>Number of columns in the cluster. This is the number of data columns.
If the SHOW_LABELS flag is set, each column has an associated
column of labels within the cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SHOW_LABELS" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if the labels associated with the fields in the cluster
should be displayed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TAB_ORDER" type="ATT_TAB_ORDER" use="optional" default="COLUMN"/>
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The CSS style for this cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A description associated with the cluster. A key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL_WIDTH" type="ATT_INTEGER_OR_PERCENT" 
        use="optional" default="50"/>
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="100" />
      <xs:attribute name="LAYOUT_ORDER" type="ATT_LAYOUT_ORDER"
        use="optional" default="LABEL" />
      <xs:attribute name="BEHAVIOR" type="ATT_BEHAVIOR" use="optional"
        default="NONE">
        <xs:annotation>
          <xs:documentation>
            Custom behaviors that can be set on this cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCROLL_HEIGHT" type="xs:integer"
        use="optional">
        <xs:annotation>
          <xs:documentation>
            Flag indicating the maximum height in pixels of a scrollable
            CLUSTER.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIST">
    <xs:annotation>
      <xs:documentation>Defines the layout of a control that is used to display a list of data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ACTION_SET" minOccurs="0"/>
        <xs:element ref="CONDITION" minOccurs="0" />
        <xs:sequence>
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="FIELD"/>
            <xs:element ref="CONTAINER"/>
            <xs:element ref="WIDGET"/>
            <xs:element ref="DETAILS_ROW" minOccurs="0" maxOccurs="1"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Title of the list. The generator may automatically add a separator such as
":" to the label. The title attribute is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SUMMARY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Summary of the cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A description associated with the list. A key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
       <xs:attribute name="STYLE" type="xs:string" use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>The CSS style for this list.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="100" />
      <xs:attribute name="BEHAVIOR" type="ATT_BEHAVIOR" use="optional"
        default="NONE">
        <xs:annotation>
          <xs:documentation>
            Custom behaviors that can be set on a listr.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCROLL_HEIGHT" type="xs:integer"
        use="optional">
        <xs:annotation>
          <xs:documentation>
            Flag indicating the maximum height in pixels of a scrollable LIST.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIELD">
    <xs:annotation>
      <xs:documentation>Defines a data entry or display field and its associated label.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="3"/>
        <xs:element ref="LINK" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Item's label. The value is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CONTROL" type="ATT_CONTROL" use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>The type of control that is used to display the data value. If left blank,
the default control type (defined in a configuration file) for the data type
is used. FieldControl is an enumeration initially consisting of the value
DEFAULT. The generator chooses the default control style based on
the datatype, editability, and code table associated with the server
interface properties to which the field is mapped. Value of "SKIP" indicates that
the field is only present to occupy space in a CLUSTER to balance the layout.
No label or value will be displayed. The label background will still be presented,
however.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="xs:integer" use="optional" default="100"/>
      <xs:attribute name="WIDTH_UNITS" type="ATT_WIDTH_UNITS" use="optional" default="PERCENT"/>
      <xs:attribute name="USE_BLANK" type="xs:boolean" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>If the field value comes from a code table and this is an input field, this
attribute controls whether a blank value will be inserted into the list of codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT" use="optional"
                    default="DEFAULT" />
      <xs:attribute name="MANDATORY" type="xs:boolean" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>If the field is an input field and its target has an extended path, this
attribute indicates if the field is mandatory or not</xs:documentation>
        </xs:annotation>
      </xs:attribute>      
      <xs:attribute name="USE_DEFAULT" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>If the field has no source connection and this is an input field, this
attribute controls whether a default value will be used for the field. For
code table fields, this will be the default code. For date or date-time
fields, this will be current data or date-time.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HEIGHT" type="xs:positiveInteger" use="optional" default="1">
        <xs:annotation>
          <xs:documentation>Data item height.This value is the number of lines of text available in the
control. Associated label must be set to the same height. This is
particularly useful for things like description fields.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DOMAIN" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The domain name to associate with this field for
          the purpose of selecting a renderer. This domain may be used instead
          of the domain inferred from the field's connections to server
          interface properties. This attribute may only be used if the field
          has connections that use the "EXTENDED_PATH"
          attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
       <xs:attribute name="APPEND_ELLIPSIS" type="xs:boolean" use="optional"  
                     default="true">
        <xs:annotation>
           <xs:documentation>Flag that  specifies whether or not to append the 
             ellipsis character.
           </xs:documentation>
        </xs:annotation>
     </xs:attribute>
     <xs:attribute name="CONFIG" type="xs:string" use="optional">
       <xs:annotation>
         <xs:documentation>Flag to indicate whether the names should be 
           displayed for codetable hierarchies on each drop down.         
         </xs:documentation>
       </xs:annotation>
     </xs:attribute>
     <xs:attribute name="PROMPT"  type="xs:string"  use="optional">
        <xs:annotation>
          <xs:documentation>Custom prompt of this field.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WIDGET">
    <xs:annotation>
      <xs:documentation>Defines a special widget to handle a complex input or output task.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="WIDGET_PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="ATT_WIDGET_TYPE" use="required"/>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Widget's label. The value is a key
            into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WIDGET_PARAMETER">
    <xs:annotation>
      <xs:documentation>Defines a parameter to a WIDGET element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the widget parameter.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="INLINE_PAGE">
    <xs:annotation>
      <xs:documentation>Allows a UIM page to be opened inline in another
        UIM.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>ID of the page that you want to embed in-line.
            Cannot be the same ID as the current page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DETAILS_ROW">
    <xs:annotation>
      <xs:documentation>Defines the content to be displayed when a row in a LIST
        is expanded.Currently only the INLINE_PAGE element is supported as a
        child element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0"  maxOccurs="1"/>
        <xs:element ref="INLINE_PAGE" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
       <xs:attribute name="MINIMUM_EXPANDED_HEIGHT" type="xs:positiveInteger" 
                     use="optional">
        <xs:annotation>
          <xs:documentation>A minimum allowed expanded height of the details
          row in pixels.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ATT_WIDTH_UNITS">
    <xs:annotation>
      <xs:documentation>Field width units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="PERCENT"/>
      <xs:enumeration value="CHARS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_ALIGNMENT">
    <xs:annotation>
      <xs:documentation>Alignment of the controls within the
        container.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="CENTER" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_AS_TYPE">
    <xs:annotation>
      <xs:documentation>ACTION_SET type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="LIST_ROW_MENU" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_CONTROL_TYPE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ACTION"/>
      <xs:enumeration value="SUBMIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_LAYOUT_ORDER">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="FIELD" />
      <xs:enumeration value="LABEL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_INTEGER_OR_PERCENT">
    <xs:annotation>
      <xs:documentation>The width. Specified as a percentage of the space available. The XML
attribute should be allowed to contain a trailing percent sign ("%") which
is removed before converting to an integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+[%]?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_TAB_ORDER">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="COLUMN"/>
      <xs:enumeration value="ROW"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_BEHAVIOR">
    <xs:annotation>
      <xs:documentation>Custom behavior of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="EXPANDED" />
      <xs:enumeration value="COLLAPSED" />
      <xs:enumeration value="NONE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_CONTROL">
    <xs:annotation>
      <xs:documentation>Alters the displayed widget</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="DEFAULT"/>
      <xs:enumeration value="SKIP"/>
      <xs:enumeration value="CT_HIERARCHY_HORIZONTAL"/>
      <xs:enumeration value="CT_HIERARCHY_VERTICAL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_WIDGET_TYPE">
    <xs:annotation>
      <xs:documentation>Defines the type of widget to use.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="SINGLESELECT"/>
      <xs:enumeration value="MULTISELECT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_PHASE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="DISPLAY"/>
      <xs:enumeration value="ACTION"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="ATG_CONNECTION">
    <xs:attribute name="NAME" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name of the bean that supplies or consumes the
         data. This name is either the name of a server interface bean declared on the
         page, or the name "PAGE" which implies a page parameter connection, or 
         "TEXT" which implies a static text connection.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PROPERTY" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name of the property being connected. For a server 
        interface bean this is a bean property, for the "PAGE" bean it is a page 
        parameter name (which must previously have been declared in a Page
        Parameter element on the Page), for a "TEXT" bean it is a literal text value or 
        "CONSTANT" which means an application-wide literal text value sourced from
         Constants.properties.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EXTENDED_PATH" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Where the PROPERTY refers to a compound value (such
        as an XML document) from a SERVER_INTERFACE, the EXTENDED_PATH may
        be used to refer to an element of that compound value. The EXTENDED_PATH
        will be resolved using the domain marshal plug-in associated with the domain
        of the PROPERTY.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="ATT_MENU_MODE">
    <xs:annotation>
      <xs:documentation>Page menu mode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="STATIC"/>    
      <xs:enumeration value="NAVIGATION"/>
      <xs:enumeration value="IN_PAGE_NAVIGATION"/>
      <xs:enumeration value="WIZARD_PROGRESS_BAR"/>      
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
