CuramCDEJ/lib/curam/xml/schema/file-edit-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="BOOKMARK">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="NAME" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BOOKMARKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BOOKMARK" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIELD">
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required"/>
      <xs:attribute name="VALUE" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIELDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FIELD" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FIELDS"/>
        <xs:element ref="BOOKMARKS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
