CuramCDEJ/lib/curam/xml/schema/generated-legacy-page-hierarchy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PAGE_REF">
		<xs:complexType>
			<xs:attribute name="VISIBLE" type="xs:boolean"/>
			<xs:attribute name="TITLE" type="xs:string"/>
			<xs:attribute name="PAGE_ID" type="xs:string"/>
			<xs:attribute name="HOME_PAGE" type="xs:boolean"/>
			<xs:attribute name="HIGHLIGHT_PAGE_ID" type="xs:string"/>
			<xs:attribute name="DEFAULT" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_PARAMETER">
		<xs:complexType>
			<xs:attribute name="NAME" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_GROUP">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PAGE_GROUP" maxOccurs="unbounded"/>
				<xs:element ref="PAGE_REF" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="PAGE_PARAMETER" maxOccurs="unbounded"/>
					<xs:element ref="PAGE_REF" maxOccurs="unbounded"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="PAGE_GROUP"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="PAGE_REF"/>
							<xs:element ref="PAGE_GROUP"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="VISIBLE" type="xs:boolean"/>
			<xs:attribute name="TITLE" use="required" type="xs:string"/>
			<xs:attribute name="PARENT_TARGET" type="xs:string"/>
			<xs:attribute name="PARENT" type="xs:string"/>
			<xs:attribute name="PAGE_ID" type="xs:string"/>
			<xs:attribute name="GROUP_ID" use="required" type="xs:string"/>
			<xs:attribute name="DEFAULT_PAGE" type="xs:string"/>
			<xs:attribute name="APPLICATION" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
