CuramCDEJ/lib/curam/xml/schema/payment-statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ACTUAL_AMOUNT" type="xs:double"/>
  <xs:element name="DIFF_AMOUNT" type="xs:double"/>
  <xs:element name="FROM_DATE" type="xs:string"/>
  <xs:element name="ITEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TYPE"/>
        <xs:element ref="ACTUAL_AMOUNT"/>
        <xs:element ref="REASSESS_AMOUNT"/>
        <xs:element ref="DIFF_AMOUNT"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT_STATEMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROW"/>
        <xs:element ref="TOTAL_GROSS"/>
        <xs:element ref="TOTAL_TAX"/>
        <xs:element ref="TOTAL_UTILITY"/>
        <xs:element ref="TOTAL_LIABILITY"/>
        <xs:element ref="TOTAL_NET"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REASSESS_AMOUNT" type="xs:double"/>
  <xs:element name="REASSESS_INFO_ID" type="xs:byte"/>
  <xs:element name="ROW">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="REASSESS_INFO_ID"/>
        <xs:element ref="FROM_DATE"/>
        <xs:element ref="TO_DATE"/>
        <xs:element ref="ITEM"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOTAL_GROSS" type="xs:double"/>
  <xs:element name="TOTAL_LIABILITY" type="xs:double"/>
  <xs:element name="TOTAL_NET" type="xs:double"/>
  <xs:element name="TOTAL_TAX" type="xs:double"/>
  <xs:element name="TOTAL_UTILITY" type="xs:double"/>
  <xs:element name="TO_DATE" type="xs:string"/>
  <xs:element name="TYPE" type="xs:string"/>
</xs:schema>
