CuramCDEJ/lib/curam/xml/schema/uim.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Licensed Materials - Property of IBM

PID 5725-H26

Copyright IBM Corporation 2006,2020. All rights reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="INCLUDE">
    <xs:annotation>
      <xs:documentation>Used to include another XML file at this
        point</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VIEW">
    <xs:annotation>
      <xs:documentation>Alternative ROOT element, only valid
        in view files</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PAGE_TITLE" minOccurs="0" />
        <xs:element ref="SHORTCUT_TITLE" minOccurs="0" />
        <xs:element ref="SERVER_INTERFACE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="MENU" minOccurs="0" maxOccurs="2" />
        <xs:element ref="ACTION_SET" minOccurs="0" />
        <xs:element ref="PAGE_PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="unbounded" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="JSP_SCRIPTLET" />
          <xs:element ref="CLUSTER" />
          <xs:element ref="LIST" />
        </xs:choice>
        <xs:element ref="SCRIPT" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_GROUP">
    <xs:annotation>
      <xs:documentation>Alternative ROOT element, only valid
        in page hierarchy files</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PAGE_PARAMETER" minOccurs="0"
          maxOccurs="unbounded" />
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="PAGE_REF" />
          <xs:element ref="PAGE_GROUP_REF" />
          <xs:element ref="PAGE_GROUP" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="GROUP_ID" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="TITLE" type="xs:string" use="required" />
      <xs:attribute name="VISIBLE" type="xs:boolean" use="optional"
        default="true" />
      <xs:attribute name="APPLICATION" type="xs:string" use="required" />
      <xs:attribute name="PAGE_ID" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="PARENT_TARGET" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Defines the page in the parent group
            the up-arrow should link to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_GROUP_REF">
    <xs:annotation>
      <xs:documentation>Reference to a PAGE_GROUP, only valid
        in page hierarchy</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required" />
      <xs:attribute name="VISIBLE" type="xs:boolean" use="optional"
        default="true" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_REF">
    <xs:annotation>
      <xs:documentation>Reference to a PAGE, only valid in page
        hierarchy</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="PAGE_ID" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="TITLE" type="xs:string" use="optional" />
      <xs:attribute name="VISIBLE" type="xs:boolean" use="optional"
        default="true" />
      <xs:attribute name="DEFAULT" type="xs:boolean" use="optional"
        default="false" />
      <xs:attribute name="HOME_PAGE" type="xs:boolean" use="optional"
        default="false" />
      <xs:attribute name="HIGHLIGHT_PAGE_ID" type="xs:NMTOKEN" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="INFORMATIONAL">
    <xs:annotation>
      <xs:documentation>Defines an output list field parameter of
        a server interface that contains informational messages to be
        displayed on the client</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="2">
        <xs:element ref="CONNECT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE">
    <xs:annotation>
      <xs:documentation>This is the outer element in a page description within
        which everything else is nested. It also describes header like
        information regarding the HTML page, e.g. page ID and help
        ID.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="FIELD" />
          <xs:element ref="CONTAINER" />
          <xs:element ref="WIDGET" />
          <xs:element ref="INCLUDE" />
          <xs:element ref="PAGE_TITLE" />
          <xs:element ref="SHORTCUT_TITLE" />
          <xs:element ref="TAB_NAME" />
          <xs:element ref="SERVER_INTERFACE" />
          <xs:element ref="INFORMATIONAL" />
          <xs:element ref="MENU" />
          <xs:element ref="ACTION_SET" />
          <xs:element ref="PAGE_PARAMETER" />
          <xs:element ref="CONNECT" />
          <xs:element ref="JSP_SCRIPTLET" />
          <xs:element ref="CLUSTER" />
          <xs:element ref="LIST" />
          <xs:element ref="SCRIPT" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identifier for the page that is used to reference
            the page from links. The page id must match the filename of the user
            interface metadata file, e.g., page ID "xyz" is in a file called
            "xyz.uim". Furthermore, the page resource file associated with this
            page (containing externalized strings) must also match this name
            (i.e., "xyz.properties" in this example).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCRIPT_FILE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The URL (absolute or relative) to the script file
            containing the JavaScript functions that are specified in the ACTION
            attribute of SCRIPT elements on the page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="POPUP_PAGE" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates if the page should be displayed using a
            popup window rather than embedded in the browser. Popup pages do not
            have selector bars or some other navigation
            features.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="APPEND_COLON" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Overrides the application setting of appending a
            colon to the end of labels. This way, each page can be set up
            independently on a page by page setting.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HIDE_CONDITIONAL_LINKS" type="xs:boolean"
        use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Overrides the application setting
            of hiding conditional links in a LIST.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="COMPONENT_STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the component style that
            associates this page with a component renderer.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TYPE" type="ATT_PAGE_TYPE" use="optional"
        default="DEFAULT" />
      <xs:attribute name="WINDOW_OPTIONS" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Sets the width and height of a modal
            dialog.</xs:documentation>
        </xs:annotation>
      </xs:attribute>   
    </xs:complexType>
  </xs:element>
  <xs:element name="TITLE">
    <xs:annotation>
      <xs:documentation>Used to display the title of a cluster or
        list. It can consist of an icon, static text and variable
        (context sensitive) text retrieved from the server.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="SEPARATOR" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Attribute to specify string to
            seperate each of the data values</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="LABEL">
    <xs:annotation>
      <xs:documentation>Used to display the label of a field. It can
        consist of an icon, static text and variable (context sensitive)
        text retrieved from the server.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="SEPARATOR" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Attribute to specify string to
            seperate each of the data values</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_TITLE">
    <xs:annotation>
      <xs:documentation>Used to display the title of the page using a specified
        style. The page title can consist of an icon, static text and variable
        (context sensitive) text retrieved from the server. The page title
        should always extend across the full width of the
        page.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Description of the page
            functionality which is displayed on the page. This
            string is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The CSS style in which the page title is
            drawn.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ICON" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Icon for the page. The string is a key
            into the image property file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHORTCUT_TITLE">
    <xs:annotation>
      <xs:documentation>Used to indicate that the page should be added to the
        "Recent Items List" (a navigation facility in the Browser Client). It
        also specifies how the the title of the recent item should be
        constructed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ICON" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Icon for the recent Item. The string is a key into
            the CDEJResources.properties file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TAB_NAME">
    <xs:annotation>
      <xs:documentation>Tab name.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ICON" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Icon for the tab. The string is a key
            into the CDEJResources.properties file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONDITION">
    <xs:annotation>
      <xs:documentation>Represents a conditional feature that is dependent on
        its context. An example is to conditionally display an Action Set when
        that Action Set is on a page that is displayed within a
        wizard.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="IS_TRUE" />
        <xs:element ref="IS_FALSE" />
        <xs:element ref="SCRIPT" />
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string" use="optional"
        default="STATIC">
        <xs:annotation>
          <xs:documentation>The type of the condition. The static condition is
        evaluated at the page rendering time, while the dynamic condition is
        designed to evaluate at runtime using the specified display expression.
        The dynamic condition is only allowed in the context of CLUSTER 
        element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IS_TRUE">
    <xs:annotation>
      <xs:documentation>Boolean test to evaluate if the parent "CONDITION"
        succeeds or fails. Evaluates to true when the property value
        is true.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>This has a value of "BROWSER" which allows access
            to properties that describe the runtime environment of the
            page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROPERTY" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the property being connected. It must
            be "inWizard" which evaluates to true when the page is used in the
            context of a wizard.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IS_FALSE">
    <xs:annotation>
      <xs:documentation>Boolean test to evaluate if the parent "CONDITION"
        succeeds or fails. Evaluates to true when the property value
        is false.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>This has a value of "CONTEXT" which allows access
            to properties that describe the runtime environment of the
            page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROPERTY" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the property being connected. It must
            be "inWizard" which evaluates to true when the page is used in the
            context of a wizard.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACTION_SET">
    <xs:annotation>
      <xs:documentation>Used to hold a group of action controls that can be
        associated with page, list or cluster elements. The layout of the
        controls depends upon attributes specified in this element and also on
        the type of element the action set is nested within, e.g., if the action
        set is associated with a page, the controls may be drawn at the top and
        the bottom of the page. However, if they are associated with a cluster,
        they are drawn at the top and bottom of the cluster and the location of
        the controls may be affected depending on whether the cluster has a
        title or not.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0" />
        <xs:element ref="ACTION_CONTROL" maxOccurs="unbounded" />
        <xs:element ref="SEPARATOR" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="TOP" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if buttons are to be
            displayed at the top of the page/cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MAX_INLINE_ITEMS" type="xs:integer"
        use="optional">
        <xs:annotation>
          <xs:documentation>Maximum number of menu items to be displayed inline</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="BOTTOM" type="xs:boolean" use="optional"
        default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if buttons are to be
            displayed at the bottom of the page/cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT"
        use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>Alignment of the action controls. The default value
            is DEFAULT which equates to the same value as LEFT. The action set
            always uses up all of the space available to it. The space available
            depends on the element that the set is nested within. The gaps
            between the controls should be consistent throughout the application
            and therefore should be defined in the generator properties
            file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TYPE" type="ATT_AS_TYPE"
        use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>The ACTION_SET type. The default value is DEFAULT
            which renders a standard action set for a page, cluster or list.
            The value LIST_ROW_MENU indicates </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGE_PARAMETER">
    <xs:annotation>
      <xs:documentation>A declaration of a parameter on the current page. Once a
        parameter is declared it can be used as the source of a connection by
        setting the connection source bean name to "PAGE".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The parameter name.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENU">
    <xs:annotation>
      <xs:documentation>The element is used to describe a page specific menu.
        There are different types of menus supported which is controlled by the value
        of the mode attribute. The default menu type is STATIC. For some menu 
        types, action controls are added to the menu to represent individual menu 
        items. The action control's label is used as the menu item text. Other menu 
        types support connections which allow data to be passed into the process
        that is generating the menu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ACTION_CONTROL" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="CONNECT" minOccurs="0" />
      </xs:choice>
      <xs:attribute name="MODE" type="ATT_MENU_MODE" use="optional"
        default="STATIC" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOURCE">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data
        connection.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TARGET">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data
        connection.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CONNECT">
    <xs:annotation>
      <xs:documentation>Defines a data connection between two (sometimes three)
        connection end points such as server interface bean properties, page
        parameters, screen controls, etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="INITIAL" />
          <xs:element ref="SOURCE" minOccurs="0" />
          <xs:element ref="TARGET" minOccurs="0" />
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="SOURCE" />
          <xs:element ref="TARGET" minOccurs="0" />
        </xs:sequence>
        <xs:element ref="TARGET" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIST_CONNECT">
    <xs:annotation>
      <xs:documentation>Defines a data connection between two
        connection end points. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SOURCE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="TARGET" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  <xs:element name="SEPARATOR">
    <xs:annotation>
      <xs:documentation>Defines a separator that displays between action controls
        in the page actions menu.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SERVER_INTERFACE">
    <xs:annotation>
      <xs:documentation>A single server interface. A name must be specified that
        can be referred to by other elements, e.g. source and target connection
        end points. The Phase attribute defines when the server interface will
        be invoked, either when the JSP is initiated or in response to an action
        control.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the bean.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CLASS" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the server interface class.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OPERATION" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the operation on the above
            class that the bean refers to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PHASE" type="ATT_PHASE" use="optional"
        default="DISPLAY">
        <xs:annotation>
          <xs:documentation>The callServer() method of any bean with a phase of
            DISPLAY is called in order to render the UI when the JSP is
            initiated. The callServer() method of any bean with a phase of
            ACTION is called in response to a form submit
            operation.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ACTION_ID_PROPERTY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the bean property to be populated with
            the ID of the activated action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="INITIAL">
    <xs:annotation>
      <xs:documentation>Defines one endpoint of a data
        connection.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ATG_CONNECTION" />
      <xs:attribute name="HIDDEN_PROPERTY" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LINK">
    <xs:annotation>
      <xs:documentation>Represents a page/hyperlink link.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="CONDITION" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>ID of the page that you want to link to. The special
            value "THIS" indicates that the current page should be linked to
            without re-initializing the values of any form fields. To link to
            the current page but with fields initialized, use the page ID of the
            current page rather than "THIS".</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PAGE_ID_REF" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to the ID of the page that you want to
            link to. The actual page ID is read from the CuramLinks.properties
            file using this reference as the key.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OPEN_NEW" type="xs:boolean" use="optional"
        default="false">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page should open in a
            new browser window or not.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OPEN_MODAL" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page should open in a
            modal dialog or not.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DISMISS_MODAL" type="xs:boolean"
        use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Indicates whether the linked page should remain in
            the currently opened modal dialog.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SAVE_LINK" type="xs:boolean" use="optional"
        default="true">
        <xs:annotation>
          <xs:documentation>Indicates if the current page is the new target for
            any action controls on the target page that do not explicitly have a
            link specified.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URL" type="xs:string" use="optional" />
      <xs:attribute name="URI" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Elder attribute URL or newer URI are used to specify
            a particular URI the link leads to. URL and URI should not be used
            together. URI is preferable, URL being left for backward
            compatibility.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI_REF" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to the ID of the resource (URI) that you
            want to link to. The actual path is read from the
            CuramLinks.properties file using this reference as the
            key.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI_SOURCE_NAME" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to a declared on page data access
            component containing field with URI data. The field is specified via
            URI_SOURCE_PROPERTY attribute which should be used along with
            URI_SOURCE_NAME.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI_SOURCE_PROPERTY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to a field in the data access component
            containing data of URI this link should connect to. Data access
            component is specified via URI_SOURCE_NAME attribute and should be
            declared on the page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SET_HIERARCHY_RETURN_PAGE" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates that this link goes to a page that is part
            of a page hierarchy group and that the group's up-arrow should
            return to the current page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="USE_HIERARCHY_RETURN_PAGE" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates that this link will save the last page to
            be set as a hierarchy return page with the SET_HIERARCY_RETURN_PAGE
            attribute and pass it on to the next page. This feature can be used
            when navigating outside of a page group, but when you want to return
            to the group you still want the group's up-arrow to use the last
            page set with SET_HIERARCY_RETURN_PAGE. An example is navigating out
            of a group to an edit page and then clicking the cancel
            button.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HOME_PAGE" type="xs:boolean" use="optional"
        default="false">
        <xs:annotation>
          <xs:documentation>Indicates that the link will target
            user home page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WINDOW_OPTIONS" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Sets options on the dialog window to be
            opened when the link is clicked.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACTION_CONTROL">
    <xs:annotation>
      <xs:documentation>Represents a control, such as a button or hyperlink,
        that can be used to execute a command or link.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LINK" minOccurs="0" />
        <xs:element ref="CONNECT" minOccurs="0" />
        <xs:element ref="SCRIPT" minOccurs="0" />
        <xs:element ref="CONDITION" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The label used for the action control. Either this
            or the "image" attribute must be specified. The label attribute is a
            key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL_ABBREVIATION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Text used to abbreviate action control
            label for table headers.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IMAGE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Pathname to a GIF that is to be used for the action
            control. If this is specified and the label is also specified, then
            the label is used as a tool tip for the GIF. The image attribute is
            a key into the image resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>This attribute defines the style in which the label
            and image are to be displayed. This is changed from a fixed
            selection from an enumerated list of styles to simple string so
            that it could be overridden. Default value is
            provided.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CONFIRM" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Flag indicating if a confirmation dialog should be
            displayed before we execute the action. This is not Section 508
            compliant and therefore should only be used when Section 508
            compliance (or other disability standards) is not a
            requirement.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TYPE" type="ATT_CONTROL_TYPE"
        use="optional" default="ACTION">
        <xs:annotation>
          <xs:documentation>If the type is SUBMIT then the callServer() method
            of all of the TextHelpers with a phase of ACTION are executed. If
            the type is DISMISS, then the POPUP_PAGE attribute of the PAGE
            element must be true.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DEFAULT" type="xs:boolean" use="optional"
        default="false" />
      <xs:attribute name="ACTION_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Used for associating a custom identifier
            with this action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_AC_ALIGNMENT"
        use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>Alignment of the action controls. The default value
            is DEFAULT which equates to the same value as RIGHT. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
        <xs:attribute name="APPEND_ELLIPSIS" type="xs:boolean" use="optional"  default="true">
            <xs:annotation>
                <xs:documentation>
                   Flag that  specifies whether or not to append the ellipsis character.
                </xs:documentation>
            </xs:annotation>
     </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IMAGE">
    <xs:annotation>
      <xs:documentation>Specifies an image to be included in
        the page.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="IMAGE" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Pathname to a GIF that is to be used for the action
            control. The image attribute is a key into the image resource file.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The label used as the "alt" text of the image.The
            label attribute is a key into the page resource file.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>This attribute defines the CSS style in which the
            image is to be displayed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONTAINER">
    <xs:annotation>
      <xs:documentation>Used to group other fields, images, or action controls.
        This allows the developer to combine sequences of these elements into a
        single cell in a cluster or a list, e.g. a developer may want to combine
        first name and surname properties of a server interface bean to be
        displayed in a single "Full Name" field of a cluster.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="FIELD" />
          <xs:element ref="IMAGE" />
          <xs:element ref="ACTION_CONTROL" />
          <xs:element ref="WIDGET" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Label associated with the container.
            This is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="100%" />
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT"
        use="optional" default="DEFAULT" />
      <xs:attribute name="SEPARATOR" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Text used to separate items in the action control.
            The default is a single space character.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL_ABBREVIATION" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>Text used to abbreviate container label
            for table headers.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STYLE" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLUSTER">
    <xs:annotation>
      <xs:documentation>Used to define the layout for a group of
        logically related fields.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0" />
        <xs:element ref="TITLE" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="ACTION_SET" minOccurs="0" />
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="FIELD" />
            <xs:element ref="WIDGET" />
            <xs:element ref="CONTAINER" />
            <xs:element ref="CLUSTER" />
            <xs:element ref="LIST" />
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Title of the cluster. The generator may
            automatically add a separator such as ":" to the label. The title
            attribute is a key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SUMMARY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Summary of the cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NUM_COLS" type="xs:positiveInteger"
        use="optional" default="1">
        <xs:annotation>
          <xs:documentation>Number of columns in the cluster. This is the number
            of data columns. If the SHOW_LABELS flag is set, each column has an
            associated column of labels within the cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SHOW_LABELS" type="xs:boolean"
        use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Flag indicating if the labels associated with the
            fields in the cluster should be displayed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TAB_ORDER" type="ATT_TAB_ORDER"
        use="optional" default="COLUMN" />
      <xs:attribute name="LAYOUT_ORDER" type="ATT_LAYOUT_ORDER"
        use="optional" default="LABEL" />
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="100" />
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The CSS style for this cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DESCRIPTION" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>A description associated with the cluster.
            A key into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL_WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="50" />
      <xs:attribute name="BEHAVIOR" type="ATT_BEHAVIOR"
        use="optional" default="DEFAULT">
        <xs:annotation>
          <xs:documentation>Custom behaviors that can be set on this
            cluster.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCROLL_HEIGHT" type="xs:integer"
        use="optional">
        <xs:annotation>
          <xs:documentation>Flag indicating the maximum height in
            pixels of a scrollable CLUSTER.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIST">
    <xs:annotation>
      <xs:documentation>Defines the layout of a control that is
        used to display a list of data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0" />
        <xs:element ref="TITLE" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="ACTION_SET" minOccurs="0" />
        <xs:element ref="DETAILS_ROW" minOccurs="0" maxOccurs="1"/>
        <xs:sequence>
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="FIELD" />
            <xs:element ref="ACTION_CONTROL" />
            <xs:element ref="CONTAINER" />
            <xs:element ref="FOOTER_ROW" />
            <xs:element ref="WIDGET" />
            <xs:element ref="LIST_CONNECT" />
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            The CSS style for this list.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TITLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Title of the list. The generator may automatically add a
            separator such as ":" to the label. The title attribute is a
            key into the page resource file.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DESCRIPTION" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>
            A description associated with the list. A key into the page
            resource file.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="ATT_INTEGER_OR_PERCENT"
        use="optional" default="100" />
      <xs:attribute name="SORTABLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            An option on the LIST to allow the sorting on headers to be
            turned off. Default is on.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="BEHAVIOR" type="ATT_BEHAVIOR" use="optional"
        default="DEFAULT">
        <xs:annotation>
          <xs:documentation>
            Custom behaviors that can be set on this cluster.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCROLL_HEIGHT" type="xs:integer"
        use="optional">
        <xs:annotation>
          <xs:documentation>
            Flag indicating the maximum height in pixels of a scrollable
            LIST.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SUMMARY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Summary of the list.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PAGINATED" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Individual setting on the list used to turn pagination on or off where the global setting
          is the opposite to the required.</xs:documentation>
        </xs:annotation></xs:attribute>
      <xs:attribute name="DEFAULT_PAGE_SIZE" type="xs:int"
        use="optional" default="15">
                <xs:annotation>
                  <xs:documentation>Number of records displayed in one paginated list section. Defaults to 15 where not set
                  and the global setting is not available.</xs:documentation>
                </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PAGINATION_THRESHOLD" type="xs:int" use="optional">
        <xs:annotation>
          <xs:documentation>The number of records on exceeding which the list is shown as paginated, i.e., the exceeding
          part is shown on the subsequent page instead and the pagination controls are displayed. Defaults to the
          DEFAULT_PAGE_SIZE setting if not specified.</xs:documentation>
        </xs:annotation></xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="FOOTER_ROW">
    <xs:annotation>
      <xs:documentation>Defines the layout for footer at the end
        of a list.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FIELD" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIELD">
    <xs:annotation>
      <xs:documentation>Defines a data entry or display field and
        its associated label.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LABEL" minOccurs="0" maxOccurs="1" />
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="3" />
        <xs:element ref="LINK" minOccurs="0" />
        <xs:element ref="SCRIPT" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="EDITABLE" type="ATT_EDITABLE"
        use="optional" default="UNSPECIFIED">
        <xs:annotation>
          <xs:documentation>Temporary return, will be removed
            in future</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL_ABBREVIATION" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>Abbreviation for field table
            headers.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Item's label. The value is a key into
            the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DESCRIPTION" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>Item's Description. The value is a key into the
            page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROMPT"  type="xs:string"  use="optional">
        <xs:annotation>
          <xs:documentation>Custom prompt of this field.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="INITIAL_FOCUS" type="xs:boolean"
        use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Item's Description. The value shows if
            the input field needs to get focus on page display.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALT_TEXT" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Tool-tip which should be associated with the HTML
            object rendered for the field. The actual tool-tip text will be
            sourced from associated page properties file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CONTROL" type="ATT_CONTROL" use="optional"
        default="DEFAULT">
        <xs:annotation>
          <xs:documentation>The type of control that is used to display the data
            value. If left blank, the default control type (defined in a
            configuration file) for the data type is used. FieldControl is an
            enumeration initially consisting of the value DEFAULT. The generator
            chooses the default control style based on the data type, edit mode,
            and code table associated with the server interface properties to
            which the field is mapped. Value of "SKIP" indicates that the field
            is only present to occupy space in a CLUSTER to balance the layout.
            No label or value will be displayed. The label background will still
            be presented, however.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
	  <xs:attribute name="CONTROL_REF" type="xs:string" use="optional">
        <xs:annotation>
		  <xs:documentation>The base of the reference to the DOM object output
		  for that field on a page. The reference is used by the optional clusters
		  feature to dynamically get the field value for use in the associated
		  display expressions.</xs:documentation>
        </xs:annotation>		
	  </xs:attribute>
      <xs:attribute name="WIDTH" type="xs:integer" use="optional"
        default="100" />
      <xs:attribute name="WIDTH_UNITS" type="ATT_WIDTH_UNITS"
        use="optional" default="PERCENT" />
      <xs:attribute name="USE_BLANK" type="xs:boolean" use="optional"
        default="false">
        <xs:annotation>
          <xs:documentation>If the field value comes from a code table and this
            is an input field, this attribute controls whether a blank value
            will be inserted into the list of codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="USE_DEFAULT" type="xs:boolean"
        use="optional" default="true">
        <xs:annotation>
          <xs:documentation>If the field has no source connection and this is an
            input field, this attribute controls whether a default value will be
            used for the field. For code table fields, this will be the default
            code. For date or date-time fields, this will be current data or
            date-time.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HEIGHT" type="xs:positiveInteger"
        use="optional" default="1">
        <xs:annotation>
          <xs:documentation>Data item height.This value is the number of lines
            of text available in the control. Associated label must be set to
            the same height. This is particularly useful for things like
            description fields.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DOMAIN" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The domain name to associate with this field for
          the purpose of selecting a renderer. This domain may be used instead
          of the domain inferred from the field's connections to server
          interface properties. This attribute may only be used if the field
          has connections that use the "EXTENDED_PATH"
          attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT"
        use="optional" default="DEFAULT" />
      <xs:attribute name="CONFIG" type="xs:string" use="optional" />
      <xs:attribute name="APPEND_ELLIPSIS" type="xs:boolean" use="optional"  default="true">
        <xs:annotation>
          <xs:documentation>
            Flag that  specifies whether or not to append the ellipsis character.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WIDGET">
    <xs:annotation>
      <xs:documentation>Defines a special widget to handle a
        complex input or output task.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="WIDGET_PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="LABEL" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Widget's label. The value is a key
            into the page resource file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WIDTH" type="xs:integer" use="optional"
        default="100" />
      <xs:attribute name="WIDTH_UNITS" type="ATT_WIDTH_UNITS"
        use="optional" default="PERCENT" />
      <xs:attribute name="ALIGNMENT" type="ATT_ALIGNMENT"
        use="optional" default="DEFAULT" />
      <xs:attribute name="TYPE" type="ATT_WIDGET_TYPE" use="required" />
      <xs:attribute name="HAS_CONFIRM_PAGE" type="xs:boolean"
        use="optional" default="false" />
      <xs:attribute name="CONFIG" type="xs:string"  use="optional" default="false" >
  <xs:annotation>
          <xs:documentation>The widget configuration data.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="COMPONENT_STYLE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the component style that associates
            this widget with a component renderer.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WIDGET_PARAMETER">
    <xs:annotation>
      <xs:documentation>Defines a parameter to a WIDGET element.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="NAME" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name of the widget parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="JSP_SCRIPTLET" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines a JSP scriptlet to be inserted
        into the page.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SCRIPT">
    <xs:annotation>
      <xs:documentation>Defines an exit point to allow the invocation of a
        script as a result of an event.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="EVENT" type="ATT_SCRIPT_EVENT"
        use="optional">
        <xs:annotation>
          <xs:documentation>Event that caused the script to be invoked. Events
            are supported for pages and controls. SCRIPT elements directly
            contained within the PAGE element can only set the EVENT to "ONLOAD"
            or "ONUNLOAD".</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ACTION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the script that is invoked as
            a result of the specified event.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="EXPRESSION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the display expression function in 
		  the page level script file used for the optional cluster display.
		  Should not be used in the context other than CONDITION and in combination 
		  with the EVENT/ACTION attributes. Expects the display function defined in the
		  PAGE level SCRIPT_FILE.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SCRIPT_FILE" type="xs:string"
        use="optional">
        <xs:annotation>
          <xs:documentation>The URL (absolute or relative) to the script file
            containing the JavaScript functions that are specified in the ACTION
            attribute of this SCRIPT element. If omitted, the PAGE element must
            specify a script file via its SCRIPT_FILE
            attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ATT_WIDTH_UNITS">
    <xs:annotation>
      <xs:documentation>Field width units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="PERCENT" />
      <xs:enumeration value="CHARS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_ALIGNMENT">
    <xs:annotation>
      <xs:documentation>Alignment of the controls within the
        container.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="CENTER" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_AC_ALIGNMENT">
    <xs:annotation>
      <xs:documentation>Alignment of the action controls</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="ATT_AS_TYPE">
    <xs:annotation>
      <xs:documentation>ACTION_SET type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="LIST_ROW_MENU" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_BEHAVIOR">
    <xs:annotation>
      <xs:documentation>Custom behavior of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="EXPANDED" />
      <xs:enumeration value="COLLAPSED" />
      <xs:enumeration value="NONE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_CONTROL_TYPE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ACTION" />
      <xs:enumeration value="SUBMIT" />
      <xs:enumeration value="DISMISS" />
      <xs:enumeration value="SUBMIT_AND_DISMISS" />
      <xs:enumeration value="CLIPBOARD" />
      <xs:enumeration value="FILE_DOWNLOAD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_SCRIPT_EVENT">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ONLOAD" />
      <xs:enumeration value="ONUNLOAD" />
      <xs:enumeration value="ONCLICK" />
      <xs:enumeration value="ONDBLCLICK" />
      <xs:enumeration value="ONCHANGE" />
      <xs:enumeration value="ONFOCUS" />
      <xs:enumeration value="ONBLUR" />
      <xs:enumeration value="ONKEYPRESS" />
      <xs:enumeration value="ONKEYDOWN" />
      <xs:enumeration value="ONKEYUP" />
      <xs:enumeration value="ONMOUSEDOWN" />
      <xs:enumeration value="ONMOUSEUP" />
      <xs:enumeration value="ONMOUSEMOVE" />
      <xs:enumeration value="ONMOUSEOVER" />
      <xs:enumeration value="ONMOUSEOUT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_LAYOUT_ORDER">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="FIELD" />
      <xs:enumeration value="LABEL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_INTEGER_OR_PERCENT">
    <xs:annotation>
      <xs:documentation>The width. Specified as a percentage of the space
        available. The XML attribute should be allowed to contain a trailing
        percent sign ("%") which is removed before converting to an
        integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+[%]?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_TAB_ORDER">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="COLUMN"/>
      <xs:enumeration value="ROW"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_CONTROL">
    <xs:annotation>
      <xs:documentation>Alters the displayed widget</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="DEFAULT"/>
      <xs:enumeration value="SUMMARY"/>
      <xs:enumeration value="DYNAMIC"/>
      <xs:enumeration value="DYNAMIC_FULL_TREE"/>
      <xs:enumeration value="FAILURE"/>
      <xs:enumeration value="SKIP"/>
      <xs:enumeration value="TRANSFER_LIST"/>
      <xs:enumeration value="CHECKBOXED_LIST"/>
      <xs:enumeration value="CT_HIERARCHY_HORIZONTAL"/>
      <xs:enumeration value="CT_HIERARCHY_VERTICAL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_WIDGET_TYPE">
    <xs:annotation>
      <xs:documentation>Defines the type of widget to use.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="CONTENT"/>
      <xs:enumeration value="FILE_UPLOAD"/>
      <xs:enumeration value="FILE_EDIT"/>
      <xs:enumeration value="MULTISELECT"/>
      <xs:enumeration value="SINGLESELECT"/>
      <xs:enumeration value="RULES_SIMULATION_EDITOR"/>
      <xs:enumeration value="FILE_DOWNLOAD"/>
      <xs:enumeration value="WIZARD_SUMMARY"/>
      <xs:enumeration value="USER_PREFERENCE_EDITOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_PHASE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="DISPLAY"/>
      <xs:enumeration value="ACTION"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="ATG_CONNECTION">
    <xs:attribute name="NAME" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name of the bean that supplies or consumes the
          data. This name is either the name of a server interface bean declared
          on the page, or the name "PAGE" which implies a page parameter
          connection, or "TEXT" which implies a static text
          connection.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PROPERTY" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name of the property being connected. For a server
          interface bean this is a bean property, for the "PAGE" bean it is a
          page parameter name (which must previously have been declared in a
          Page Parameter element on the Page), for a "TEXT" bean it is a literal
          text value or "CONSTANT" which means an application-wide literal text
          value sourced from Constants.properties. For a value sourced from page
          or session context element the name will be
          "CONTEXT".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EXTENDED_PATH" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>An extended path that identifies an element of a
          compound value. This may only be used for connections to server
          interface properties.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="ATT_MENU_MODE">
    <xs:annotation>
      <xs:documentation>Page menu mode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="STATIC"/>
      <xs:enumeration value="DYNAMIC"/>
      <xs:enumeration value="INTEGRATED_CASE"/>
      <xs:enumeration value="NAVIGATION"/>
      <xs:enumeration value="IN_PAGE_NAVIGATION"/>
      <xs:enumeration value="WIZARD_PROGRESS_BAR"/>      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_EDITABLE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="EDITABLE"/>
      <xs:enumeration value="NONEDITABLE"/>
      <xs:enumeration value="UNSPECIFIED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ATT_PAGE_TYPE">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="SPLIT_WINDOW"/>
      <xs:enumeration value="DEFAULT"/>
      <xs:enumeration value="DETAILS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DESCRIPTION">
    <xs:annotation>
      <xs:documentation>Used to display the description of a cluster, page or
        list. It can consist of an icon, static text and variable (context
        sensitive) text retrieved from the server.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="CONNECT" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="SEPARATOR" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Attribute to specify string to separate each of the
            data values</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="INLINE_PAGE">
    <xs:annotation>
      <xs:documentation>Allows a UIM page to be opened inline in another
        UIM.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONNECT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="PAGE_ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>ID of the page that you want to embed in-line.
            Cannot be the same ID as the current page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI_SOURCE_NAME" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to a declared on page data access
            component containing field with URI data. The field is specified
            via URI_SOURCE_PROPERTY attribute which should be used along with
            URI_SOURCE_NAME.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="URI_SOURCE_PROPERTY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>A reference to a field in the data access component
            containing data of URI this link should connect to. Data access
            component is specified via URI_SOURCE_NAME attribute and should be
            declared on the page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DETAILS_ROW">
    <xs:annotation>
      <xs:documentation>Defines the content to be displayed when a row in a LIST
        is expanded.Currently only the INLINE_PAGE element is supported as a
        child element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0"  maxOccurs="1"/>      
        <xs:element ref="INLINE_PAGE" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="MINIMUM_EXPANDED_HEIGHT" type="xs:positiveInteger" use="optional">
        <xs:annotation>
          <xs:documentation>A minimum allowed expanded height of the details
          row in pixels.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>