CuramCDEJ/lib/curam/xml/schema/workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="EDGE">
    <xs:annotation>
      <xs:documentation>An edge on a workflow graph.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ENABLED" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>Indicates if an edgein the workflow graph is to be enabled (a hyperlink). This attribute is false by default.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FROM" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The ID of the node this edge is from.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HIDDEN" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>Indicates if the edge in the workflow graph is to be hidden.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IS-EXECUTED" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>Indicates if an activity has already been executed for a particular process instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IS-FOLLOWED" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates if a particular transition has already been followed for a process instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ORDER" type="xs:int" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the order of an edge relative to other edges.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="REAL-FROM" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>If the from node in an edge is a dummy node, this will contain the ID of the from Node that the dummy resolves to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="REAL-TO" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>If the to node in an edge is a dummy node, this will contain the ID of the to Node that the dummy resolves to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="REVERSE-ARROW" type="xs:boolean" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Indicates if an arrow on an edge should be reversed. i.e. the arrow will be going into the from node instead of the to node.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TO" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The ID of the node this edge is to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TRANSITION-ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The unique identifier of a transition.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TRANSITION-INSTANCE-ID" type="xs:long" use="optional">
        <xs:annotation>
          <xs:documentation>The unique identifier of a transition instance for a particular process instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TRANSITION-CONDITION" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The condition associated with a transition in an edge.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="NODE">
    <xs:annotation>
      <xs:documentation>A node on a workflow graph.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ACTIVITY-INSTANCE-ID" type="xs:long" use="optional">
        <xs:annotation>
          <xs:documentation>The unique identifier of an activity instance for a particular process instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ACTIVITY-TYPE-CODE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>An activity type code used in the component redirect page.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="END-DATE-TIME" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The end date time of an activity instance or transition instance for an executed process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HAS-NOTIFICATION" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates if an activity has an associated notification.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HIDDEN" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>Indicates if a node in the workflow graph is to be hidden.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ID" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>A unique ID for the graph element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IS-EXECUTED" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates if an activity has already been executed for a particular process instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="JOIN-TYPE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The join type associated with an activity.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NUMBER-ITERATIONS" type="xs:int" use="optional">
        <xs:annotation>
          <xs:documentation>The number of times the activity contained in a node has been executed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SPLIT-TYPE" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The split type associated with an activity.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="START-DATE-TIME" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The start date time of an activity instance or transition instance for an executed or currently executing process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="STATUS" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The current status of an activity instance.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TASK-RESERVED-BY" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The name of the user reserving the task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TASK-STATUS" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The status of a task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TASK-TOTAL-TIME-WORKED" type="xs:long" use="optional">
        <xs:annotation>
          <xs:documentation>The total time worked on a task in seconds.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TEXT" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The text of an activity.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="X" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>An x grid coordinate for an element on the workflow graph.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TASK-ID" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The unique identifier for the task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="RAISED-BY-USER" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>The user who raised the task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Y" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>A y grid coordinate for an element on the workflow graph.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WORKFLOW">
    <xs:annotation>
      <xs:documentation>Root element containing information required to display a workflow diagram graphically.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NODE" maxOccurs="unbounded"/>
        <xs:element ref="EDGE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ID" type="xs:long" use="required">
        <xs:annotation>
          <xs:documentation>A unique ID for the graph element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PROCESS-VERSION" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>The version number of the selected workflow process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
