EJBServer/components/core/webservices/EvidenceActivate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
 
  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure 
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<!-- root element, namespace and form definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ae="http://ws.curam/EvidenceActivateWS" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://ws.curam/EvidenceActivateWS">

  
  
  <!-- BEGIN builtintypes -->
  <!-- No Blob support - it's tricky and could be expensive -->
  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

	<xs:simpleType name="string">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type string.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type boolean.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  
  <xs:simpleType name="datetime">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type date time.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  
  <xs:simpleType name="double">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type double.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  
  <xs:simpleType name="float">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type float.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType><xs:simpleType name="int16">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int16.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  
  <xs:simpleType name="int32">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int32.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  
  <xs:simpleType name="int64">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int64.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  
  <xs:simpleType name="int8">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int8.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:byte"/>
  </xs:simpleType>
  
  <xs:simpleType name="char">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type char.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="frequencypattern">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type frequency pattern.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="money">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type money.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- END     builtintypes -->
  
  <!-- BEGIN domaintypes -->
  <xs:simpleType name="CaseID">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Case ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:InternalID"/>
  </xs:simpleType>
  
  <xs:simpleType name="InternalID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Internal ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  
  <xs:simpleType name="AlternateID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Atlernate ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="ConcernRoleID">
    <xs:annotation>
      <xs:documentation>C\u00FAram ConcernRole ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="EvidenceFieldName">
    <xs:annotation>
      <xs:documentation>The name of the evidence field (column) in C\u00FAram.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="CodetableCode">
    <xs:annotation>
      <xs:documentation>C\u00FAram code table code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="EvidenceType">
    <xs:annotation>
      <xs:documentation>C\u00FAram Evidence Type code table code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:CodetableCode"/>
  </xs:simpleType>
  
  <xs:simpleType name="ProductProviderID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Product Provider ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:ConcernRoleID"/>
  </xs:simpleType>
  
  <xs:simpleType name="ProductDeliveryPatternID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Product Delivery Pattern ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:ConcernRoleID"/>
  </xs:simpleType>
  <!-- END domaintypes -->
  
  <!-- BEGIN semtypes -->
  <xs:simpleType name="caseIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Case ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:CaseID"/>
  </xs:simpleType>
  
  <xs:simpleType name="evidenceIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Evidence Identifier
        evidence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:InternalID"/>
  </xs:simpleType>
  
  <xs:simpleType name="evidenceDescriptorIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Evidence Descriptor Identifier
        evidence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:InternalID"/>
  </xs:simpleType>
  
  <xs:simpleType name="evidenceName">
    <xs:annotation>
      <xs:documentation>This should be the name used in C\u00FAram for this evidence item, it must
        match the name of the field used to store it.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:EvidenceFieldName"/>
  </xs:simpleType>
  
  <xs:simpleType name="participantIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the participant ID for this evidence 
        item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:InternalID"/>
  </xs:simpleType>
  
  <xs:simpleType name="providerIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram based 
        Provider id.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:ProductProviderID"/>
  </xs:simpleType>
  
  <xs:simpleType name="clientIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram type used for this
        evidence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ae:ConcernRoleID"/>
  </xs:simpleType>
  
  <xs:complexType name="concernIdentifier">
    <xs:choice maxOccurs="1" minOccurs="1">
      <xs:element name="concernID" type="ae:InternalID">
        <xs:annotation>
          <xs:documentation>This should be the C\u00FAram Concern ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="concernRoleID" type="ae:InternalID">
        <xs:annotation>
          <xs:documentation>This should be the C\u00FAram Concern Role ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="alternateID" type="ae:AlternateID">
        <xs:annotation>
          <xs:documentation>This should be the primary alternate ID of the Concern. e.g.
            their SSN.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <!-- END semtypes -->

  <xs:group name="evidenceIDandType">
    <xs:sequence>
      <xs:element name="evidenceID" type="ae:evidenceIdentifier" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be an Evidence identifier to idenify
            the Evidence records with which this Evidence
            activation is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="evidenceType" type="ae:EvidenceType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be an Evidence Type code to idenify
            the type of Evidence record this Evidence
            activation is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="activateChangesChoices">
    <xs:choice>
      <xs:group ref="ae:evidenceIDandType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should contain a combination of the
            Evidence identifier and the Evidence Type code.
          </xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element name="evidenceDescriptorID" type="ae:evidenceDescriptorIdentifier" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be an Evidence Descriptor identifier
            to idenify the Evidence record with which this
            Evidence activation is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:group>

  <xs:group name="activateAllChangesGroup">
    <xs:sequence>
      <xs:element name="activateAllChanges" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This is the Evidence read identifiers.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="caseID" type="ae:caseIdentifier" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  This should be a Case identifier to
                  idenify the Case with which this
                  Evidence activation is associated.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="activateForUsersGroup">
    <xs:sequence>
      <xs:element name="activateForUsers" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This is the Evidence read identifiers.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="caseID" type="ae:caseIdentifier" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  This should be a Case identifier to
                  idenify the Case with which this
                  Evidence activation is associated.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="activateChangesGroup">
    <xs:sequence>
      <xs:element name="activateChanges" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This is the evidence read identifiers.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="caseID" type="ae:caseIdentifier" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  This should be a Case identifier to
                  idenify the Case with which this
                  evidence activation is associated.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:group ref="ae:activateChangesChoices" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  This should contain a combination of
                  the Evidence identifier and the
                  Evidence type code.
                </xs:documentation>
              </xs:annotation>
            </xs:group>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="evidence" type="ae:EvidenceActivateRequest"/>

	
    
  <xs:complexType name="EvidenceActivateRequest">
    <xs:annotation>
      <xs:documentation>
        This evidence element containing of three types of
        elements, activateAllChanges, activateForUsers and
        activateChanges.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="ae:activateAllChangesGroup" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This group contains the Case identifier required
            to activate all case evidence changes.
          </xs:documentation>
        </xs:annotation>
      </xs:group>

      <xs:group ref="ae:activateForUsersGroup" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This group contains the Case identifier required
            to activate all case evidence changes.
          </xs:documentation>
        </xs:annotation>
      </xs:group>

      <xs:group ref="ae:activateChangesGroup" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This group contains the Case identifier and Evidence 
            details required to activate specific case evidence changes.
          </xs:documentation>
        </xs:annotation>
      </xs:group>
    </xs:choice>
  </xs:complexType>
  
  <xs:element name="response" type="ae:EvidenceActivateResponse"/>
    
  <xs:complexType name="EvidenceActivateResponse">
    <xs:sequence>
      <xs:element name="activateAllChanges" type="ae:activateAllChangesResponse"/>
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="activateAllChangesResponse">
    <xs:sequence>
      <xs:element name="caseID" type="ae:caseIdentifier"/>
      <xs:element name="activated" type="xs:boolean"/>
      <xs:element name="exception" type="ae:exception" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="success" use="required" type="xs:boolean"/>
  </xs:complexType>
  
  <xs:complexType name="exception">
    <xs:sequence>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="exceptionMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>  
  
</xs:schema>