EJBServer/components/core/webservices/EvidenceCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
 
  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure 
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<!-- root element, namespace and form definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ce="http://ws.curam/EvidenceCreateWS"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  targetNamespace="http://ws.curam/EvidenceCreateWS">
  
  <!-- BEGIN builtintypes -->
    <!-- No Blob support - it's tricky and could be expensive -->
    <xs:simpleType name="date">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type date.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:date"/>
    </xs:simpleType>   
    
    <xs:simpleType name="string">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type string.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="boolean">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type boolean.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    
    <xs:simpleType name="datetime">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type date time.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    
    <xs:simpleType name="double">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type double.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
    </xs:simpleType>
    
    <xs:simpleType name="float">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type float.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
    </xs:simpleType>
    
    <xs:simpleType name="int16">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type int16.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:short"/>
    </xs:simpleType>
    
    <xs:simpleType name="int32">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type int32.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:int"/>
    </xs:simpleType>
    
    <xs:simpleType name="int64">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type int64.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long"/>
    </xs:simpleType>
    
    <xs:simpleType name="int8">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type int8.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:byte"/>
    </xs:simpleType>
    
    <xs:simpleType name="char">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type char.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:length value="1"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="frequencypattern">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type frequency pattern.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{9}"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="money">
      <xs:annotation>
        <xs:documentation>C\u00FAram builtin type money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
    <!-- END     builtintypes -->
    
    <!-- BEGIN domaintypes -->
    <xs:simpleType name="CaseID">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram Case ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:InternalID"/>
    </xs:simpleType>
    
    <xs:simpleType name="InternalID">
      <xs:annotation>
        <xs:documentation>C\u00FAram Internal ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long"/>
    </xs:simpleType>
    
    <xs:simpleType name="AlternateID">
      <xs:annotation>
        <xs:documentation>C\u00FAram Atlernate ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="ConcernRoleID">
      <xs:annotation>
        <xs:documentation>C\u00FAram ConcernRole ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="EvidenceFieldName">
      <xs:annotation>
        <xs:documentation>The name of the evidence field (column) in C\u00FAram.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="CodetableCode">
      <xs:annotation>
        <xs:documentation>C\u00FAram code table code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EvidenceType">
      <xs:annotation>
        <xs:documentation>C\u00FAram Evidence Type code table code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:CodetableCode"/>
    </xs:simpleType>
    
    <xs:simpleType name="ProductProviderID">
      <xs:annotation>
        <xs:documentation>C\u00FAram Product Provider ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:ConcernRoleID"/>
    </xs:simpleType>
    
    <xs:simpleType name="ProductDeliveryPatternID">
      <xs:annotation>
        <xs:documentation>C\u00FAram Product Delivery Pattern ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:ConcernRoleID"/>
    </xs:simpleType>
    <!-- END domaintypes -->
    
    <!-- BEGIN semtypes -->
    <xs:simpleType name="caseIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram Case ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:CaseID"/>
    </xs:simpleType>
    
    <xs:simpleType name="evidenceIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram Evidence Identifier
          evidence.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:InternalID"/>
    </xs:simpleType>
    
    <xs:simpleType name="evidenceDescriptorIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram Evidence Descriptor Identifier
          evidence.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:InternalID"/>
    </xs:simpleType>
    
    <xs:simpleType name="evidenceType">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram Evidence Type of an Evidence record.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:EvidenceType"/>
    </xs:simpleType>
    
    <xs:simpleType name="evidenceName">
      <xs:annotation>
        <xs:documentation>This should be the name used in C\u00FAram for this evidence item, it must
          match the name of the field used to store it.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:EvidenceFieldName"/>
    </xs:simpleType>
    
    <xs:simpleType name="participantIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the participant ID for this evidence 
          item.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:InternalID"/>
    </xs:simpleType>
    
    <xs:simpleType name="providerIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram based 
          Provider id.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:ProductProviderID"/>
    </xs:simpleType>
    
    <xs:simpleType name="clientIdentifier">
      <xs:annotation>
        <xs:documentation>This should be the C\u00FAram type used for this
          evidence.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="ce:ConcernRoleID"/>
    </xs:simpleType>
    
    <xs:complexType name="concernIdentifier">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:element name="concernID" type="ce:InternalID">
          <xs:annotation>
            <xs:documentation>This should be the C\u00FAram Concern ID.</xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="concernRoleID" type="ce:InternalID">
          <xs:annotation>
            <xs:documentation>This should be the C\u00FAram Concern Role ID.</xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="alternateID" type="ce:AlternateID">
          <xs:annotation>
            <xs:documentation>This should be the primary alternate ID of the Concern. e.g.
              their SSN.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  <!-- END semtypes -->
  
  
  <!-- BEGIN evidence types -->  
  
  <xs:element name="evidenceDetails">
    <xs:complexType>
    <xs:sequence>
      <xs:element name="caseID" type="ce:caseIdentifier"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the Case identifier to idenify the case with
            which this evidence is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="evidenceType" type="ce:evidenceType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the Evidence Type code to identify the type of Evidence record.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="receivedDate" type="ce:date"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date on which the Evidence
            was received.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectiveDate" type="ce:date"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date from which this Evidence
            applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="participantID" type="ce:participantIdentifier"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            This should be the Participant
            identifier for the Evidence.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dataObjects">
      <xs:complexType>
    <xs:sequence>
      <xs:element name="dataItem" maxOccurs="unbounded"
        minOccurs="1">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              This should be an entity attribute for
              the Evidence.
            </xs:documentation>
          </xs:annotation>            
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="ce:evidenceName"
                use="required">                  
                <xs:annotation>                    
                  <xs:documentation>                      
                    The name of the Evidence data item.
                  </xs:documentation>                    
                </xs:annotation>                  
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>   
        </xs:complexType>  
      </xs:element>
    </xs:sequence>
      </xs:complexType>
  </xs:element>

  <xs:element name="evidence" type="ce:EvidenceCreateRequest">
    <xs:annotation>
      <xs:documentation>
        This evidence element containing Evidence data elements, 
        comprising of evidence records.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="EvidenceCreateRequest">
    <xs:sequence>
      <xs:element name="evidenceData" minOccurs="1"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An Evidence data record.
          </xs:documentation>
        </xs:annotation>

        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ce:evidenceDetails">
              <xs:annotation>
                <xs:documentation>
                  This should contain the specific
                  header information about the
                  Evidence.
                </xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element ref="ce:dataObjects">
              <xs:annotation>
                                <xs:documentation>
                                        This should contain the Evidence data objects.
                                </xs:documentation>
                            </xs:annotation>
                          </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
    
  <xs:element name="response" type="ce:EvidenceCreateResponse"/>

  <xs:complexType name="EvidenceCreateResponse">
         <xs:sequence>
            <xs:element name="evidenceCreate" type="ce:evidenceCreate"/>
         </xs:sequence>
      </xs:complexType>

  <xs:element name="evidenceCreate" type="ce:evidenceCreate"/>

  <xs:complexType name="evidenceCreate">
     <xs:sequence>
        <xs:element name="evidenceID" type="ce:evidenceIdentifier"/>
        <xs:element name="evidenceType" type="ce:evidenceType"/>
        <xs:element name="evidenceDescriptorID" type="ce:evidenceDescriptorIdentifier"/>
     </xs:sequence>
     <xs:attribute name="success" use="required" type="ce:boolean"/>
  </xs:complexType>

</xs:schema>
