EJBServer/components/core/webservices/PersonRegister.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
 
  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure 
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<!-- root element, namespace and form definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:pr="http://ws.curam/PersonRegistrationWS"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  targetNamespace="http://ws.curam/PersonRegistrationWS">
  
  <!-- BEGIN businesstypes -->
  <xs:simpleType name="clientIdentifier">
    <xs:annotation>
       <xs:documentation>
          This should be the C\u00FAram Client identifier.
       </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:ConcernRoleID"/>
  </xs:simpleType>

  <xs:simpleType name="evidenceDescriptorIdentifier">
     <xs:annotation>
       <xs:documentation>
          This should be the C\u00FAram Evidence Descriptor identifier.
       </xs:documentation>
       </xs:annotation>
     <xs:restriction base="pr:InternalID"/>
  </xs:simpleType>

  <xs:simpleType name="evidenceIdentifier">
     <xs:annotation>
          <xs:documentation>
             This should be the C\u00FAram Evidence identifier
             evidence.
          </xs:documentation>
       </xs:annotation>
     <xs:restriction base="pr:InternalID"/>
  </xs:simpleType>

  <xs:simpleType name="caseIdentifier">
    <xs:annotation>
      <xs:documentation>
          This should be the C\u00FAram Case identifier.
       </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:CaseID"/>
  </xs:simpleType>

  <xs:simpleType name="addressData">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram AddressData.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:string"/>
  </xs:simpleType>

  <xs:simpleType name="productIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Product identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:string"/>
  </xs:simpleType>

  <xs:simpleType name="providerLocationIdentifier">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram ProviderLocation identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:InternalID"/>
  </xs:simpleType>

  <xs:simpleType name="triageType">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Triage codetable value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:CodetableCode"/>
  </xs:simpleType>
  <!-- END businesstypes -->
  
  <!-- BEGIN builtintypes -->
  <!-- No Blob support - it's tricky and could be expensive -->
  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>   

  <xs:simpleType name="string">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type string.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type boolean.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

  <xs:simpleType name="datetime">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type date time.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="double">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type double.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="float">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type float.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="int16">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int16.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>

  <xs:simpleType name="int32">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int32.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:simpleType name="int64">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int64.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>

  <xs:simpleType name="int8">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type int8.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="char">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type char.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="frequencypattern">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type frequency pattern.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="money">
    <xs:annotation>
      <xs:documentation>C\u00FAram builtin type money.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- END     builtintypes -->

  <!-- BEGIN domaintypes -->
  <xs:simpleType name="CaseID">
    <xs:annotation>
      <xs:documentation>This should be the C\u00FAram Case ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:InternalID"/>
  </xs:simpleType>

  <xs:simpleType name="InternalID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Internal ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>

  <xs:simpleType name="AlternateID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Atlernate ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="ConcernRoleID">
    <xs:annotation>
      <xs:documentation>C\u00FAram ConcernRole ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="EvidenceFieldName">
    <xs:annotation>
      <xs:documentation>The name of the evidence field (column) in C\u00FAram.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="CodetableCode">
    <xs:annotation>
      <xs:documentation>C\u00FAram code table code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EvidenceType">
    <xs:annotation>
      <xs:documentation>C\u00FAram Evidence Type code table code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:CodetableCode"/>
  </xs:simpleType>

  <xs:simpleType name="ProductProviderID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Product Provider ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:ConcernRoleID"/>
  </xs:simpleType>

  <xs:simpleType name="ProductDeliveryPatternID">
    <xs:annotation>
      <xs:documentation>C\u00FAram Product Delivery Pattern ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pr:ConcernRoleID"/>
  </xs:simpleType>
  <!-- END domaintypes -->

  <xs:group name="addressList">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          This should be the address element containing all
          required and optional address information.
        </xs:documentation>
      </xs:annotation>
      <xs:element name="addressLayout" type="pr:CodetableCode"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the code representing the address layout type for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine1" type="pr:addressData"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the required first line of the address for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine2" type="pr:addressData"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the optional second line of the address for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine3" type="pr:addressData"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the optional third line of the address for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine4" type="pr:addressData"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the optional fourth line of the address for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine5" type="pr:addressData"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the optional fifth line of the address for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="pr:addressData" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the city of residency for the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countyCode" type="pr:CodetableCode"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the county code for the county of residency of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" type="pr:CodetableCode"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the country code for the country of residency of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="pr:CodetableCode"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the postal code for the address of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stateCode" type="pr:CodetableCode"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the state's code for the address of  the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="comments" type="xs:string"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should beany comments for the address of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" type="xs:string"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the status code for the address of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zipCode" type="pr:CodetableCode"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should be the address zip code for the address of the person to be registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="registerHeader">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the first name of the person to
            be registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" type="xs:string" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the surname of the person to be
            registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gender" type="pr:CodetableCode"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the sex of the person to be
            registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfBirth" type="pr:date" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date of birth of the person
            to be registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="birthCountry" type="pr:CodetableCode"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the country code for the country of 
            birth of the person to be registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfRegistration" type="pr:date"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date at which the person to
            be registered, has been registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maritalStatus" type="pr:CodetableCode"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the marital status code of the
            person to be registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationality" type="pr:CodetableCode"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the nationality code of the
            person to be registered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="address" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should contain the main required address
            information for the person to be registered.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="pr:addressList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="registerPersonType">
    <xs:sequence>
      <xs:group ref="pr:registerHeader" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This should contain the minimal details required to successfully register a person.</xs:documentation>
        </xs:annotation>
      </xs:group>

      <xs:element name="registerBody" minOccurs="1"
        maxOccurs="1">

        <xs:complexType>
          <xs:all>
            <xs:annotation>
              <xs:documentation>This should contain any optional information about the person to be registered.</xs:documentation>
            </xs:annotation>
            <xs:element name="addressIndicator"
              type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>This should contain the address indicator for the person to be registered.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="addressType"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>This should contain the address type code for the person to be registered.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="formattedAddress"
              type="pr:addressData" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the formatted
                  address data for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="othername" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the other name
                  for the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="type" type="pr:CodetableCode"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>This should contain the person type code for the person to be registered.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="title" type="pr:CodetableCode"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the title of the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="initials" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>This should contain the initials of the person to be registered.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="suffix" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the suffix for
                  the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ssn" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the Social
                  Security number for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="motherBirthSurname"
              type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the name of the
                  mother of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="preferredName"
              type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the preferred
                  name of the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="verifiedDateOfBirth"
              type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain a verification
                  of the date of birth for the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="dateOfDeath" type="pr:date"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date of
                  death of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="verifiedDateOfDeath"
              type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the verification
                  of the date of death of the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="specialInterest"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain any special
                  interest of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="phoneType" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the phone type
                  for the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="phoneCountry"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the phone
                  country code for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="phoneAreaCode" type="xs:int"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the phone area
                  code for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber" type="xs:int"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the phone number
                  for the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="phoneExtension"
              type="xs:int" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the phone
                  extension for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactPhoneNumber"
              type="xs:int" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the the contact
                  phone number for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactPhoneCountry"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  phone country code for the person to
                  be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactPhoneArea"
              type="xs:int" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  phone area for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactName" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain a contact name
                  for the person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactPhoneExtension"
              type="xs:int" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  phone extension for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactEmail" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  email address for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactEmailType"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  email address type code for the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="contactTitle" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the contact
                  title for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="publicOffice" type="xs:int"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the public
                  office for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="preferredPOfficeContact"
              type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the preferred
                  Public Office contact for the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="preferredPOfficeName"
              type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the preferred
                  Public Office name for the person to
                  be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="preferredLanguage"
              type="pr:CodetableCode" minOccurs="0" />
            <xs:element name="placeOfBirth" type="xs:string"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the place of
                  birth of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="concernID"
              type="pr:ConcernRoleID" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the concern
                  identification of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ethnicOrigin"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the ethnic
                  origin code of the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exceptionMethod"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the exception
                  method for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exceptionReason"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the exception
                  reason code for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exceptionFromDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date the
                  exception is from, for the person to
                  be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exceptionToDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date the
                  exception is until, for the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="foreignResidencyCountry"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the foreign
                  residency country code for the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="foreignResidencyReason"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the reason for
                  foreign residency of the person to
                  be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="foreignResidencyFromDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date from
                  which the person to be registered
                  has foreign residency.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="foreignResidencyToDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date until
                  the person to be registered has
                  foreign residency.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="citizenshipCountry"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the country code
                  of citizenship for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="citizenshipReason"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the reason code
                  for citizenship for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="citizenshipFromDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date from
                  which citizenship applies for the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="citizenshipToDate"
              type="pr:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the date until
                  which citizenship applies for the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="preferredCommMethod"
              type="pr:CodetableCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the preferred
                  communcation method for the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="relatedClientID"
              type="pr:clientIdentifier" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the related
                  client identificaton for the person
                  to be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="paymentFrequency"
              type="pr:frequencypattern" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the payment
                  frequency pattern for the person to
                  be registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="nextPaymentDate"
              type="pr:date" minOccurs="0" />
            <xs:element name="paymentMethod"
              type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the next payment
                  date for the person to be
                  registered.
                </xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element name="mailAddress" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This should contain the main
                  required address information for the
                  person to be registered.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="pr:addressList" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          This should contain the optional unique identifier to allow
          the linking of inbound person details with outbound results.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="register" type="pr:PersonRegisterRequest"/>
  
  <xs:complexType name="PersonRegisterRequest">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          The person to be register, comprising of of the
          required registerheader and any other optional
          information.
        </xs:documentation>
      </xs:annotation>
      <xs:element name="registerPerson" minOccurs="0"
        maxOccurs="unbounded" type="pr:registerPersonType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="response" type="pr:PersonRegisterResponse" />

  <xs:complexType name="PersonRegisterResponse">
    <xs:sequence>
      <xs:element name="registerPerson" type="pr:registerPersonResponse"/>
    </xs:sequence>    
    <xs:attribute name="Message" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="registerPersonResponse">
    <xs:sequence>
      <xs:element name="clientID" type="pr:InternalID" minOccurs="0"/>
      <xs:element name="exception" type="pr:registerPersonException" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="pr:InternalID"/>
    <xs:attribute name="success" use="required" type="xs:boolean"/>
  </xs:complexType>
  
    <xs:complexType name="registerPersonException">
      <xs:sequence>
        <xs:element name="message" type="xs:string"/>
        <xs:element name="exceptionMessage" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>  
  
</xs:schema>
