EJBServer/components/BDM/axis/ca/gc/bdm/sinvalidation/wsdl/BDMValidateSINService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="http://tempuri.org" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://tempuri.org" 
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:flt="http://interoperability.gc.ca/fault/2.0/">
   <wsdl:types>
	<!--TODO - NLynch - modify with actual namespace details -->
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <s:import namespace="http://tempuri.org" schemaLocation="../XSDs/BDMValidateSINService.xsd"/>
         <s:import namespace="http://interoperability.gc.ca/fault/2.0/" schemaLocation="../XSDs/BDMValidateSINServiceFault.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ValidateSecretsSoapOut">
      <wsdl:part element="tns:ValidateSecretsResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ValidateSecretsSoapIn">
      <wsdl:part element="tns:ValidateSecrets" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ValidationFaultMessage">
      <wsdl:part element="flt:ValidationFault" name="part"/>
   </wsdl:message>
   <wsdl:message name="ServiceUnavailableFaultMessage">
      <wsdl:part element="flt:ServiceUnavailableFault" name="part"/>
   </wsdl:message>
   <wsdl:message name="GenericFaultMessage">
      <wsdl:part element="flt:GenericFault" name="part"/>
   </wsdl:message>
   <wsdl:portType name="ValidationServiceSoap">
      <wsdl:operation name="ValidateSecrets">
         <wsdl:input message="tns:ValidateSecretsSoapIn"/>
         <wsdl:output message="tns:ValidateSecretsSoapOut"/>
         <wsdl:fault message="tns:GenericFaultMessage" name="GenericFault"/>
         <wsdl:fault message="tns:ValidationFaultMessage" name="ValidationFault"/>
         <wsdl:fault message="tns:ServiceUnavailableFaultMessage" name="ServiceUnavailableFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ValidationServiceSoap" type="tns:ValidationServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ValidateSecrets">
         <soap:operation soapAction="http://tempuri.org/ValidateSecrets" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="GenericFault">
            <soap:fault name="GenericFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="ValidationFault">
            <soap:fault name="ValidationFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="ServiceUnavailableFault">
            <soap:fault name="ServiceUnavailableFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ValidationService">
      <wsdl:port binding="tns:ValidationServiceSoap" name="ValidationServiceSoap">
         <!-- <soap:address location="https://amer-poc7-prod.apigee.net/sinvalidation/2.0/"/> -->
         <soap:address location="ReplaceMe"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>