EJBServer/components/EvidenceBroker/wsdl/ShareEvidence/EvidenceBrokerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="EvidenceBrokerWS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="EvidenceBrokerWS" xmlns:intf="EvidenceBrokerWS" xmlns:se="http://ws.curam/EvidenceShareWS" xmlns:tns1="http://wsintf.bs.publiclayer.ws.evidencebroker.curam" xmlns:tns2="http://exception.util.curam" xmlns:tns3="http://message.util.curam" xmlns:tns4="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.curam/EvidenceShareWS" xmlns:se="http://ws.curam/EvidenceShareWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:import namespace="EvidenceBrokerWS"/>
     <xs:import namespace="http://message.util.curam"/>
     <xs:import namespace="http://exception.util.curam"/>
     <xs:import namespace="http://lang.java"/>

  
  <!-- BEGIN builtintypes -->

       
       <xs:simpleType name="string">

          <xs:annotation>

             <xs:documentation>
Curam builtin type string.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:string"/>

       </xs:simpleType>

    
       <xs:simpleType name="boolean">

          <xs:annotation>

             <xs:documentation>
Curam builtin type boolean.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:boolean"/>

       </xs:simpleType>

     <xs:simpleType name="date">

        <xs:annotation>

           <xs:documentation>
Cúram builtin type date.     </xs:documentation>

        </xs:annotation>

        <xs:restriction base="xs:date"/>

     </xs:simpleType>
   
           
       <xs:simpleType name="char">

          <xs:annotation>

             <xs:documentation>
Curam builtin type char.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:string">

             <xs:length value="1"/>

          </xs:restriction>

       </xs:simpleType>

   <!-- END     builtintypes -->

    
    <!-- BEGIN domaintypes -->

       <xs:simpleType name="CaseID">

          <xs:annotation>

             <xs:documentation>
This should be the Cúram Case ID.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="se:InternalID"/>

       </xs:simpleType>

    
       <xs:simpleType name="InternalID">

          <xs:annotation>

             <xs:documentation>
Cúram Internal ID.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:long"/>

       </xs:simpleType>

    
       <xs:simpleType name="AlternateID">

          <xs:annotation>

             <xs:documentation>
Cúram Atlernate ID.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:string"/>

       </xs:simpleType>

       
       <xs:simpleType name="EvidenceItemName">

          <xs:annotation>

             <xs:documentation>
The name of the evidence item in curam.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:string"/>

       </xs:simpleType>

    
       <xs:simpleType name="CodetableCode">

          <xs:annotation>

             <xs:documentation>
Cúram code table code.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="xs:string">

             <xs:maxLength value="10"/>

          </xs:restriction>

       </xs:simpleType>

    
       <xs:simpleType name="EvidenceType">

          <xs:annotation>

             <xs:documentation>
Curam Evidence Type code table code.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="se:CodetableCode"/>

       </xs:simpleType>

  
       <xs:simpleType name="CaseTypeCode">

        <xs:annotation>

           <xs:documentation>
Curam Case Type code table code.     </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:CodetableCode"/>

       </xs:simpleType>

  
      <xs:simpleType name="CaseSubType">

         <xs:annotation>

           <xs:documentation>
Curam Evidence Type code table code.     </xs:documentation>

         </xs:annotation>

        <xs:restriction base="se:CodetableCode"/>

      </xs:simpleType>

     
     <xs:simpleType name="EvidenceShareInd">

        <xs:annotation>

           <xs:documentation>
This indicator signifies whether the evidence was shared.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="xs:boolean"/>

     </xs:simpleType>

  
     <xs:simpleType name="OperationName">

        <xs:annotation>

           <xs:documentation>
The operation to be performed, can be a create or a delete operation.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:CodetableCode"/>

     </xs:simpleType>

  
     <xs:simpleType name="SourceSystemName">

        <xs:annotation>

           <xs:documentation>
The System name from where the process inbound request is coming from.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="xs:string"/>

     </xs:simpleType>

  
      <xs:simpleType name="evidenceDescriptorIdentifier">

            <xs:annotation>

               <xs:documentation>
This should be the Cúram Evidence Descriptor Identifier
            evidence.     </xs:documentation>

            </xs:annotation>

            <xs:restriction base="se:InternalID"/>

       </xs:simpleType>

   
    <!-- END domaintypes -->

    
    <!-- BEGIN semtypes -->

       <xs:simpleType name="caseReference">

          <xs:annotation>

             <xs:documentation>
This is the Case ID.     </xs:documentation>

          </xs:annotation>

          <xs:restriction base="se:CaseID"/>

       </xs:simpleType>

    
     <xs:simpleType name="personReference">

          <xs:annotation>

             <xs:documentation>
This should be the Curam Evidence Identifier
          evidence.     </xs:documentation>

          </xs:annotation>

        <xs:restriction base="se:AlternateID"/>

       </xs:simpleType>

    
      <xs:simpleType name="evidenceType">

          <xs:annotation>

             <xs:documentation>
This should be the Curam Evidence Type of an Evidence record.
             </xs:documentation>

          </xs:annotation>

          <xs:restriction base="se:EvidenceType"/>

      </xs:simpleType>

  
     <xs:simpleType name="caseType">

        <xs:annotation>

           <xs:documentation>
This should be the curam case type code record.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:CaseTypeCode"/>

     </xs:simpleType>

  
     <xs:simpleType name="caseSubType">

        <xs:annotation>

           <xs:documentation>
This should be the curam case type sub code record.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:CodetableCode"/>

     </xs:simpleType>

  
     <xs:simpleType name="sourceSystemName">

        <xs:annotation>

           <xs:documentation>
The System name from where the process inbound request is coming from.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:SourceSystemName"/>

     </xs:simpleType>

  
     <xs:simpleType name="sharedInstanceID">

        <xs:annotation>

           <xs:documentation>
This Id signifies that the evidence was copied from the same source.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:InternalID"/>

     </xs:simpleType>

  
     <xs:simpleType name="operation">

        <xs:annotation>

           <xs:documentation>
This corresponds to evidence create or remove operations.     </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:OperationName"/>

     </xs:simpleType>

   
     <xs:simpleType name="evidenceItemValue">

        <xs:annotation>

           <xs:documentation>
This should be the Curam Evidence Type of an Evidence record.
           </xs:documentation>

        </xs:annotation>

        <xs:restriction base="se:EvidenceType"/>

     </xs:simpleType>

   
  <!-- END semtypes -->

  
  
  <!-- BEGIN evidence details -->
  
  
     <xs:element name="evidenceDetails">

        <xs:complexType>

         <xs:sequence>

      
            <xs:element maxOccurs="1" minOccurs="1" name="caseID" type="se:caseReference">

               <xs:annotation>

                  <xs:documentation>

            This is the case identifier to idenify the case with
            which this evidence is associated.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="participantNumber" type="se:personReference">

               <xs:annotation>

                  <xs:documentation>

            This is the person reference number of the participant with whom this evidence is associated.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="evidenceType" type="se:evidenceType">

               <xs:annotation>

                  <xs:documentation>

            This is the evidence type code to identify the type of Evidence record.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="caseType" type="se:caseType">

               <xs:annotation>

                  <xs:documentation>

            This is the case type code value of the evidence record.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="caseSubType" type="se:caseSubType">

               <xs:annotation>

                  <xs:documentation>

            This is the case sub type code value of the evidence record.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="sourceSystemName" type="se:sourceSystemName">

               <xs:annotation>

                  <xs:documentation>

            The System name from where the process incoming request is coming from.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>
 
      
            <xs:element maxOccurs="1" minOccurs="1" name="sharedInstanceID" type="se:sharedInstanceID">

               <xs:annotation>

                  <xs:documentation>

           This Id signifies that the evidence was copied from the same source.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="operation" type="se:OperationName">

               <xs:annotation>

                  <xs:documentation>

            This corresponds to evidence create or remove operations.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="receivedDate" type="se:date">

               <xs:annotation>

                  <xs:documentation>

            This should be the date on which the Evidence
            was received.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

      
            <xs:element maxOccurs="1" minOccurs="1" name="effectiveDate" type="se:date">

               <xs:annotation>

                  <xs:documentation>

            This should be the date from which this Evidence
            applies.
                  </xs:documentation>

               </xs:annotation>

            </xs:element>

           </xs:sequence>

          </xs:complexType>

       </xs:element>
      
 
      
     <xs:element name="dataObjects">

        <xs:complexType>

           <xs:sequence>

              <xs:element maxOccurs="unbounded" minOccurs="1" name="dataItem">

                   <xs:complexType>

                      <xs:simpleContent>

                          <xs:extension base="xs:string">

                             <xs:attribute name="name" type="se:EvidenceItemName" use="required"/>

                          </xs:extension>

                      </xs:simpleContent>

                   </xs:complexType>
  
                </xs:element>

             </xs:sequence>

         </xs:complexType>

       </xs:element>


     <xs:element name="evidence" type="se:EvidenceShareRequest">

        <xs:annotation>

           <xs:documentation>

        Evidence Share request
           </xs:documentation>

        </xs:annotation>

     </xs:element>

  
     <xs:complexType name="EvidenceShareRequest">

        <xs:sequence>

           <xs:element maxOccurs="unbounded" minOccurs="1" name="evidenceData">

              <xs:annotation>

                 <xs:documentation>

            An Evidence data record.
                 </xs:documentation>

              </xs:annotation>


              <xs:complexType>

                 <xs:sequence>

                    <xs:element ref="se:evidenceDetails">

                       <xs:annotation>

                          <xs:documentation>

                  This should contain the specific
                  header information about the
                  Evidence.
                          </xs:documentation>

                       </xs:annotation>

                    </xs:element>

                    <xs:element ref="se:dataObjects">

                       <xs:annotation>

                          <xs:documentation>

                  This should contain the Evidence data objects.
                          </xs:documentation>

                       </xs:annotation>

                    </xs:element>

                 </xs:sequence>

              </xs:complexType>

           </xs:element>

        </xs:sequence>

     </xs:complexType>

    
     <xs:element name="response" type="se:EvidenceShareResponse"/>


      <xs:complexType name="EvidenceShareResponse">

             <xs:sequence>

                <xs:element name="status" type="se:status"/>

             </xs:sequence>

      </xs:complexType>


     <xs:element name="status" type="se:status"/>


     <xs:complexType name="status">

        <xs:sequence/>

          <xs:attribute name="success" type="se:boolean" use="required"/>

     </xs:complexType>


  </xs:schema>
  <schema targetNamespace="http://wsintf.bs.publiclayer.ws.evidencebroker.curam" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="EvidenceBrokerWS"/>
   <import namespace="http://message.util.curam"/>
   <import namespace="http://ws.curam/EvidenceShareWS"/>
   <import namespace="http://exception.util.curam"/>
   <import namespace="http://lang.java"/>
   <element name="receiveChangeNotification" type="xsd:anyType"/>
  </schema>
  <schema targetNamespace="EvidenceBrokerWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://message.util.curam"/>
   <import namespace="http://ws.curam/EvidenceShareWS"/>
   <import namespace="http://exception.util.curam"/>
   <import namespace="http://lang.java"/>
   <element name="receiveChangeNotificationReturn" type="xsd:anyType"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns2:AppException"/>
   <element name="fault1" type="tns2:InformationalException"/>
  </schema>
  <schema targetNamespace="http://exception.util.curam" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="EvidenceBrokerWS"/>
   <import namespace="http://message.util.curam"/>
   <import namespace="http://ws.curam/EvidenceShareWS"/>
   <import namespace="http://lang.java"/>
   <complexType name="AppException">
    <sequence>
     <element name="arguments" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="catEntry" nillable="true" type="xsd:anyType"/>
     <element name="log" nillable="true" type="xsd:string"/>
     <element name="loggable" type="xsd:boolean"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="nestedThrowable" nillable="true" type="xsd:anyType"/>
     <element name="next" nillable="true" type="tns2:AppException"/>
    </sequence>
   </complexType>
   <complexType name="InformationalException">
    <sequence>
     <element name="cumulativeStackTrace" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" name="exceptionDetails" nillable="true" type="xsd:string"/>
     <element name="localisedException" nillable="true" type="xsd:string"/>
     <element name="numberOfContainedExceptions" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="AppException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="receiveChangeNotificationResponse">

      <wsdl:part element="impl:receiveChangeNotificationReturn" name="receiveChangeNotificationReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="InformationalException">

      <wsdl:part element="impl:fault1" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="receiveChangeNotificationRequest">

      <wsdl:part element="tns1:receiveChangeNotification" name="part">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EvidenceBrokerWS">

      <wsdl:operation name="receiveChangeNotification">

         <wsdl:input message="impl:receiveChangeNotificationRequest" name="receiveChangeNotificationRequest">

       </wsdl:input>

         <wsdl:output message="impl:receiveChangeNotificationResponse" name="receiveChangeNotificationResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InformationalException" name="InformationalException">

       </wsdl:fault>

         <wsdl:fault message="impl:AppException" name="AppException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EvidenceBrokerWSSoapBinding" type="impl:EvidenceBrokerWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="receiveChangeNotification">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveChangeNotificationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="receiveChangeNotificationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InformationalException">

            <wsdlsoap:fault name="InformationalException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AppException">

            <wsdlsoap:fault name="AppException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EvidenceBrokerWSService">

      <wsdl:port binding="impl:EvidenceBrokerWSSoapBinding" name="EvidenceBrokerWS">

         <wsdlsoap:address location="http://localhost:9082/CuramWS/services/EvidenceBrokerWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
