CuramSDEJ/lib/application-view.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed Materials - Property of IBM

  PID 5725-H26

  Copyright IBM Corporation 2006,2018. All rights reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.curamsoftware.com/curam/util/client/application-config"
    xmlns:ac="http://www.curamsoftware.com/curam/util/client/application-config"
    elementFormDefault="qualified" >

  <annotation>
    <documentation>
      The application frame refers to the top area of the Curam application which remains constant throughout a user?s
      session. The aim of the application frame is to give the user context of what application they are using and what
      section of the application they are currently in, and to provide links to features which will always be available
      to them no matter where they are within the application or what they are doing.
    </documentation>
  </annotation>
  <element name="application">
    <annotation>
      <documentation>The container for all of the elements that make up the application frame.</documentation>
    </annotation>
    <complexType>
      <choice>
        <sequence>
          <choice maxOccurs="unbounded">
            <element ref="ac:timeout-warning" minOccurs="0" maxOccurs="1"/>
            <element ref="ac:landing-page" minOccurs="0" maxOccurs="1"/>
            <element ref="ac:banner-menu" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="ac:navigation" minOccurs="0" maxOccurs="unbounded" />
          </choice>
        </sequence>
        <sequence>
          <choice maxOccurs="unbounded">
            <element ref="ac:timeout-warning" minOccurs="0" maxOccurs="1"/>
            <element ref="ac:application-menu"/>
            <element ref="ac:application-search" minOccurs="0" />
            <element ref="ac:section-ref" minOccurs="0" maxOccurs="unbounded"/>
          </choice>
        </sequence>
      </choice>
      <attribute name="id" type="ID" use="required">
        <annotation>
          <documentation>The identifier of the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="header-type" use="optional">
        <annotation>
          <documentation>The type of header to be displayed in the application view.</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="static"/>
            <enumeration value="dynamic"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="header-source" type="string" use="optional">
        <annotation>
          <documentation>The reference to the source details to allow for the header to be displayed.</documentation>
        </annotation>
      </attribute>
      <attribute name="logo" type="string" use="optional">
        <annotation>
          <documentation>The logo associated with the application view.</documentation>
        </annotation>
      </attribute>
       <attribute name="curam-logo" type="string" use="optional">
        <annotation>
          <documentation>The curam logo associated with the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="title" type="string" use="optional">
        <annotation>
          <documentation>The title of the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="context" type="string" use="optional">
        <annotation>
          <documentation>The application context of the user. The value of this attribute should be a codetable
          code.</documentation>
        </annotation>
      </attribute>
      <attribute name="subtitle" type="string" use="optional">
        <annotation>
          <documentation>The subtitle of the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="admin-description" type="string" use="optional">
        <annotation>
          <documentation>The administration description of the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="user-message" type="string" use="optional">
        <annotation>
          <documentation>The user message associated with the application view.</documentation>
        </annotation>
      </attribute>
      <attribute name="hide-tab-container" type="boolean" use="optional">
        <annotation>
          <documentation>Indicator to determine if the section tabs associated with this application view should be hidden.</documentation>
        </annotation>
      </attribute>
      <attribute name="mode" use="optional">
        <annotation>
          <documentation>The default mode is internal style applications. Where this is set to external, different elements apply and will be validated.</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="external"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="logo-required" use="optional">
        <annotation>
          <documentation>Indicator to display or hide the logo from the application banner. If it is not used, the IBM logo will always be displayed.</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="true"/>
            <enumeration value="false"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="logo-alt-text" type="string" use="optional">
        <annotation>
          <documentation>The alternative text for the custom logo.</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="application-menu">
    <annotation>
      <documentation>The application menu.</documentation>
    </annotation>
    <complexType>
      <sequence>
        <choice maxOccurs="3">
          <element ref="ac:preferences"/>
          <element ref="ac:help"/>
          <element ref="ac:logout"/>
         </choice>
      </sequence>
    </complexType>
  </element>

  <element name="preferences">
    <annotation>
      <documentation>
        The preferences details associated with the application menu.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="title" type="string" use="required">
        <annotation>
          <documentation>
            The title of the preferences details.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="help">
    <annotation>
      <documentation>
        The help details associated with the application menu.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="title" type="string" use="required">
        <annotation>
          <documentation>
            The title of the help details..
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="logout">
    <annotation>
      <documentation>
        The logout details associated with the application menu.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="title" type="string" use="required">
        <annotation>
          <documentation>
            The title of the logout details.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="application-search">
    <annotation>
      <documentation>
        The application search area provides a smart navigator that can be
        accessed from anywhere in an application that is used to search
        across a number of different types of object. The user can chose
        to search across one or all of these objects.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <choice maxOccurs="3">
          <element ref="ac:search-pages" minOccurs="0"/>
          <element ref="ac:further-options-link" minOccurs="0"/>
          <element ref="ac:smart-navigator" minOccurs="0"/>  
        </choice>
      </sequence>
      <attribute name="default-search-page" type="string">
        <annotation>
          <documentation>
            This is the identifier of the search page that will be used by
            default when no business objects have been defined.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="initial-text" type="string">
        <annotation>
          <documentation>
            The value of this attribute specifies the initial text that will
            be placed in the associated search text input field when no business
            objects have been specified. It should be specified as a value from a
            properties file to ensure correct localization.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="search-pages">
    <annotation>
      <documentation>
        The container for the search pages that represent the business
        objects to be displayed in the drop down.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="ac:search-page" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <element name="search-page">
    <annotation>
      <documentation>
        This describes one business object that a user may select and search on
        in the application search panel.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="type" type="string" use="required">
        <annotation>
          <documentation>
             This defines the business object type (analogous to a codetable
             code) that may be used in the implementation of the associated
             search page to defined what business object to use in the search.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="description" type="string" use="required">
        <annotation>
          <documentation>
            The description of the search page. The value of this
            attribute will be displayed to the user in the drop down containing
            the business objects and it should be specified as a value from a
            properties file to ensure correct localization.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="page-id" type="string" use="required">
        <annotation>
          <documentation>
            The value of this attribute specifies the page that will be
            navigated to when the user selects this business object from the
            drop down and clicks on the search image. It should specify
            a valid identifier for an application page.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="initial-text" type="string" use="required">
        <annotation>
          <documentation>
            The value of this attribute specifies the initial text that will
            be placed in the associated search text input field when a business
            object is selected for use in a search. It should be specified as
            a value from a properties file to ensure correct localization.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="default" type="boolean">
        <annotation>
          <documentation>
            The value of this attribute specifies which business object will
            be selected by default in the drop down list of business objects.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="further-options-link">
    <annotation>
      <documentation>
        The further options link which defines a page that a user may
        navigate to in order to see further search options that are
        available in the application search.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="description" type="string" use="required">
        <annotation>
          <documentation>
            The description of the further options link. The value of this
            attribute will be displayed to the user in the application search
            panel as a link and it should be specified as a value from a
            properties file to ensure correct localization.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="page-id" type="string" use="required">
        <annotation>
          <documentation>
            The value of this attribute specifies the page that will be
            navigated to when the user clicks on the further search options
            link. It should be specify a valid identifier for an application
            page that does not specify any page parameters.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
   
  <element name="smart-navigator">
    <annotation>
      <documentation>
        This activates the quick search behavior of the application search.
        The search is done via ajax and the results are listed directly in the
        application search component. It means that the user is not redirected
        to the search pages.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="description" type="string" use="required">
        <annotation>
          <documentation>
            The description of the quick search option. The value of this
            attribute will be displayed to the user in the drop down if this element
            is used along with the search-pages element. It should be specified as 
            a value from a properties file to ensure correct localization.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="initial-text" type="string" use="required">
        <annotation>
          <documentation>
            The value of this attribute specifies the initial text that will
            be placed in the associated search text input field. It should 
            be specified as a value from a properties file to ensure 
            correct localization.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="default" type="boolean">
        <annotation>
          <documentation>
            The value of this attribute specifies which business object will
            be selected by default in the drop down list of business objects.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="section-ref">
    <annotation>
      <documentation>A section of the application frame.</documentation>
    </annotation>
    <complexType>
      <attribute name="id" use="required" type="string">
        <annotation>
          <documentation>
            The unique identifier of a sectton panel.
          </documentation>
        </annotation>
      </attribute>
      </complexType>
  </element>

  <element name="landing-page">
    <annotation>
      <documentation>
        The landing page link for an external style application.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="title" use="required" type="string">
        <annotation>
          <documentation>
            A property reference for the title used beneath the logo.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="page-id" use="required" type="string">
        <annotation>
          <documentation>
            The UIM page ID to open when the landing page logo is clicked.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="icon" use="optional" type="string">
        <annotation>
          <documentation>
            An optional property reference to the landing page logo.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
  
  <element name="timeout-warning">
    <annotation>
      <documentation>
        The timeout warning to warn users of impending session timeout in
        application.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="title" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the title of the modal dialog notifying
            user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="user-message" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the user message of the modal dialog
            warning user that their session will time out very shortly.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="expired-user-message" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the expired user message of the modal
            dialog notifying user that their session has timed out.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="continue-button" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the continue button on the modal dialog
            notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="quit-button" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the quit button on the modal dialog
            notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="dismiss-button" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the dismiss button on the modal dialog
            notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="timeout" use="optional" type="integer">
        <annotation>
          <documentation>
            The timeout period that the user is given to respond to the modal
            dialog notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="width" use="optional" type="integer">
        <annotation>
          <documentation>
            The width of the modal dialog notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="height" use="optional" type="integer">
        <annotation>
          <documentation>
           The height of the modal dialog notifying user of session timeout.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
  

  <element name="banner-menu">
    <annotation>
      <documentation>
        The mega-menus that can be added to the application banner for
        external style applications.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="ac:menu-item" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>      
      <attribute name="title" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for the title used for the menu.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="type" use="required">
        <annotation>
          <documentation>
            The type of banner menu.
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="mega"/>
            <enumeration value="help"/>
            <enumeration value="person"/>
            <enumeration value="print"/>
            <enumeration value="logout"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="page-id" use="optional" type="string">
        <annotation>
          <documentation>
            The UIM page ID to open when the menu is selected. This is 
            applicable to certain types of menu, e.g. the person menu.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="menu-item">
    <annotation>
      <documentation>
        A menu item within a mega menu in the application banner for external
        style applications.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="ac:param" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
      <attribute name="id" use="required" type="string">
        <annotation>
          <documentation>
            A unique id for the menu item. This must be unique within the file.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="title" use="required" type="string">
        <annotation>
          <documentation>
            A property reference for the title used for the menu item.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="page-id" use="required" type="string">
        <annotation>
          <documentation>
            The UIM page ID to open when the menu is selected.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="icon" use="optional" type="string">
        <annotation>
          <documentation>
            The optional icon to display for the menu item.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="text" use="optional" type="string">
        <annotation>
          <documentation>
            A property reference for longer text that can be displayed
            in the banner menu item.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="open-as" use="optional">
        <annotation>
          <documentation>
            Indicates how the menu item should be opened, currently only the value "modal" is supported.
            If this isn't specified, the page will be opened in the main content area.
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="modal"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="hiddenForUserType" use="optional">
        <annotation>
          <documentation>
            Controls whether a menu item is shown for a certain User Type. This
            attribute is only used by the external application's Person menu.
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="standard"/>
            <enumeration value="linked"/>
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="logout" type="boolean" use="optional">
        <annotation>
          <documentation>
            Identifies if the menu item is associated with a logout page.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="param">
    <annotation>
      <documentation>
        A hard coded parameter that can be passed to menu items in the
        banner menu.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="name" use="required" type="string">
        <annotation>
          <documentation>
            The name of the parameter.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="value" use="required" type="string">
        <annotation>
          <documentation>
            The value of the parameter. This can be a localized value or
            the as is value, where it hasn't be referenced in the properties 
            file.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="description" use="required" type="string">
        <annotation>
          <documentation>
            A property reference to the description of the parameter. This
            is required for administration purposes.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name="navigation">
    <annotation>
      <documentation>
        Reference to the navigation file that will be used for the 
        navigation panel for an external style application. This is only
        applicable where the mode is external.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="id" type="string" use="required">
        <annotation>
          <documentation>
            Navigation file name.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="width" type="string" use="optional">
        <annotation>
          <documentation>
            A property reference to the value in pixels that will be used
            for the navigation bar. This allows localized widths to be set
            for the navigation bar, on a per application basis.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="display-name" type="string" use="optional">
        <annotation>
          <documentation>
            A property reference to the administration display name for the
            navigation entry. This is used for administration purposes only.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

</schema>
