CuramSDEJ/lib/generator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--
Copyright 2005 Curam Software Ltd.
All rights reserved.

This software is the confidential and proprietary information of Curam
Software, Ltd. ("Confidential Information"). You shall not disclose
such Confidential Information and shall use it only in accordance with the
terms of the license agreement you entered into with Curam Software.
-->
<xs:schema xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!--Attributes-->
  <xs:attribute name="NAME" type="xs:string"/>
  <xs:attribute name="QUID" type="xs:string"/>
  <xs:attribute name="STEREOTYPE" type="xs:string"/>
  <xs:attribute name="TYPE" type="xs:string"/>
  <xs:attribute name="QUALIFIEDNAME" type="xs:string"/>
  <xs:attribute name="VALUE" type="xs:string"/>
  <xs:attribute name="SUPPLIER" type="xs:string"/>
  <xs:attribute name="MODE" type="xs:string"/>
  <xs:attribute name="VISIBILITY" type="xs:string"/>
  <xs:attribute name="AGGREGATE" type="xs:string"/>
  <xs:attribute name="CONTAINMENT" type="xs:string"/>
  <xs:attribute name="CLASS" type="xs:string"/>
  <xs:attribute name="NAVIGABLE" type="xs:string"/>
  <xs:attribute name="QUALIFIEDCLASS" type="xs:string"/>
  <xs:attribute name="CARDINALITY" type="xs:string"/>
  <xs:attribute name="QUIDU" type="xs:string"/>
  <!--Attribute Groups-->
  <xs:attributeGroup name="classAttributeGroup">
    <xs:attribute ref="NAME" use="required"/>
    <xs:attribute ref="QUALIFIEDNAME"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="STEREOTYPE"/>
    <xs:attribute ref="TYPE"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classOpAttributeGroup">
    <xs:attribute ref="NAME" use="required"/>
    <xs:attribute ref="QUALIFIEDNAME"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="STEREOTYPE"/>
    <xs:attribute ref="TYPE"/>
    <xs:attribute ref="VISIBILITY"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classOpParamAttributeGroup">
    <xs:attribute ref="MODE"/>
    <xs:attribute ref="NAME" use="required"/>
    <xs:attribute ref="STEREOTYPE"/>
    <xs:attribute ref="TYPE"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="packageAttributeGroup">
    <xs:attribute ref="NAME"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classOrigFileAttributeGroup">
    <xs:attribute ref="NAME"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="associationOrigFileAttributeGroup">
    <xs:attribute ref="NAME"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="moduleAttributeGroup">
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="STEREOTYPE"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classAssocAttributeGroup">
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="STEREOTYPE"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="moduleRealisesAttributeGroup">
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="QUALIFIEDNAME"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="optionAttributeGroup">
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="VALUE"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classInheritAttributeGroup">
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="QUALIFIEDNAME"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classDependencyAttributeGroup">
    <xs:attribute ref="NAME" use="required"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="STEREOTYPE"/>
    <xs:attribute ref="SUPPLIER"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="classAssocRoleAttributeGroup">
    <xs:attribute ref="AGGREGATE" use="required"/>
    <xs:attribute ref="CARDINALITY"/>
    <xs:attribute ref="CLASS"/>
    <xs:attribute ref="CONTAINMENT"/>
    <xs:attribute ref="NAME"/>
    <xs:attribute ref="NAVIGABLE"/>
    <xs:attribute ref="QUALIFIEDCLASS"/>
    <xs:attribute ref="QUID"/>
    <xs:attribute ref="QUIDU"/>
    <xs:attribute ref="STEREOTYPE"/>
  </xs:attributeGroup>
  <!--Elements-->
  <xs:element name="PACKAGE.OPTION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="optionAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.ATTRIBUTE.OPTION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="optionAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPTION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="optionAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPERATION.OPTION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="optionAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPERATION.PARAMETER.OPTION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="optionAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.DEPENDENCY">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="classDependencyAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.INHERIT">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="classInheritAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.ORIGINALFILE">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="classOrigFileAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CLASS.ASSOCIATION.ORIGINALFILE">
    <xs:annotation>
      <xs:documentation>File where this association originated.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="associationOrigFileAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CLASS.ATTRIBUTE.DOCUMENTATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPERATION.DOCUMENTATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.ASSOCIATION.ROLE.KEY">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.ASSOCIATION.ROLE">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS.ASSOCIATION.ROLE.KEY" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAssocRoleAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.DOCUMENTATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PACKAGE.DOCUMENTATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPERATION.PARAMETER.DOCUMENTATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.ATTRIBUTE">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS.ATTRIBUTE.OPTION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.ATTRIBUTE.DOCUMENTATION" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="CLASS.ORIGINALFILE" minOccurs="0" maxOccurs="1"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributeGroup"/>
    </xs:complexType>
    <xs:unique name="classAttributeOption">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="CLASS.ATTRIBUTE.OPTION"/>
      <xs:field xpath="@NAME"/>
    </xs:unique>
  </xs:element>
  <xs:element name="CLASS.ASSOCIATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS.ASSOCIATION.ROLE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.ASSOCIATION.ORIGINALFILE" minOccurs="0" maxOccurs="1"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAssocAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASS.OPERATION">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS.OPERATION.PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.OPERATION.OPTION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.OPERATION.DOCUMENTATION" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="CLASS.ORIGINALFILE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="classOpAttributeGroup"/>
    </xs:complexType>
    <xs:unique name="classOperationOption">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="CLASS.OPERATION.OPTION"/>
      <xs:field xpath="@NAME"/>
    </xs:unique>
  </xs:element>
  <xs:element name="CLASS.OPERATION.PARAMETER">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
        <xs:element ref="CLASS.OPERATION.PARAMETER.OPTION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.OPERATION.PARAMETER.DOCUMENTATION" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="classOpParamAttributeGroup"/>
    </xs:complexType>
    <xs:unique name="classOpParameterOption">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="CLASS.OPERATION.PARAMETER.OPTION"/>
      <xs:field xpath="@NAME"/>
    </xs:unique>
  </xs:element>
  <xs:element name="CLASS">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS.ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.OPERATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.ASSOCIATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.DEPENDENCY" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.OPTION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.DOCUMENTATION" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="CLASS.INHERIT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CLASS.ORIGINALFILE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributeGroup"/>
    </xs:complexType>
    <xs:unique name="classOption">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="CLASS.OPTION"/>
      <xs:field xpath="@NAME"/>
    </xs:unique>
  </xs:element>
  <xs:element name="PACKAGE">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PACKAGE.OPTION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="PACKAGE.DOCUMENTATION" minOccurs="0" maxOccurs="1"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="packageAttributeGroup"/>
    </xs:complexType>
    <xs:unique name="packageOption">
      <xs:annotation>
        <xs:documentation>The transition id references within a split must be unique.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="PACKAGE.OPTION"/>
      <xs:field xpath="@NAME"/>
    </xs:unique>
  </xs:element>
  <xs:element name="MODULE.REALISES">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="moduleRealisesAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODULE">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MODULE.REALISES" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="moduleAttributeGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODEL">
    <xs:annotation>
      <xs:documentation>The root of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="PACKAGE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="MODULE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
