EJBServer/components/EvidenceBroker/webservices/EvidenceShare.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
  
  Copyright IBM Corporation 2012. All Rights Reserved.
 
  US Government Users Restricted Rights - Use, duplication or disclosure 
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->  

<!--
  Copyright 2010 Curam Software Ltd.
  All rights reserved.
  
  This software is the confidential and proprietary information of Curam
  Software, Ltd. ("Confidential Information"). You shall not disclose
  such Confidential Information and shall use it only in accordance with the
  terms of the license agreement you entered into with Curam Software.
-->

<!-- root element, namespace and form definitions -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:se="http://ws.curam/EvidenceShareWS"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  targetNamespace="http://ws.curam/EvidenceShareWS">
  
  <!-- BEGIN builtintypes -->
       
    <xs:simpleType name="string">
      <xs:annotation>
        <xs:documentation>Curam builtin type string.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="boolean">
      <xs:annotation>
        <xs:documentation>Curam builtin type boolean.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>Cúram builtin type date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>   
           
    <xs:simpleType name="char">
      <xs:annotation>
        <xs:documentation>Curam builtin type char.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:length value="1"/>
      </xs:restriction>
    </xs:simpleType>
   <!-- END     builtintypes -->
    
    <!-- BEGIN domaintypes -->
    <xs:simpleType name="CaseID">
      <xs:annotation>
        <xs:documentation>This should be the Cúram Case ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="se:InternalID"/>
    </xs:simpleType>
    
    <xs:simpleType name="InternalID">
      <xs:annotation>
        <xs:documentation>Cúram Internal ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long"/>
    </xs:simpleType>
    
    <xs:simpleType name="AlternateID">
      <xs:annotation>
        <xs:documentation>Cúram Atlernate ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
       
    <xs:simpleType name="EvidenceItemName">
      <xs:annotation>
        <xs:documentation>The name of the evidence item in curam.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="CodetableCode">
      <xs:annotation>
        <xs:documentation>Cúram code table code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EvidenceType">
      <xs:annotation>
        <xs:documentation>Curam Evidence Type code table code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="se:CodetableCode"/>
    </xs:simpleType>
  
    <xs:simpleType name="CaseTypeCode">
    <xs:annotation>
      <xs:documentation>Curam Case Type code table code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:CodetableCode"/>
    </xs:simpleType>
  
   <xs:simpleType name="CaseSubType">
     <xs:annotation>
      <xs:documentation>Curam Evidence Type code table code.</xs:documentation>
     </xs:annotation>
    <xs:restriction base="se:CodetableCode"/>
   </xs:simpleType>
     
  <xs:simpleType name="EvidenceShareInd">
    <xs:annotation>
      <xs:documentation>This indicator signifies whether the evidence was shared.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  
  <xs:simpleType name="OperationName">
    <xs:annotation>
      <xs:documentation>The operation to be performed, can be a create or a delete operation.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:CodetableCode"/>
  </xs:simpleType>
  
  <xs:simpleType name="SourceSystemName">
    <xs:annotation>
      <xs:documentation>The System name from where the process inbound request is coming from.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
   <xs:simpleType name="evidenceDescriptorIdentifier">
        <xs:annotation>
          <xs:documentation>This should be the Cúram Evidence Descriptor Identifier
            evidence.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="se:InternalID"/>
    </xs:simpleType>
   
    <!-- END domaintypes -->
    
    <!-- BEGIN semtypes -->
    <xs:simpleType name="caseReference">
      <xs:annotation>
        <xs:documentation>This is the Case ID.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="se:CaseID"/>
    </xs:simpleType>
    
  <xs:simpleType name="personReference">
      <xs:annotation>
        <xs:documentation>This should be the Curam Evidence Identifier
          evidence.</xs:documentation>
      </xs:annotation>
    <xs:restriction base="se:AlternateID"/>
    </xs:simpleType>
    
   <xs:simpleType name="evidenceType">
      <xs:annotation>
        <xs:documentation>This should be the Curam Evidence Type of an Evidence record.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="se:EvidenceType"/>
   </xs:simpleType>
  
  <xs:simpleType name="caseType">
    <xs:annotation>
      <xs:documentation>This should be the curam case type code record.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:CaseTypeCode"/>
  </xs:simpleType>
  
  <xs:simpleType name="caseSubType">
    <xs:annotation>
      <xs:documentation>This should be the curam case type sub code record.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:CodetableCode"/>
  </xs:simpleType>
  
  <xs:simpleType name="sourceSystemName">
    <xs:annotation>
      <xs:documentation>The System name from where the process inbound request is coming from.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:SourceSystemName"/>
  </xs:simpleType>
  
  <xs:simpleType name="sharedInstanceID">
    <xs:annotation>
      <xs:documentation>This Id signifies that the evidence was copied from the same source.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:InternalID"/>
  </xs:simpleType>
  
  <xs:simpleType name="operation">
    <xs:annotation>
      <xs:documentation>This corresponds to evidence create or remove operations.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:OperationName"/>
  </xs:simpleType>
   
  <xs:simpleType name="evidenceItemValue">
    <xs:annotation>
      <xs:documentation>This should be the Curam Evidence Type of an Evidence record.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="se:EvidenceType"/>
  </xs:simpleType>
   
  <!-- END semtypes -->
  
  
  <!-- BEGIN evidence details -->  
  
  <xs:element name="evidenceDetails">
    <xs:complexType>
    <xs:sequence>
      
      <xs:element name="caseID" type="se:caseReference"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is the case identifier to idenify the case with
            which this evidence is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="participantNumber" type="se:personReference"
        minOccurs="1"  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is the person reference number of the participant with whom this evidence is associated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="evidenceType" type="se:evidenceType"
        minOccurs="1"  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is the evidence type code to identify the type of Evidence record.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="caseType" type="se:caseType"
        minOccurs="1"  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is the case type code value of the evidence record.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="caseSubType" type="se:caseSubType"
        minOccurs="1"  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is the case sub type code value of the evidence record.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="sourceSystemName" type="se:sourceSystemName"
        minOccurs="1"  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The System name from where the process incoming request is coming from.
          </xs:documentation>
        </xs:annotation>
      </xs:element> 
      
      <xs:element name="sharedInstanceID" type="se:sharedInstanceID"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
           This Id signifies that the evidence was copied from the same source.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="operation" type="se:OperationName"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This corresponds to evidence create or remove operations.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="receivedDate" type="se:date"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date on which the Evidence
            was received.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="effectiveDate" type="se:date"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This should be the date from which this Evidence
            applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>      
 
      
  <xs:element name="dataObjects" >
    <xs:complexType >
      <xs:sequence>
        <xs:element name="dataItem" maxOccurs="unbounded"
           minOccurs="1">
            <xs:complexType>
              <xs:simpleContent>
                 <xs:extension base="xs:string">
                   <xs:attribute name="name" use="required" type="se:EvidenceItemName"/>
                 </xs:extension>
              </xs:simpleContent>
            </xs:complexType>  
          </xs:element>
        </xs:sequence>
     </xs:complexType>
    </xs:element>

  <xs:element name="evidence" type="se:EvidenceShareRequest">
    <xs:annotation>
      <xs:documentation>
        Evidence Share request
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="EvidenceShareRequest">
    <xs:sequence>
      <xs:element name="evidenceData" minOccurs="1"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An Evidence data record.
          </xs:documentation>
        </xs:annotation>

        <xs:complexType>
          <xs:sequence>
            <xs:element ref="se:evidenceDetails">
              <xs:annotation>
                <xs:documentation>
                  This should contain the specific
                  header information about the
                  Evidence.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="se:dataObjects">
              <xs:annotation>
                <xs:documentation>
                  This should contain the Evidence data objects.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
    
  <xs:element name="response" type="se:EvidenceShareResponse"/>

   <xs:complexType name="EvidenceShareResponse">
         <xs:sequence>
           <xs:element name="status" type="se:status"/>
         </xs:sequence>
   </xs:complexType>

  <xs:element name="status" type="se:status"/>

  <xs:complexType name="status">
    <xs:sequence/>
      <xs:attribute name="success" use="required" type="se:boolean"/>
  </xs:complexType>

</xs:schema>
