EJBServer/components/BDM/source/curam/ca/gc/bdm/rest/bdmcorrespondenceapi/xsd/niem-coreV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/5.0/" version="1" xml:lang="en-US"
    xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
    xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
    xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="niem-xs.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="structures.xsd"/>
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:AddressFullText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressPrivateMailboxText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressSecondaryUnitText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressStreet" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressRecipientName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressCityName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressCountry" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressProvince" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressPostalCode" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressPostalExtensionCode" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:AddressCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CodeType">
        <xs:annotation>
            <xs:documentation>A data type for a code with codes sourced from an external code list.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:token">
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ContactInformationType">
        <xs:annotation>
            <xs:documentation>A data type for how to contact a person or an organization.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:ContactEmailID" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:ContactMailingAddress" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:ContactTelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CountryType">
        <xs:annotation>
            <xs:documentation>A data type for a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:CountryCode" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:CountryName" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateType">
        <xs:annotation>
            <xs:documentation>A data type for a calendar date.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:Date" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:DateTime" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:DayDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:MonthDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:YearDate" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EntityType">
        <xs:annotation>
            <xs:documentation>A data type for a person, organization, or item.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:EntityOrganization" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:EntityPerson" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FullTelephoneNumberType">
        <xs:annotation>
            <xs:documentation>A data type for a full telephone number.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IdentificationType">
        <xs:annotation>
            <xs:documentation>A data type for a representation of an identity.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:IdentificationStatus" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LanguageType">
        <xs:annotation>
            <xs:documentation>A data type for a language.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:LanguageName" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="LocationType">
        <xs:annotation>
            <xs:documentation>A data type for geospatial location.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:Address" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:LocationCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:LocationContactInformation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:LocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:LocationName" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OrganizationType1">
        <xs:annotation>
            <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:OrganizationCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PersonNameType">
        <xs:annotation>
            <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonNameCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation>A data type for a human being.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonDeathDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonSecondaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonSexText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonContactInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProvinceType">
        <xs:annotation>
            <xs:documentation>A data type for a province of a country.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:ProvinceCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:ProvinceName" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StatusType">
        <xs:annotation>
            <xs:documentation>A data type for a state of something or someone.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StatusDate" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StreetType">
        <xs:annotation>
            <xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:StreetCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TelephoneNumberType">
        <xs:annotation>
            <xs:documentation>A data type for a telephone number for a telecommunication device.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="nc:FullTelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:TelephoneNumberCategoryText" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:TelephoneNumberDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextType">
        <xs:annotation>
            <xs:documentation>A data type for a character string.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="niem-xs:string">
                <xs:attribute ref="nc:partialIndicator" use="optional"/>
                <xs:attribute ref="nc:truncationIndicator" use="optional"/>
                <xs:attribute ref="xml:lang" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:attribute name="partialIndicator" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>True if only partial information was available to the information source at the time when the data was captured in the system; false otherwise.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="truncationIndicator" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>True if the length of a string is greater than the length of the field within which the string was stored in the exporting system; false otherwise.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    
    <xs:element name="Address" type="nc:AddressType" nillable="true">
        <xs:annotation>
            <xs:documentation>A set of location information, often described by postal information.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Date" type="niem-xs:date" nillable="true">
        <xs:annotation>
            <xs:documentation>A full date.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind of address.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressCityName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a city or town.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressCountry" type="nc:CountryType" nillable="true">
        <xs:annotation>
            <xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressFullText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A complete address.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressPostalCode" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressPostalExtensionCode" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressPrivateMailboxText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A private mailbox within a company.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressProvince" type="nc:ProvinceType">
        <xs:annotation>
            <xs:documentation>A province of a country.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressRecipientName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a person, organization, or other recipient to whom physical mail may be sent.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressSecondaryUnitText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A particular unit within a larger unit or grouping at a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressStreet" type="nc:StreetType" nillable="true">
        <xs:annotation>
            <xs:documentation>A road, thoroughfare or highway.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AddressUrbanizationName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>An urbanization denotes an area, sector, or residential development within a geographic area. Commonly used in Puerto Rican urban areas, it is an important part of the addressing format, as it describes the location of a specific street whose name may occur multiple times within the same ZIP Code.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ContactEmailID" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>An electronic mailing address by which a person or organization may be contacted.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of the contact information.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ContactMailingAddress" type="nc:AddressType" nillable="true">
        <xs:annotation>
            <xs:documentation>A postal address by which a person or organization may be contacted.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
        <xs:annotation>
            <xs:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CountryCode" type="nc:CodeType" nillable="true">
        <xs:annotation>
            <xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CountryName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DateTime" type="niem-xs:dateTime" nillable="true">
        <xs:annotation>
            <xs:documentation>A full date and time.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DayDate" type="niem-xs:gDay" nillable="true">
        <xs:annotation>
            <xs:documentation>A day date.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentCategoryID" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>An identifier of a kind of information in a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentCategoryName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a category of information in a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>An identification that references a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentIssuanceLocation" type="nc:LocationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A location from which a document was issued.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentIssueDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date at which a document was issued and when appropriate, signed or otherwise authenticated.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentLanguage" type="nc:LanguageType" nillable="true">
        <xs:annotation>
            <xs:documentation>A language of the content of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentRecipient" type="nc:EntityType" nillable="true">
        <xs:annotation>
            <xs:documentation>An entity that is a target or intended recipient of a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentSource" type="nc:EntityType" nillable="true">
        <xs:annotation>
            <xs:documentation>An entity that was the source of a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentStatus" type="nc:StatusType" nillable="true">
        <xs:annotation>
            <xs:documentation>A status of a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentSubjectText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A main topic of a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentSubmitter" type="nc:EntityType" nillable="true">
        <xs:annotation>
            <xs:documentation>An entity responsible for making the resource available.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentTitleText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name given to a document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EntityOrganization" type="nc:OrganizationType1" nillable="true">
        <xs:annotation>
            <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EntityPerson" type="nc:PersonType" nillable="true">
        <xs:annotation>
            <xs:documentation>A person capable of bearing legal rights and responsibilities.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" nillable="true">
        <xs:annotation>
            <xs:documentation>A full telephone number.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of a kind of identification.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind of identification.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date an identification takes effect.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date after which an identification is no longer valid.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>An identifier.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A person, organization, or locale which issues an identification.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IdentificationStatus" type="nc:StatusType" nillable="true">
        <xs:annotation>
            <xs:documentation>A status of an identification.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LanguageName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a system of words or symbols used for communication.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind or functional description of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationContactInformation" type="nc:ContactInformationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A set of contact information for a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>An identification of a Location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MonthDate" type="niem-xs:gMonth" nillable="true">
        <xs:annotation>
            <xs:documentation>A month.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganizationCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind or functional type of organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganizationDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of an organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>An identification that references an organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganizationLocation" type="nc:LocationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A location of an organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of an organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date a person was born.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A location where a person was born.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonContactInformation" type="nc:ContactInformationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A means of contacting a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonDeathDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date a person died or was declared legally dead.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonFullName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A complete name of a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonGivenName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A first name of a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonHumanResourceIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A human resources or employment identification assigned to a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonMaidenName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>An original last name or surname of a person before changed by marriage.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonMiddleName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A middle name of a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
        <xs:annotation>
            <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonNameCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind of person name.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonPrimaryLanguage" type="nc:LanguageType" nillable="true">
        <xs:annotation>
            <xs:documentation>A capacity of a person for a language with which that person has the strongest familiarity.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonSecondaryLanguage" type="nc:LanguageType" nillable="true">
        <xs:annotation>
            <xs:documentation>A capacity of a person for a language with which that person is not completely fluent.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonSexText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A gender or sex of a person.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonSurName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A last name or family name of a person.</xs:documentation>
        </xs:annotation>
    </xs:element>    
    <xs:element name="Province" type="nc:ProvinceType">
        <xs:annotation>
            <xs:documentation>A province of a country.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProvinceCode" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A code for a province of a country.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProvinceName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a province of a country.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StatusCommentText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A comment regarding a status.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StatusDate" type="nc:DateType" nillable="true">
        <xs:annotation>
            <xs:documentation>A date a status was set, effected, or reported.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StatusDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of a status or condition of something or someone.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StatusText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A status or condition of something or someone.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StreetCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind of street.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StreetFullText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A complete reference for a street.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StreetName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of a street.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StreetNumberText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A number that identifies a particular unit or location within a street.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TelephoneNumberCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A kind of telephone number.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TelephoneNumberDescriptionText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A description of a telephone number.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TelephoneNumberFullID" type="niem-xs:string" nillable="true">
        <xs:annotation>
            <xs:documentation>A complete telephone number.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="YearDate" type="niem-xs:gYear" nillable="true">
        <xs:annotation>
            <xs:documentation>A year.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
