EJBServer/components/BDM/source/curam/ca/gc/bdm/rest/bdmcorrespondenceapi/xsd/socialProgramV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sp="http://interoperability.gc.ca/socialprogram/1.0/"
    xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
    xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
    targetNamespace="http://interoperability.gc.ca/socialprogram/1.0/" version="1.0">
    <xs:annotation>
        <xs:documentation>Elements for Social Program business related
            activities.</xs:documentation>
        <xs:documentation> 2022-05-25 - Initial draft with Service Request, Employee elements
            2022-07-08 - Add 1.0 release related elements, Client, OpenOffice, SIN 2022-08-10 - Add
            Competency related elements 2022-08-23 - Add LifeEvent related elements
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/"
        schemaLocation="niem-core.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
        schemaLocation="adapters/niem-xs.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/structures/5.0/"
        schemaLocation="utility/structures.xsd"/>
    
    <xs:complexType name="BenefitApplicationType">
        <xs:annotation>
            <xs:documentation>A data type for Information about an application for a program benefit.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="sp:BenefitApplicationChannelText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplicationCountry" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplicationDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplicationIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="sp:BenefitApplicationStatus" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplicationBenefit" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:Applicant" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplicationProgram" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BenefitType">
        <xs:annotation>
            <xs:documentation>A data type for a benefit offered or delivered by programs.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="sp:BenefitAbbreviationText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="sp:BenefitName" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitProgram" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ClientType">
        <xs:annotation>
            <xs:documentation>A data type for the client resource.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="sp:ClientIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonContactInformation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:PersonSINIdentification" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:PersonGenderText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="sp:PersonPreferredLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonSecondaryLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonSexText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonDeathDate" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CorrespondenceContentType">
        <xs:annotation>
            <xs:documentation>A data type for the content data used by a template to populate a
                document section</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="sp:CorrespondenceContentCategoryText" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element ref="sp:CountryOfAgreement" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:Benefit" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:BenefitApplication" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:Client" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:Organization" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:Program" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:RelatedPerson" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ServiceOffice" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CorrespondenceType">
        <xs:annotation>
            <xs:documentation>The data type for any written or electronic communication exchanged
                between two or more parties. A correspondence can be a letter, an email, a voicemail
                or notes.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="nc:DocumentCategoryID" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentCategoryName" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:DocumentContent" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentIssuanceLocation" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentIssueDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentRecipient" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentSource" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentStatus" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentSubjectText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentSubmitter" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:DocumentTitleText" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CountryOfAgreement" type="nc:CountryType">
        <xs:annotation>
            <xs:documentation>A country with whom Canada has a Social Security Agreement.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="OrganizationType">
        <xs:annotation>
            <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="nc:OrganizationCategoryText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProgramType">
        <xs:annotation>
            <xs:documentation>Information about a program administered by or on behalf of any governmental authority.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="sp:ProgramAbbreviationText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ProgramDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ProgramIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="sp:ProgramName" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RelatedPersonType">
        <xs:annotation>
            <xs:documentation>A data type for the relatedPerson resource.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonContactInformation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:PersonSecondaryLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:PersonRelationshipCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:PersonSINIdentification" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceType">
        <xs:annotation>
            <xs:documentation>A data type for a resource.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="sp:ResourceID" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ResourceLanguage" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ResourceReference" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ServiceOfficeType">
        <xs:annotation>
            <xs:documentation>A data type for a Service Office that provides the public with a single point of access to a wide range of government services and benefits.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="sp:ResourceType">
                <xs:sequence>
                    <xs:element ref="nc:LocationContactInformation" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:LocationName" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ServiceOfficeCategoryCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ServiceOfficeCategoryText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ServiceOfficeCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sp:ServiceOfficeIdentification" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="sp:ServiceOfficeName" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Applicant" type="sp:ClientType" nillable="true">
        <xs:annotation>
            <xs:documentation>The applicant for the benefit.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Benefit" type="sp:BenefitType">
        <xs:annotation>
            <xs:documentation>Information about benefits offered or delivered by programs.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitAbbreviationText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>An abbreviation, acronym, or code for a program benefit name.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplication" type="sp:BenefitApplicationType">
        <xs:annotation>
            <xs:documentation>Information about an application for a program benefit.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationChannelText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>A name of the channel (online, paper) for the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationCountry" type="nc:CountryType">
        <xs:annotation>
            <xs:documentation>The country where an applicant submitted the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationDate" type="nc:DateType">
        <xs:annotation>
            <xs:documentation>The date an applicant submitted the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationIdentification" type="nc:IdentificationType">
        <xs:annotation>
            <xs:documentation>An identification for the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationProvince" type="nc:ProvinceType">
        <xs:annotation>
            <xs:documentation>The name of the province an applicant submitted the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationStatus" type="nc:StatusType">
        <xs:annotation>
            <xs:documentation>A status for a benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationBenefit" type="sp:BenefitType">
        <xs:annotation>
            <xs:documentation>The benefit applied for the application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitApplicationProgram" type="sp:ProgramType">
        <xs:annotation>
            <xs:documentation>The program for the benefit application.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitDescriptionText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>A description of a program benefit.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitIdentification" type="nc:IdentificationType">
        <xs:annotation>
            <xs:documentation>An identification for the program benefit.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitName" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>A name of a program benefit.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BenefitProgram" type="sp:ProgramType">
        <xs:annotation>
            <xs:documentation>The program that the benefit belongs to.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Client" type="sp:ClientType">
        <xs:annotation>
            <xs:documentation>A resource for clients of ESDC benefits and programs.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ClientIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>An identification for a client.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Correspondence" type="sp:CorrespondenceType">
        <xs:annotation>
            <xs:documentation>Any written or electronic communication exchanged between two or more parties. A correspondence can be a letter, an email, a voicemail or notes.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CorrespondenceContentCategoryText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>The document category this content is for (Subject, Body, etc...).</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DocumentContent" type="sp:CorrespondenceContentType">
        <xs:annotation>
            <xs:documentation>The content data used by a template to populate a document section</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Organization" type="sp:OrganizationType">
        <xs:annotation>
            <xs:documentation>A body of people organized for a particular purpose.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="PersonGenderText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>An individual's personal and social identity as a man, woman or non-binary person (a person who is not exclusively a man or a woman).</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonPreferredLanguage" type="nc:LanguageType" nillable="true">
        <xs:annotation>
            <xs:documentation>The preferred language of communication.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonRelationshipCode" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A code for the relationship between two persons.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PersonSINIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>A Social Insurance Number assigned by the Government of Canada.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProgramAbbreviationText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>An abbreviation, acronym, or code for a program name.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProgramDescriptionText" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>A description of a program.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProgramIdentification" type="nc:IdentificationType">
        <xs:annotation>
            <xs:documentation>An identification for the program.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Program" type="sp:ProgramType">
        <xs:annotation>
            <xs:documentation>Information about a program administered by or on behalf of any governmental authority.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProgramName" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>A name of a program.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="RelatedPerson" type="sp:RelatedPersonType">
        <xs:annotation>
            <xs:documentation>An element that represents RelatedPerson data.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceID" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>An identifier for the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceLanguage" type="nc:LanguageType">
        <xs:annotation>
            <xs:documentation>The language of the resource content.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceReference" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A literal reference, Relative, internal or absolute URL.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOffice" type="sp:ServiceOfficeType">
        <xs:annotation>
            <xs:documentation>A data type for a Service Office that provides the public with a single point of access to a wide range of government services and benefits.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOfficeCategoryCode" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A code for the type of service office.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOfficeCategoryText" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A type of service office.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOfficeCode" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A code for the type of Service Office.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOfficeIdentification" type="nc:IdentificationType" nillable="true">
        <xs:annotation>
            <xs:documentation>An identification for a service office.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceOfficeName" type="nc:TextType" nillable="true">
        <xs:annotation>
            <xs:documentation>A name of the service office.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
