EJBServer/components/BDM/axis/ca/gc/bdm/address/XSDs/WSMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="WSMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ApplicationIDs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="TopApplicationID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ParentApplicationID" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="CurrentApplicationID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TransactionIDs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="TopTransactionID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ParentTransactionID" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="CurrentTransactionID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="SecurityContext" type="securityContextType" />
        <xs:element minOccurs="1" maxOccurs="1" name="Input">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Settings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Setting">
                      <xs:complexType mixed="true">
                        <xs:attribute name="Name" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="AuditWebServiceMessages" />
                              <xs:enumeration value="IncludeCurrentVersion" />
                              <xs:enumeration value="IncludeInputSection" />
                              <xs:enumeration value="IncludeOutputSettings" />
                              <xs:enumeration value="IncludeRequestWithResult" />
                              <xs:enumeration value="IncludeConfigurationFiles" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="AllRequests">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Requests">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="Request">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="InputParameters" type="inputParameters" />
                              </xs:sequence>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Output">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="AllResults">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Results">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Result">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="InputParameters" type="inputParameters" />
                                <xs:element minOccurs="0" maxOccurs="1" name="OutputParameters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parm" type="parm" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="AddressMatches">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressMatch">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Parm" type="parm" />
                                          </xs:sequence>
                                          <xs:attribute name="AddressType" type="xs:string" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="FunctionalMessages">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionalMessage">
                                        <xs:complexType mixed="true">
                                          <xs:attribute name="Action" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string" />
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Statistics">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="1" name="ProcessStartedAt" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="ProcessFinishedAt" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="ProcessDuration" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="WebServiceName" type="xs:string" />
            <xs:attribute name="WebServiceVersion" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="BaseProxyVersion" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ChildProxyName" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ChildProxyVersion" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="AuthenticationType" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PreAuthenticate" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SetConnectionGroupName" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="inputParameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parm" type="parm" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parm" mixed="true">
    <xs:attribute name="Name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Base64Encoded" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="True" />
          <xs:enumeration value="False" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="genericEntityType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identity">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="IPAddress" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="MachineName" type="xs:string" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType
  >
  <xs:complexType name="applicationEntityType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identity">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Version" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="IPAddress" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="MachineName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="SessionID" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="securityContextType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Authentication">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Client" type="genericEntityType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Employee" type="genericEntityType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Application" type="applicationEntityType" minOccurs="1" maxOccurs="1" />
            <xs:element name="AssuranceLevel" type="xs:string" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Authorization">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestDescription" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Request" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="TransactionID" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="TimeStamp" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BeginDateTime" type="xs:string" minOccurs="1" maxOccurs="1" />
                  <xs:element name="EndDateTime" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProxySettings" minOccurs="0" maxOccurs="1" />
      <xs:element name="SecurityContext" type="securityContextType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
