EJBServer/components/BDMOAS/data/initial/clob/application/BDMOASGISApplicationSchemaDomain.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:d="http://www.curamsoftware.com/BaseDomains">

 <xs:import namespace="http://www.curamsoftware.com/BaseDomains"/>

 <xs:include schemaLocation="IEGDomains"/>
   
   <xs:simpleType name="CT_LANGUAGE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMLanguage</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="CT_CONTACTTYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMContactType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   
  
  <xs:simpleType name="CT_EMAILTYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">EmailType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>  
  
  <xs:simpleType name="CT_PHONETYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">PhoneType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="CT_COUNTRYCODE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMPhoneCountry</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>  
  
  <xs:simpleType name="CT_PHONETIME">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">PhoneTime</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   
  
  <xs:simpleType name="CT_MARITALSTATUS">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">MaritalStatus</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="CT_BDMEDUCATIONLEVEL">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMEducationLevel</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
   <xs:simpleType name="CT_COUNTRY">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">Country</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
    <xs:simpleType name="CT_TAXSITUATION">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMTaxSituation</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="CT_TAXDEDMTHOD">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMTaxDedMethod</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
     
  <xs:simpleType name="CT_PROVINCETYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">ProvinceType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
   
   <!-- PAYMENT INFO -->
   <!--  Added restriction to fix account name length Bug 11202  -->
   <xs:simpleType name="BDM_ACCOUNT_NAME">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
      <!--  Added restriction to fix account name length Bug 11202 END -->
	<xs:simpleType name="BDM_BRANCH_NUM">
        <xs:restriction base="IEG_STRING">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BDM_INSTITUTION_NUM">
        <xs:restriction base="IEG_STRING">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BDM_ACCOUNT_NUM">
        <xs:restriction base="IEG_STRING">
        	<xs:minLength value="7"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="BDM_INCARCERATION_INSTITUTION_NAME">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="BDM_STRING_4000">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    
  <xs:simpleType name="PAYMENT_METHOD">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">MethodOfDelivery</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
    
  <!-- for person bank account list -->
  <xs:simpleType name="BANK_ACCOUNT_CHOICE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMBankAccountChoice</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
   <!-- PAYMENT INFO -->
   
   <xs:simpleType name="BDM_SIN_RAW">
        <xs:restriction base="IEG_OBSCURED">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="BDM_SIN">
        <xs:restriction base="IEG_STRING">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="BDM_SIN_RAW_AP">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType> 
    
     <xs:simpleType name="BDM_YES_NO_OPTIONAL">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMIEGYesNoOptional</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
   
  <xs:simpleType name="CT_ALERTOCCUR">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMAlertOccur</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>  
  
   <xs:simpleType name="CT_INCARCERATION_CHANGE_TYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMIncarChangeType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>

   <xs:simpleType name="CT_TAX_WITHHOLD_CHANGE_TYPE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMTaxChangeType</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
  
    <xs:simpleType name="CT_EMAILALERT">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMEmailAlert</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   
  
  <xs:simpleType name="CT_PHONEALERT">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMPhoneAlert</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
  
  <!-- email will match to regular email format, or empty string -->
  <xs:simpleType name="BDM_COMMUNICATION_EMAIL">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
           <d:option name="pattern">^(\s*|^[\w!#$%&amp;'*+/=?`{|}~^-]+(?:\.[\w!#$%&amp;'*+/=?`{|}~^-]+)*@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,6}$)$</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
  	<xs:restriction base="IEG_STRING" >
  	      <xs:maxLength value="253"/>
        </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="BDM_WS_ADDRESS_TYPE">
        <xs:annotation>
            <xs:appinfo>
                <d:options>
                    <d:option name="code-table-name">BDMWSAddressType</d:option>
                </d:options>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType>
    
    <!-- BEGIN Phone number length validation, Area code must be 8, Phone number must be 20, Extension max length is 15 -->
    <xs:simpleType name="BDM_PHONE_AREA_CODE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_PHONE_EXT_CODE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_PHONE_NUMBER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="20"/>
        </xs:restriction>           
    </xs:simpleType>
    <!-- END Phone number length validation -->

	<!-- Correspondence preferences recieving -->
  	<xs:simpleType name="BDM_CT_CORRESDEL">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMCorrespondanceDelivery</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
    	<xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType>
	<!-- Correspondence preferences recieving -->

	<!-- BEGIN - SIN TYPE --> 
    <xs:simpleType name="SSN_OBSCURED"> 
    	<xs:restriction base="IEG_OBSCURED"> 
    		<xs:minLength value="8"/> 
    		<xs:maxLength value="11"/> 
    	</xs:restriction> 
    </xs:simpleType> 
    <!-- END - SIN TYPE-->
    	
    <xs:simpleType name="CT_BDM_ALERTS_CHOICE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMAlertsChoice</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 
    
    <!-- Begin AlphaNumeral validation -->
    <xs:simpleType name="BDM_ALPHA_NUMERIC">
		<xs:annotation>
	      <xs:appinfo>
	        <d:options>
	           <d:option name="pattern">^([a-zA-Z0-9]*)$</d:option>
	        </d:options>
	      </xs:appinfo>
		</xs:annotation>
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="10"/>
        </xs:restriction>           
    </xs:simpleType>
    <!-- END AlphaNumeral validation -->
    
    <xs:simpleType name="CT_PHONE_NUMBER_CHANGE_TYPE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMPhoneNumberChangeType</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
  	</xs:simpleType> 
  	
  	<xs:simpleType name="CT_EMAIL_ADDRESS_CHANGE_TYPE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMEmailAddressChangeType</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
  	</xs:simpleType> 
    
    <xs:simpleType name="CT_BDM_BENEFITPROGRAMTYPE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMBenefitProgramType</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 
    <!-- BEGIN Address_State-->
    <xs:simpleType name="CT_ADDRESS_STATE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">AddressState</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 

    <!-- BEGIN Name Length Should be 65 -->
    <xs:simpleType name="BDM_NAME">
        <xs:restriction base="IEG_STRING">
            <xs:minLength value="1"/>
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BDM_PERCENT">
    	<xs:annotation>
	      <xs:appinfo>
	        <d:options>
	           <d:option name="max-size">3</d:option>
	        </d:options>
	      </xs:appinfo>
		</xs:annotation>
        <xs:restriction base="IEG_INT32">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
        <xs:simpleType name="BDM_MONEY">
    	<xs:annotation>
	      <xs:appinfo>
	        <d:options>
	           <d:option name="minimum">1</d:option>
	           <d:option name="maximum">400</d:option>
	           <d:option name="max-size">6</d:option>
	        </d:options>
	      </xs:appinfo>
		</xs:annotation>
        <xs:restriction base="IEG_MONEY"/>
    </xs:simpleType>
    <xs:simpleType name="CT_BDM_CALLSUBJECT">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMCallSubject</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>  
  
     <xs:simpleType name="CT_BDMTimeZone">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMTimeZone</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>  
  
   <xs:simpleType name="BDM_ADD_DETAILS">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType> 
  
   <xs:simpleType name="CT_BDM_PROGRAMTYPE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">BDMBenefitProgramType</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 
  
  
   <xs:simpleType name="CT_BDM_PRODUCTCATEGORY">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">ProductCategory</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 
    
    <xs:simpleType name="CT_PRODUCTTYPE">
	    <xs:annotation>
	      <xs:appinfo>
	        <d:options>
	          <d:option name="code-table-name">ProductType</d:option>
	        </d:options>
	      </xs:appinfo>
	    </xs:annotation>
	    <xs:restriction base="IEG_CODETABLE_CODE"/>
    </xs:simpleType> 
    
     <xs:simpleType name="BDM_NUM_DEPENDANTS">
    	<xs:annotation>
	      <xs:appinfo>
	        <d:options>
	           <d:option name="max-size">2</d:option>
	        </d:options>
	      </xs:appinfo>
		</xs:annotation>
        <xs:restriction base="IEG_INT32">
            
            <xs:maxInclusive value="20"/>
        </xs:restriction>
    </xs:simpleType>
  	<!-- BEGIN Address field lengths -->
    <xs:simpleType name="BDM_ADDRESS_SUITE_NUMBER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_STREET_NUMBER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_STREET_NAME">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_CITY">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_POSTAL_CODE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_PO_BOX">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_LINE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BDM_ADDRESS_ZIPCODE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
  	<!-- END Address field lengths -->

    <xs:simpleType name="BDMOAS_OAS_ACCNT_NUM">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>    

   <xs:simpleType name="CT_BDMOASPENSIONSTARTOPTION">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASPensionStartOption</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 

   <xs:simpleType name="CT_BDMOASLEGALSTATUS">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASLegalStatus</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   

   <xs:simpleType name="CT_BDMOASIMMIGRATIONDOC">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASImmigrationDoc</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
  
   <xs:simpleType name="CT_BDMMARITALSTATUS">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMMaritalStatus</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>     
  
   <xs:simpleType name="CT_PERSONTITLE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">PersonTitle</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>
  
   <xs:simpleType name="BDMOAS_LEGAL_STATUS_OTHER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="144"/>
        </xs:restriction>
    </xs:simpleType> 
    
   <xs:simpleType name="BDMOAS_IMMIGRATION_DOC_OTHER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="144"/>
        </xs:restriction>
    </xs:simpleType>
    
   <xs:simpleType name="BDMOAS_PLACE_OF_ENTRY_IN_CANADA">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="144"/>
        </xs:restriction>
   </xs:simpleType>     
    
   <xs:simpleType name="BDMOAS_FRGN_COUNTRY_ID_NUMBER">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>     
    
   <xs:simpleType name="BDMOAS_NATURE_OF_ABSENCE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>  
    
   <xs:simpleType name="BDMOAS_FOREIGN_INCOME_TYPE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType> 
    
   <xs:simpleType name="BDMOAS_ANNUAL_FRGN_INCM_AND_CURNCY">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType>

   <xs:simpleType name="BDMOAS_THIRD_PARTY_NAME">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType>
        
   <xs:simpleType name="CT_BDMOASWITNESSRELATIONSHIP">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASWitnessRelationship</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>      
  
   <xs:simpleType name="CT_BDMOASTAXTHRESHOLD">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASTaxThreshold</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>                           
   
   <xs:simpleType name="BDMOAS_YES_NO_NA">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASYesNoNA</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   
  
   <xs:simpleType name="CT_BDMOASAPPLICATIONFORM">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMOASApplicationForm</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>    

   <xs:simpleType name="BDM_INCOME_YEAR">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>   
  <xs:simpleType name="BDM_INCOME_SOURCE">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>   
    
   <xs:simpleType name="CT_INCOMETYPECODE">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">IncomeTypeCode</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="BDM_INCOME_TP_OTHER_DESC">
        <xs:restriction base="IEG_STRING">
            <xs:maxLength value="144"/>
        </xs:restriction>
    </xs:simpleType> 

   <xs:simpleType name="CT_BDMCURRENCY">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">BDMCurrency</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType> 
  
  <xs:simpleType name="CT_GENDER">
    <xs:annotation>
      <xs:appinfo>
        <d:options>
          <d:option name="code-table-name">Gender</d:option>
        </d:options>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="IEG_CODETABLE_CODE"/>
  </xs:simpleType>   
            
</xs:schema>




