CuramSDEJ/xmlserver/XMLServerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012,2021. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XML_SERVER_CONFIG" type="XML_SERVER_CONFIG_T">
    <xs:annotation>
      <xs:documentation>Root element</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="XML_SERVER_CONFIG_T">
    <xs:all>
      <xs:element name="CLEAR_TEMPLATE_CACHE" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether template cache is cleared every time the XMLServer is started.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_EMAIL" type="xs:string" />
      <xs:element name="DEFAULT_PRINTER" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default printer name to be used for document printing. It's set to an empty string if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_TRAY" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default tray to use to print documents. It's set to an empty string if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_USERNAME" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default user name to use to print documents. It's set to an empty string if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_KEYSTORE_NAME" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default keystore name. It's set to 'Keystore.p12' if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_KEYSTORE_TYPE" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default keystore type. It's set to 'PKCS12' if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_KEYSTORE_PASSWORD" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default keystore password. It's set to 'password' if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFAULT_KEYSTORE_ALIAS" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default keystore alias. It's set to 'xmlserverks' if this entry is unspecified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FOP_CONFIG_FILE" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional Configuration file path for FOP.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RENDERX_CONFIG_FILE" type="xs:string">
        <xs:annotation>
          <xs:documentation>Configuration file path for RenderX. This entry has to be specified if RenderX is used as a DocumentGenerator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RENDERX_LOGGING" type="xs:string">
        <xs:annotation>
          <xs:documentation>Possible values:1. default. 2. null. 3.path to designated log file. 'Default' means com.renderx.xep.lib.DefaultLogger is used to log information; 'null' means com.renderx.xep.lib.Logger.NULL_LOGGER is used; If the path used doesn't exist, 'default' would be used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SERVER_COMMAND" type="xs:string" />
      <xs:element name="SERVER_PORT" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>The port number XMLServer will be running on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TEMPLATE_CACHE_DIR" type="xs:string">
        <xs:annotation>
          <xs:documentation>File Path to a directory that's used to cache XSL templates.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TMP_DIRECTORY" type="xs:string">
        <xs:annotation>
          <xs:documentation>File Path to a temporary directory used by XMLServer for processing documents. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TMP_FILE_ROOT" type="xs:string">
        <xs:annotation>
          <xs:documentation>File root for all temporary files produced by XMLServer when processing documents.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACE_TRAFFIC" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether traffic information should be traced</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USE_PIPE" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether pipe is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USE_STDERR_SINK" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether standard error stream is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USE_STDOUT_SINK" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether standard output stream is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USE_TEMPLATE_CACHE" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether template cache is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USE_TMP_FILE" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether temporary file is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="THREAD_POOL_SIZE" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>The size of Thread pool, default value is 10.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="THREAD_POOL_QUEUE_SIZE" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>The size of Thread pool queue, default value is 200.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STATISTICS_FOLDER" type="xs:string">
        <xs:annotation>
          <xs:documentation>File path to the folder used to contain statistics information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SO_TIMEOUT" type="xs:unsignedInt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Timeout (in milliseconds) on blocking socket operations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JOBS" type="JOBS_T" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="JOBS_T">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="JOB" type="JOB_T" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JOB_T">
    <xs:attribute name="type" type="xs:NCName" use="required">
      <xs:annotation>
        <xs:documentation>Unique identifier for this implementation of DocumentGenerator interface. i.e: PDF, HTML, RTF, TEXT, etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="class" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Fully qualified class name for the implementation of DocumentGenerator interface.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="direction" type="Direction_T" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates the writing direction of the document to be generated. This attribute is available for PDF job type only, therefore won't be considered when used with other job types.
When generating PDFs, different DocumentGenerators may be used to generate documents that are written in different directions. i.e. DocumentGeneratorA can be used to generate RTL PDFs, while DocumentGeneratorB can be used to generate LTR PDFs.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Direction_T">
    <xs:annotation>
      <xs:documentation>RTL - Right To Left Writing Direction
LTR - Left To Right Writing Direction
Omitting this attribute means the default value would be used, which is LTR</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="RTL" />
      <xs:enumeration value="LTR" />
      <xs:length value="3" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>