EJBServer/components/BDM/axis/ca/gc/bdm/sinvalidation/XSDs/ValidateRegistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
xmlns:tmp="http://tempuri.org" 
targetNamespace="http://tempuri.org">
    <s:element name="ValidateSecrets">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ValidationRequest" type="tmp:ValidationRequest"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ValidationRequest">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationIdentifier" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationKey" type="tmp:ValidationKey"/>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationItems" type="tmp:ArrayOfValidationItem"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ValidationKey">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfValidationItem">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ValidationItem" nillable="true" type="tmp:ValidationItem"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ValidationItem">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Tolerance" type="s:boolean"/>
            <s:element minOccurs="1" maxOccurs="1" name="ToleranceType" type="tmp:ToleranceType"/>
        </s:sequence>
    </s:complexType>
    <s:simpleType name="ToleranceType">
        <s:restriction base="s:string">
            <s:enumeration value="NONE"/>
        </s:restriction>
    </s:simpleType>
    <s:element name="ValidateSecretsResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ValidateSecretsResult" type="tmp:ValidationResponse"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ValidationResponse">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidationValid" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationResults" type="tmp:ArrayOfValidationResult"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfValidationResult">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ValidationResult" nillable="true" type="tmp:ValidationResult"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ValidationResult">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean"/>
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tmp:ValidationResultCode"/>
            <s:element minOccurs="0" maxOccurs="1" name="ResultPublishMessages" type="tmp:ArrayOfValidationMessage"/>
            <s:element minOccurs="0" maxOccurs="1" name="ResultDisplayMessages" type="tmp:ArrayOfValidationMessage"/>
        </s:sequence>
    </s:complexType>
    <s:simpleType name="ValidationResultCode">
        <s:restriction base="s:string">
            <s:enumeration value="UNKNOWN_KEY"/>
            <s:enumeration value="UNKNOWN_ITEM"/>
            <s:enumeration value="MATCH"/>
            <s:enumeration value="NO_MATCH"/>
        </s:restriction>
    </s:simpleType>
    <s:complexType name="ArrayOfValidationMessage">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ValidationMessage" nillable="true" type="tmp:ValidationMessage"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ValidationMessage">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Locale" type="tmp:Locale"/>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:simpleType name="Locale">
        <s:restriction base="s:string">
            <s:enumeration value="ENGLISH"/>
            <s:enumeration value="FRENCH"/>
        </s:restriction>
    </s:simpleType>
    <s:element name="IsPIDPermittedAccess">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
                <s:element minOccurs="0" maxOccurs="1" name="PID" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="IsPIDPermittedAccessResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="IsPIDPermittedAccessResult" type="s:boolean"/>
            </s:sequence>
        </s:complexType>
    </s:element>
</s:schema>