EJBServer/components/BDM/data/initial/clob/UALifeEvent/BDMLifeEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:D="http://www.curamsoftware.com/BaseDomains">
	<xsd:import namespace="http://www.curamsoftware.com/BaseDomains" />
	<xsd:include schemaLocation="IEGDomains"/>
	<xsd:include schemaLocation="CitizenPortalDomains"/>
	<xsd:include schemaLocation="BDMStimulusApplicationSchemaDomain"/>  

  	<xsd:element name="Application">
        <xsd:complexType>
            <xsd:sequence minOccurs="0">
            	<xsd:element ref="Person" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="Submission" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="userName" type="IEG_STRING" default=""/>
            <xsd:attribute name="userType" type="IEG_STRING" default=""/>
            <xsd:attribute name="externalUserType" type="IEG_STRING" default=""/>
            <xsd:attribute name="continueSIN" type="IEG_BOOLEAN"/>

			<!-- required for life event element -->          
	    	<xsd:attribute name="caseID" type="D:SVR_KEY"/>
	    	<xsd:attribute name="triggerEventDate" type="IEG_DATE"/>
    		<xsd:attribute name="submitDate" type="IEG_DATE"/>
			<!-- required for life event element -->
			 		
        </xsd:complexType>
    </xsd:element>
 
    <xsd:element name="Person">
	    <xsd:complexType>
		 	<xsd:sequence minOccurs="0">
		        <xsd:element ref="Relationship" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="Address" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="AddressLink" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="ResidentialAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="MailingAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="IntlResAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="IntlMailAddress" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SearchAddress" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CommunicationPref" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Payment" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="PaymentBanks" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="Programs" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="CommunicationDetails" minOccurs="0" maxOccurs="unbounded" />   
            	<xsd:element ref="AlertPreferences" minOccurs="0" maxOccurs="1" />
            	<xsd:element ref="Incarceration" minOccurs="0" maxOccurs="unbounded" />
            	<xsd:element ref="Income" minOccurs="0" maxOccurs="unbounded" />
            	<xsd:element ref="Household" minOccurs="0" maxOccurs="1"/>
            	<xsd:element ref="TaxInfo" minOccurs="0" maxOccurs="unbounded" />
		    </xsd:sequence>
		    
		    <!-- required for life event element -->
			<!-- localID would reference the person identifier in Curam for this DS entity and show that it wasn't created during this run of the ieg script but rather prepopulated from the server -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID" type="IEG_STRING" default=""/>
			<xsd:attribute name="sinRawDateChange" type="IEG_DATE"/>
			<xsd:attribute name="sinEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="nameDateChange" type="IEG_DATE"/>
			<xsd:attribute name="nameEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="prefNameEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="dobEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="today" type="IEG_DATE" />
			<!-- required for life event element -->
			<!-- BEGIN - task 21645 Phone number life event  --> 
			<xsd:attribute name="phoneNumberChangeType" type="CT_PHONE_NUMBER_CHANGE_TYPE"  default=""/>
			<xsd:attribute name="selectedPhoneNumberID" type="IEG_STRING"  default=""/>
			<xsd:attribute name="isReceivingEmailAlert" type="IEG_BOOLEAN" default="false"/>
			<!-- END - task 21645 Phone number life event  -->
			
			<!-- BEGIN - task 9022 Incarceration life event  --> 
			<xsd:attribute name="incarcerationChangeType" type="CT_INCARCERATION_CHANGE_TYPE"  default=""/>
			<xsd:attribute name="selectedIncarcerationID" type="IEG_STRING"  default=""/>
			<!-- END - task 9022 Incarceration life event  -->
			
			<!-- BEGIN - Tax Withhold life event  -->
			<xsd:attribute name="activeTaxWithholds" type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="taxWithholdChangeType" type="CT_TAX_WITHHOLD_CHANGE_TYPE"  default="BDMTWCT03"/>
			<xsd:attribute name="selectedTaxWithholdID" type="IEG_STRING"  default=""/>
			<!-- END - Tax Withhold life event  -->
			
			<!-- BEGIN - task 25720 email life event  --> 
			<xsd:attribute name="emailAddressChangeType" type="CT_EMAIL_ADDRESS_CHANGE_TYPE"  default=""/>
			<xsd:attribute name="selectedEmailAddressID" type="IEG_STRING"  default=""/>
			<xsd:attribute name="isReceivingTextAlert" type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="isProceedAllowed"  type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="isShowingWarning"  type="IEG_BOOLEAN" default="false"/>
			<!-- END - task 25720 email life event  -->
			
			<!-- personID is the DS entity identifier and not a curam entity identifier -->
		    <xsd:attribute name="personID" type="D:SVR_KEY"/>
		    <xsd:attribute name="participant" type="D:SVR_KEY"/>
		    <xsd:attribute name="isPrimaryParticipant" type="IEG_BOOLEAN" default="true"/>
			<xsd:attribute name="programTypeID" type="D:SVR_KEY" />
			<!-- BEGIN TASK-27353 Name should be Max 65 Char long -->
			<xsd:attribute name="firstName" type="BDM_NAME" />
			<xsd:attribute name="middleName" type="BDM_NAME"/>
			<xsd:attribute name="middleInitial" type="IEG_STRING" default=""/>
			<xsd:attribute name="lastName" type="BDM_NAME" />
			<!-- END TASK-27353 -->
			<xsd:attribute name="gender" type="IEG_GENDER" default="true" />
			<xsd:attribute name="dateOfBirth" type="IEG_DATE"/>
			<xsd:attribute name="fullName" type="IEG_STRING"/>
						
			<!-- PERSONAL INFO PAGE - BEGIN -->
			<xsd:attribute name="SIN" type="BDM_SIN" />
			<xsd:attribute name="sinRaw" type="BDM_SIN_RAW"/>
			<!-- BEGIN TASK-27353 Name should be Max 65 Char long  -->
			<xsd:attribute name="PreferredName" type="BDM_NAME" />
			<xsd:attribute name="LastNameAtBirth" type="BDM_NAME" />
			<xsd:attribute name="ParentLastName" type="BDM_NAME" />
			<!-- END TASK-27353 -->
			<xsd:attribute name="preferredPaymentMethod" type="PAYMENT_METHOD"/>
			<xsd:attribute name="activePrograms" type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="hasActiveBankAccounts" type="IEG_BOOLEAN" default="false"/>
			<!-- PERSONAL INFO PAGE - END -->
		
			<!-- BEGIN ADDRESS -->
            <xsd:attribute name="resMail" type="IEG_YES_NO" />
            <xsd:attribute name="residentialCountry" type="CP_COUNTRY" default="CA"/>
            <xsd:attribute name="mailingCountry" type="CP_COUNTRY" default="CA"/>
            <xsd:attribute name="wsResValidOrOverride" type="IEG_STRING" default="1"/>
            <xsd:attribute name="wsMailValidOrOverride" type="IEG_STRING" default="1"/>
			<!-- END ADDRESS --> 

            <xsd:attribute name="contactLanguage" type="CP_LANGUAGE"/>
			
	    </xsd:complexType>
 		<xsd:key name="PesonKey">
    		<xsd:selector xpath="./Person"/>
      		<xsd:field xpath="@personID"/>
    	</xsd:key>
  	</xsd:element>

  <!-- BEGIN - Task 7497 - NLynch WS Address validation ComboBox-->
  <!-- BEGIN TASK -26500 -->
    <xsd:element name="SearchAddress">
        <xsd:complexType>
				<!-- BEGIN TASK-9418 AP Script-->
        <xsd:sequence minOccurs="0">
				<xsd:element ref="oneLineAddress" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
            <xsd:attribute name="idResidentialAddress" type="IEG_STRING" default="-1" />
            <xsd:attribute name="queryResidentialAddress" type="IEG_STRING"/>
            <xsd:attribute name="idMailingAddress" type="IEG_STRING" default="-1" />
            <xsd:attribute name="queryMailingAddress" type="IEG_STRING"/>
            <xsd:attribute name="AddressData" type="IEG_STRING" />	
    		<xsd:attribute name="formatedAddressData" type="IEG_STRING" />
    		<xsd:attribute name="isMailingAddress" type="IEG_YES_NO" default="YN2"/>
    		<xsd:attribute name="isResidentialAddress" type="IEG_YES_NO" default="YN2"/>
    		<xsd:attribute name="isSelected" type="IEG_BOOLEAN" default="false"/>
    		<xsd:attribute name="isActive" type="IEG_YES_NO" default="YN2"/>
    		 <xsd:attribute name="country" type="CP_COUNTRY"/>
		 <!-- END TASK-9418 -->
        </xsd:complexType>
    </xsd:element>
    <!-- END TASK-26500 -->
  <!-- END - Task 7497 - NLynch WS Address validation -->
 	<xsd:element name="Address">
        <xsd:complexType>
		<!-- TODO work around for mapping-->
            <xsd:sequence minOccurs="0">
                <xsd:element ref="TempAddressLink" minOccurs="0" maxOccurs="unbounded"/>                         
            </xsd:sequence>
            <xsd:attribute name="street1" type="IEG_STRING"/>
            <xsd:attribute name="street2" type="IEG_STRING"/>
            <xsd:attribute name="city" type="IEG_STRING"/>
            <xsd:attribute name="county" type="CP_COUNTY"/>
            <xsd:attribute name="state" type="CP_STATE"/>
            <xsd:attribute name="zipCode" type="IEG_NON_FORMATTED_NUMBER"/>
            <xsd:attribute name="zipCodePlusFour" type="IEG_STRING"/>
            <xsd:attribute name="addressData" type="IEG_STRING"/>
			<xsd:attribute name="addressID" type="D:SVR_KEY"/>			         
            <xsd:attribute name="country" type="CP_COUNTRY"/>
            <xsd:attribute name="postalCode" type="IEG_STRING"/>
            <xsd:attribute name="province" type="CP_PROVINCE"/>
            <xsd:attribute name="suiteNum" type="IEG_STRING"/>
			<!-- TODO work around for mapping-->
            <xsd:attribute name="addressEvID" type="D:SVR_KEY" default="0"/>
            <!-- Address Validation: Begins -->
            <xsd:attribute name="isValidated" type="IEG_YES_NO" default="YN2"/>
   			<xsd:attribute name="unableToConnectServiceInd" type="IEG_BOOLEAN" default="false"/>
   			<xsd:attribute name="noAddressFoundInd" type="IEG_BOOLEAN" default="false"/>
   			<xsd:attribute name="multipleAddressesInd" type="IEG_BOOLEAN" default="false"/>
   			<xsd:attribute name="ambiguousAddressesInd" type="IEG_BOOLEAN" default="false"/>
			<!-- Address Validation: Ends -->
        </xsd:complexType>
		<xsd:key name="AddressKey">
            <xsd:selector xpath="./Address"/>
            <xsd:field xpath="@addressID"/>
        </xsd:key>
    </xsd:element>
    	
		<xsd:element name="AddressLink">
    		<xsd:complexType>
    			<xsd:attribute name="personID" type="D:SVR_KEY" />
				<xsd:attribute name="addressID" type="D:SVR_KEY" />
				<!-- TODO work around for mapping-->
    		    <xsd:attribute name="addressEvID" type="D:SVR_KEY" default="0"/>
    		    <xsd:attribute name="isMailingAddressSameAsHome" type="IEG_YES_NO" default=""/>
    		</xsd:complexType>
	</xsd:element>
    
	<xsd:element name="TempAddressLink">
    		<xsd:complexType>
    			<xsd:attribute name="personID" type="D:SVR_KEY" />
				<xsd:attribute name="addressID" type="D:SVR_KEY" />
    		    <xsd:attribute name="addressEvID" type="D:SVR_KEY" default="0"/>
    		    <xsd:attribute name="isMailingAddressSameAsHome" type="IEG_YES_NO" default=""/>
    		</xsd:complexType>
	</xsd:element>
    
	<xsd:element name="ResidentialAddress">
        <xsd:complexType>
            <xsd:attribute name="street1" type="IEG_STRING"/>
            <xsd:attribute name="street2" type="IEG_STRING"/>
            <xsd:attribute name="city" type="IEG_STRING"/>
            <xsd:attribute name="state" type="CP_STATE"/>
            <xsd:attribute name="zipCode" type="IEG_STRING"/>
            <xsd:attribute name="wsAddressType" type="BDM_WS_ADDRESS_TYPE"/>
            <!-- Support for international addresses -->
            <xsd:attribute name="addressLine1" type="IEG_STRING"/>
            <xsd:attribute name="addressLine2" type="IEG_STRING"/>
            <xsd:attribute name="addressLine3" type="IEG_STRING"/>
            <!-- JP TASK 11191 : Using addrLine4 for state ( International address not US) -->
            <xsd:attribute name="addressLine4" type="IEG_STRING"/>
            <xsd:attribute name="addressLine5" type="IEG_STRING"/>           
            <xsd:attribute name="county" type="CP_COUNTY"/>
            <xsd:attribute name="country" type="CP_COUNTRY"/>
            <xsd:attribute name="postalCode" type="IEG_STRING"/>
            <xsd:attribute name="province" type="CP_PROVINCE"/>
            <xsd:attribute name="suiteNum" type="IEG_STRING"/>
            <xsd:attribute name="oneLineAddress" type="IEG_STRING"/>
            <!-- BEGIN TASK -26500 -->
            <!-- Validate Status 0- Not Validated  1 - Valid, 2 - Invalid, 3 - Exception in Service -->
             <xsd:attribute name="validateStatus" type="IEG_STRING"/>
             <!-- END TASK -26500 -->
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MailingAddress">
        <xsd:complexType>
            <xsd:attribute name="street1" type="IEG_STRING"/>
            <xsd:attribute name="street2" type="IEG_STRING"/>
            <xsd:attribute name="city" type="IEG_STRING"/>
            <xsd:attribute name="state" type="CP_STATE"/>
            <xsd:attribute name="zipCode" type="IEG_STRING"/>
            <xsd:attribute name="wsAddressType" type="BDM_WS_ADDRESS_TYPE"/>
            <!-- Support for international addresses -->
            <xsd:attribute name="addressLine1" type="IEG_STRING"/>
            <xsd:attribute name="addressLine2" type="IEG_STRING"/>
            <xsd:attribute name="addressLine3" type="IEG_STRING"/>
            <xsd:attribute name="addressLine4" type="IEG_STRING"/>
            <xsd:attribute name="addressLine5" type="IEG_STRING"/>
            <xsd:attribute name="county" type="CP_COUNTY"/>
            <xsd:attribute name="country" type="CP_COUNTRY"/>
            <xsd:attribute name="postalCode" type="IEG_STRING"/>
            <xsd:attribute name="province" type="CP_PROVINCE"/>
            <xsd:attribute name="suiteNum" type="IEG_STRING"/>
	    			<!-- BEGIN TASK-9418 AP Script-->
            <xsd:attribute name="oneLineAddress" type="IEG_STRING"/>
            <!-- BEGIN TASK -26500 -->
           <!-- Validate Status 0- Not Validated  1 - Valid, 2 - Invalid, 3 - Exception in Service -->
             <xsd:attribute name="validateStatus" type="IEG_STRING"/>
             <!--  END TASK-26500 -->
        </xsd:complexType>
    </xsd:element>			
    <xsd:element name="oneLineAddress">
    		<xsd:complexType>
    			<xsd:attribute name="AddressData" type="IEG_STRING" />	
    			<xsd:attribute name="formatedAddressData" type="IEG_STRING" />			
    		</xsd:complexType>
	</xsd:element>
	<!-- END TASK -9418 -->
	<!-- BEGIN TASK -26500 -->
	<xsd:element name="IntlResAddress">
        <xsd:complexType>
            <xsd:attribute name="city" type="IEG_STRING"/>
            <xsd:attribute name="state" type="CT_ADDRESS_STATE"/>
            <xsd:attribute name="zipCode" type="IEG_STRING"/>
            <!-- addressLine1 matches to StreetNum -->
            <xsd:attribute name="addressLine1" type="IEG_STRING"/>
            <!-- addressLine2 matches to StreetName -->
            <xsd:attribute name="addressLine2" type="IEG_STRING"/>
            <!-- addressLine3 matches to poBox -->
            <xsd:attribute name="addressLine3" type="IEG_STRING"/>
            <!-- addressLine4 matches to intlState -->
            <xsd:attribute name="addressLine4" type="IEG_STRING"/>
            <xsd:attribute name="province" type="CP_PROVINCE"/>
            <xsd:attribute name="suiteNum" type="IEG_STRING"/>
            <xsd:attribute name="country" type="CP_COUNTRY"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IntlMailAddress">
        <xsd:complexType>
            <xsd:attribute name="city" type="IEG_STRING"/>
            <xsd:attribute name="state" type="CT_ADDRESS_STATE"/>
            <xsd:attribute name="zipCode" type="IEG_STRING"/>
            <!-- addressLine1 matches to StreetNum -->
            <xsd:attribute name="addressLine1" type="IEG_STRING"/>
            <!-- addressLine2 matches to StreetName -->
            <xsd:attribute name="addressLine2" type="IEG_STRING"/>
            <!-- addressLine3 matches to poBox -->
            <xsd:attribute name="addressLine3" type="IEG_STRING"/>
            <!-- addressLine4 matches to intlState -->
            <xsd:attribute name="addressLine4" type="IEG_STRING"/>
            <xsd:attribute name="province" type="CP_PROVINCE"/>
            <xsd:attribute name="suiteNum" type="IEG_STRING"/>
            <xsd:attribute name="country" type="CP_COUNTRY"/>
        </xsd:complexType>
    </xsd:element>
	<!-- END TASK-26500 -->
	<xsd:element name="Relationship">
		<xsd:complexType>
			<xsd:attribute name="relationshipType" type="IEG_STRING" />
			<xsd:attribute name="isNonParentPrimaryCaretaker" type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="personID" type="D:SVR_KEY" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="CommunicationPref">
		<xsd:complexType>
			<xsd:attribute name="languageW" type="CT_LANGUAGE" />
			<xsd:attribute name="languageS" type="CT_LANGUAGE" />
			<xsd:attribute name="languageSelected" type="IEG_BOOLEAN" />
			<xsd:attribute name="recieveCorrespondPref" type="BDM_CT_CORRESDEL" />

			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID" type="IEG_STRING" default=""/>
			<xsd:attribute name="communicationPrefEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="participant" type="D:SVR_KEY"/>
			<!-- required for life event element -->
			
		</xsd:complexType>
	</xsd:element>
	<!-- COMMUNICATION PAGE - BEGIN -->
	<xsd:element name="CommunicationDetails">
    	<xsd:complexType>
			<xsd:attribute name="emailAdr" type="IEG_STRING" default=""/>
			<xsd:attribute name="emailType" type="CT_EMAILTYPE" />
			<xsd:attribute name="phoneNumber" type="BDM_PHONE_NUMBER" default=""/>
			<xsd:attribute name="phoneAreaCode" type="BDM_PHONE_AREA_CODE" />
			<xsd:attribute name="fullPhoneNumber" type="IEG_STRING" />
			<xsd:attribute name="phoneType" type="CT_PHONETYPE" />
			<xsd:attribute name="countryCode" type="CT_COUNTRYCODE" default="BDMPC80035"/>
			<xsd:attribute name="phoneTime" type="CT_PHONETIME"/>
			<xsd:attribute name="phoneExt" type="BDM_PHONE_EXT_CODE" />
			<!-- START TASK 11124 Changing tye to boolean so that fields can be displayed in Summary screen -->
			<xsd:attribute name="isMor" type="IEG_BOOLEAN" />
			<xsd:attribute name="isAftr" type="IEG_BOOLEAN" />
			<xsd:attribute name="isEve" type="IEG_BOOLEAN" />
			<!-- END TASK 11124  -->
			<xsd:attribute name="isPrimaryCommunication" type="IEG_BOOLEAN" default="false"/>    
			<xsd:attribute name="isValidCommunication" type="IEG_YES_NO" default="YN1"/>
            <xsd:attribute name="alertPrefEmail" type="IEG_YES_NO" />
            <xsd:attribute name="alertPrefPhone" type="IEG_YES_NO" default="YN2"/>
            <xsd:attribute name="receiveAlerts" type="IEG_YES_NO" />
            
			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate"  type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID"  type="IEG_STRING" default=""/>
			<xsd:attribute name="emailEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="phoneEvidenceID" type="IEG_STRING" default=""/>
            <xsd:attribute name="isPreferredCommunication" type="IEG_YES_NO"/>
			<xsd:attribute name="communicationDateChange" type="IEG_DATE"/>
			<!-- required for life event element -->
			<xsd:attribute name="communicationDetailsID" type="D:SVR_KEY"/>	
			<xsd:attribute name="alertFrequency" type="CT_ALERTOCCUR" />
			<!-- BEGIN - task 21645 Phone number life event  --> 
			<xsd:attribute name="phoneNumberDesc" type="IEG_STRING" default=""/>
			<xsd:attribute name="phoneNumberSelected" type="IEG_BOOLEAN" default="false"/>
			
			<!-- END- task 21645 Phone number life event  --> 	
			<!-- BEGIN - task 25720 Email address life event  --> 
			<xsd:attribute name="emailAddressDesc" type="IEG_STRING" default=""/>
			<xsd:attribute name="emailAddressSelected" type="IEG_BOOLEAN" default="false"/>
			<!-- END- task 25720 Email address life event  --> 	 
		</xsd:complexType>
		<!-- START TASK 21581 -->
		<xsd:key name="CommunicationDetailsKey">
			<xsd:selector xpath="./CommunicationDetails"/>
			<xsd:field xpath="@communicationDetailsID"/>
		</xsd:key>
		<!-- END TASK 21581 -->
    </xsd:element>
	<!-- COMMUNICATION PAGE - END -->
	
	<xsd:element name="AlertPreferences">
    	<xsd:complexType>
    		<!-- ALERT PREF - BEGIN -->
			<xsd:attribute name="receiveAlerts" type="CT_BDM_ALERTS_CHOICE" />
			<xsd:attribute name="phoneAlert" type="CT_PHONEALERT" />
			<xsd:attribute name="alertOccur" type="CT_ALERTOCCUR" />
			<!-- ALERT PREF - END -->
			
			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID" type="IEG_STRING" default=""/>
			<xsd:attribute name="alertPrefEvidenceID" type="IEG_STRING" default=""/>
			<!-- required for life event element -->
			
    	</xsd:complexType>
     </xsd:element>
	
	<!-- TAX INFO SCREEN - BEGIN -->
	<xsd:element name="TaxInfo">
        <xsd:complexType>
        <!-- Start ADO-13709 VTW Evidence Mapping configuration  -->
        	<xsd:attribute name="taxPersonID" type="D:SVR_KEY" />
        	<!-- end ADO-13709 VTW Evidence Mapping configuration  -->
			<xsd:attribute name="indianStatus" type="IEG_YES_NO" />
			<xsd:attribute name="dedIncomeTax" type="IEG_YES_NO" />
			<xsd:attribute name="dedIncomeTaxPay" type="IEG_YES_NO" />
			<xsd:attribute name="dedFedTax" type="IEG_YES_NO" />
			<xsd:attribute name="taxSituation" type="CT_TAXSITUATION" />
			<xsd:attribute name="dedMethod" type="CT_TAXDEDMTHOD" />
			<xsd:attribute name="childAge" type="D:SVR_INT64" />
			<xsd:attribute name="dollarAmount" type="BDM_MONEY" />
			<xsd:attribute name="dollarPerct" type="BDM_PERCENT" />
			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate"  type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID"  type="IEG_STRING" default=""/>
			<xsd:attribute name="taxInfoID" type="D:SVR_KEY"/>
			<xsd:attribute name="taxWithholdEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="taxWithholdPeriodDesc" type="IEG_STRING" default=""/>
			<xsd:attribute name="taxWithholdSelected" type="IEG_BOOLEAN" default="false"/>
			<xsd:attribute name="startDate" type="IEG_DATE" />
			<xsd:attribute name="originalStartDate" type="IEG_DATE" />
			<xsd:attribute name="changeEffectiveDate" type="IEG_DATE" />
			<xsd:attribute name="endDate" type="IEG_DATE" />
			<!-- required for life event element -->
		</xsd:complexType>
		<xsd:key name="TaxInfoKey">
			<xsd:selector xpath="TaxInfo"/>
			<xsd:field xpath="taxInfoID"/>
		</xsd:key>
     </xsd:element>
	<!-- TAX INFO SCREEN - END -->
	
	<!-- BDMLifeEventPaymentUpdate INFORMATION -->
	<xsd:element name="Payment">
        <xsd:complexType>
			<xsd:attribute name="bankAccountName" type="BDM_ACCOUNT_NAME"/>
			<xsd:attribute name="bankBranchNum" type="BDM_BRANCH_NUM"/>
			<xsd:attribute name="bankInstNum" type="BDM_INSTITUTION_NUM"/>
			<xsd:attribute name="accountNumber" type="BDM_ACCOUNT_NUM"/>
			<xsd:attribute name="sortCode" type="IEG_STRING"/>
			<xsd:attribute name="preferredBankAccount" type="BANK_ACCOUNT_CHOICE" default=""/>
			<xsd:attribute name="preferredPaymentMethod" type="PAYMENT_METHOD"/>
			<xsd:attribute name="bankEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="paymentID" type="D:SVR_KEY"/>
		</xsd:complexType>
		<xsd:key name="PaymentKey">
			<xsd:selector xpath="Payment"/>
			<xsd:field xpath="paymentID"/>
		</xsd:key>
     </xsd:element>
     <xsd:element name="PaymentBanks">
        <xsd:complexType>
			<xsd:attribute name="bankAccountNameAndNumber" type="IEG_STRING"/>
			<xsd:attribute name="preferredBankForProgram" type="IEG_YES_NO"/>
			<xsd:attribute name="bankBranchNum" type="BDM_BRANCH_NUM"/>
			<xsd:attribute name="bankInstNum" type="BDM_INSTITUTION_NUM"/>
			<xsd:attribute name="accountNumber" type="BDM_ACCOUNT_NUM"/>
			<xsd:attribute name="sortCode" type="IEG_STRING"/>
			<!-- required for life event element -->
			<xsd:attribute name="bankEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="paymentBanksID" type="D:SVR_KEY"/>
			<!-- required for life event element -->
		</xsd:complexType>
		<xsd:key name="PaymentBanksKey">
			<xsd:selector xpath="PaymentBanks"/>
			<xsd:field xpath="paymentBanksID"/>
		</xsd:key>
     </xsd:element>
     <xsd:element name="Programs">
        <xsd:complexType>
			<xsd:attribute name="activeProgramName" type="IEG_STRING"/>
			<xsd:attribute name="activeProgramSelected" type="IEG_YES_NO"/>
			<!-- required for life event element -->
			<xsd:attribute name="programCaseID" type="IEG_STRING" default=""/>
			<xsd:attribute name="programsID" type="D:SVR_KEY"/>
			<xsd:attribute name="programPaymentMethod" type="PAYMENT_METHOD" default=""/>
			<xsd:attribute name="programPaymentBankAccountID" type="IEG_STRING" default=""/>
			<xsd:attribute name="programPaymentBankAccountNumber" type="IEG_STRING" default=""/>
			<xsd:attribute name="programPaymentBankSortCode" type="IEG_STRING" default=""/>
			<!-- required for life event element -->
		</xsd:complexType>
		<xsd:key name="ProgramsKey">
			<xsd:selector xpath="Programs"/>
			<xsd:field xpath="programsID"/>
		</xsd:key>
     </xsd:element>     
	<!-- BDMLifeEventPaymentUpdate INFORMATION -->
	
	<!-- Begin Dependant INFORMATION -->
	<xsd:element name="Household">
        <xsd:complexType>
        	<xsd:attribute name="dependantsUnder18AtSameResidence" type="IEG_YES_NO"/>
		</xsd:complexType>
    </xsd:element>               
	<!-- Begin Dependant INFORMATION -->
	
	<!-- INCAR INFO PAGE - BEGIN -->
	<xsd:element name="Incarceration">
        <xsd:complexType>
			<xsd:attribute name="incarQuestion" type="IEG_YES_NO" />
			<!-- BEGIN TASK-27353 Institute MAx length -100  -->
			<xsd:attribute name="instName" type="BDM_INCARCERATION_INSTITUTION_NAME" />
			<!-- END TASK- 27353 -->
			<xsd:attribute name="startDateInca" type="IEG_DATE" />
			<xsd:attribute name="endDateInca" type="IEG_DATE" />

			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate"  type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID"  type="IEG_STRING" default=""/>
			<!-- required for life event element -->
			 <!-- BEGIN - task 9022 Incarceration life event  --> 
			<xsd:attribute name="incarcerationEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="incarcerationPeriodDesc" type="IEG_STRING" default=""/>
			<xsd:attribute name="incarcerationSelected" type="IEG_BOOLEAN" default="false"/>
			 <!-- END - task 9022 Incarceration life event  --> 
			
			</xsd:complexType>
     </xsd:element>
	<!-- INCAR INFO PAGE - END -->
	
	<!-- INCOME -->
	<xsd:element name="Income">
		<xsd:complexType>
			<xsd:attribute name="incomeAmount" type="IEG_MONEY"/>
			<!-- Begin - PN - 13978 Update income year-->
			<xsd:attribute name="incomeYear" type="IEG_STRING"/>
			<!-- End - PN - 13978 Update income year-->

			<!-- required for life event element -->
			<xsd:attribute name="localID" type="IEG_STRING" default=""/>
			<xsd:attribute name="curamEffectiveDate"  type="IEG_STRING" default=""/>
			<xsd:attribute name="curamDataStoreUniqueID"  type="IEG_STRING" default=""/>
			<!-- required for life event element -->
			<xsd:attribute name="incomeEvidenceID" type="IEG_STRING" default=""/>
			<xsd:attribute name="incomeDateChange" type="IEG_DATE"/>
		</xsd:complexType>
		</xsd:element>
	<!-- INCOME -->
	
	<!-- Begin: Add Submission -->
	<xsd:element name="Submission">
		<xsd:complexType>
            <xsd:attribute name="sigFirstName" type="IEG_STRING"/>
            <xsd:attribute name="middleInitial" type="IEG_STRING"/>
            <xsd:attribute name="sigLastName" type="IEG_STRING"/>
            <xsd:attribute name="rightsAndResponsibilitiesInd" type="IEG_BOOLEAN"/>
            <xsd:attribute name="acceptAttestation" type="IEG_YES_NO"/>
            <xsd:attribute name="managementAndProtectionOfHealthInd" type="IEG_BOOLEAN"/>
            <xsd:attribute name="authorizeReleaseInformationInd" type="IEG_BOOLEAN"/>
            <xsd:attribute name="applicantSignatureInd" type="IEG_BOOLEAN"/>
            <xsd:attribute name="interviewDate1" type="IEG_DATE"/>
            <xsd:attribute name="timeAvailable1" type="CP_OA_TIME_SLOT" default=""/>
            <xsd:attribute name="interviewDate2" type="IEG_DATE"/>
            <xsd:attribute name="timeAvailable2" type="CP_OA_TIME_SLOT" default=""/>
            <xsd:attribute name="interviewDate3" type="IEG_DATE"/>
            <xsd:attribute name="timeAvailable3" type="CP_OA_TIME_SLOT" default=""/>
            <!-- BEGIN TASK 14426 Add Program Selection and Getting Started Page for the script. -->            
            <xsd:attribute name="acceptAttestationGettingStarted" type="IEG_YES_NO"/>
            <!-- END TASK 14426 -->
		</xsd:complexType>
	</xsd:element>
</xsd:schema>