EJBServer/components/BDM/axis/ca/gc/bdm/address/wsdl/WSAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://GoC/ServiceCanada/SoftwareFactory/WebServices/"
                  xmlns:flt="http://interoperability.gc.ca/fault/2.0/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://GoC/ServiceCanada/SoftwareFactory/WebServices/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
	<!--TODO - NLynch - modify with actual namespace details -->
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <s:import namespace="http://GoC/ServiceCanada/SoftwareFactory/WebServices/" schemaLocation="../XSDs/WSAddress.xsd"/>
            <s:import namespace="http://interoperability.gc.ca/fault/2.0/" schemaLocation="../XSDs/fault.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ExecuteSoapIn">
        <wsdl:part name="parameters" element="tns:Execute"/>
    </wsdl:message>
    <wsdl:message name="ExecuteSoapOut">
        <wsdl:part name="parameters" element="tns:ExecuteResponse"/>
    </wsdl:message>
    <wsdl:message name="GenericFaultMessage">
        <wsdl:part name="part" element="flt:GenericFault"/>
    </wsdl:message>
    <wsdl:message name="ValidationFaultMessage">
        <wsdl:part name="part" element="flt:ValidationFault"/>
    </wsdl:message>
    <wsdl:message name="ServiceUnavailableFaultMessage">
        <wsdl:part name="part" element="flt:ServiceUnavailableFault"/>
    </wsdl:message>
    <wsdl:portType name="WSAddressSoap">
        <wsdl:operation name="Execute">
            <wsdl:input message="tns:ExecuteSoapIn"/>
            <wsdl:output message="tns:ExecuteSoapOut"/>
            <wsdl:fault name="ValidationFault" message="tns:ValidationFaultMessage"/>
            <wsdl:fault name="GenericFault" message="tns:GenericFaultMessage"/>
            <wsdl:fault name="ServiceUnavailableFault" message="tns:ServiceUnavailableFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSAddressSoap" type="tns:WSAddressSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Execute">
            <soap:operation soapAction="http://GoC/ServiceCanada/SoftwareFactory/WebServices/Execute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericFault">
                <soap:fault use="literal" name="GenericFault"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationFault">
                <soap:fault use="literal" name="ValidationFault"/>
            </wsdl:fault>
            <wsdl:fault name="ServiceUnavailableFault">
                <soap:fault use="literal" name="ServiceUnavailableFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSAddress">
        <wsdl:port name="WSAddressSoap" binding="tns:WSAddressSoap">
            <soap:address location="PROPERTY_REPLACEMENT"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>